Apache_NiFi_Logging.json
{"flowContents":{"identifier":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"Apache NiFi Logging","comments":"","position":{"x":1296.0,"y":2896.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"04e28ed5-dbda-347d-8e01-475d77aed30d","name":"TailFile_nifi-app.log","comments":"","position":{"x":536.0,"y":104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.TailFile","properties":{"tail-base-directory":null,"reread-on-nul":"false","tailfile-recursive-lookup":"false","File Location":"Local","tailfile-maximum-age":"24 hours","Rolling Filename Pattern":null,"Max Buffer Size":"64 KB","File to Tail":"/var/log/nifi/nifi-app.log","Initial Start Position":"Beginning of File","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file","Post-Rollover Tail Period":"0 sec"},"propertyDescriptors":{"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"reread-on-nul","identifiesControllerService":false,"sensitive":false},"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"284bd6a3-2230-3246-adf5-16bc83a9102a","name":"SplitText","comments":"","position":{"x":1168.0,"y":-96.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"6cb18b57-9344-3592-9b60-f3627bd653c5","name":"TailFile_Minifi_logs","comments":"","position":{"x":528.0,"y":-80.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.TailFile","properties":{"tail-base-directory":null,"reread-on-nul":"false","tailfile-recursive-lookup":"false","File Location":"Local","tailfile-maximum-age":"24 hours","Rolling Filename Pattern":null,"Max Buffer Size":"64 KB","File to Tail":"/var/log/minifi-c2-server/minifi-c2-server.log","Initial Start Position":"Beginning of File","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file","Post-Rollover Tail Period":"0 sec"},"propertyDescriptors":{"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"reread-on-nul","identifiesControllerService":false,"sensitive":false},"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"900e321d-42ce-3675-b39f-56d9292236d5","name":"PutSlack","comments":"","position":{"x":1168.0,"y":528.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.slack.PutSlack","properties":{"icon-emoji":null,"webhook-text":"Hi, \n An Error occoured at ${grok.timestamp} with Service ${grok.thread}. Error msg ${grok.message}","channel":"#demo-logging","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"8aad1919-0958-318d-b2e1-4ebe7e7922aa","name":"ExtractGrok","comments":"","position":{"x":1176.0,"y":296.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractGrok","properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} \\[%{DATA:thread}\\] %{DATA:class} %{GREEDYDATA:message}","Destination":"flowfile-attribute","Keep Empty Captures":"true","Grok Pattern file":null,"Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Named captures only":"false"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Keep Empty Captures":{"name":"Keep Empty Captures","displayName":"Keep Empty Captures","identifiesControllerService":false,"sensitive":false},"Grok Pattern file":{"name":"Grok Pattern file","displayName":"Grok Pattern file","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Named captures only":{"name":"Named captures only","displayName":"Named captures only","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"d1b39dff-f037-3822-a5d3-201a3dd69110","name":"RouteOnContent","comments":"","position":{"x":1176.0,"y":104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnContent","properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","ERROR":"ERROR","INFO":"INFO","Character Set":"UTF-8","DEBUG":"DEBUG","WARN":"WARN"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"ERROR":{"name":"ERROR","displayName":"ERROR","identifiesControllerService":false,"sensitive":false},"INFO":{"name":"INFO","displayName":"INFO","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"DEBUG":{"name":"DEBUG","displayName":"DEBUG","identifiesControllerService":false,"sensitive":false},"WARN":{"name":"WARN","displayName":"WARN","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"fe9a8720-89fe-3e49-a489-d534eb86a6fd","name":"UpdateAttribute","comments":"","position":{"x":1792.0,"y":112.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"df510d76-0376-33fc-a280-ee64d6be1fb1","name":"","source":{"id":"d1b39dff-f037-3822-a5d3-201a3dd69110","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"RouteOnContent","comments":""},"destination":{"id":"fe9a8720-89fe-3e49-a489-d534eb86a6fd","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["INFO"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1660.0,"y":97.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"0aaf86f3-0a6a-3fe3-af72-e4cd65307ce5","name":"","source":{"id":"d1b39dff-f037-3822-a5d3-201a3dd69110","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"RouteOnContent","comments":""},"destination":{"id":"fe9a8720-89fe-3e49-a489-d534eb86a6fd","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["WARN"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1660.0,"y":247.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"8c1957a6-1d6c-3017-94c6-84f08e88bf98","name":"","source":{"id":"d1b39dff-f037-3822-a5d3-201a3dd69110","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"RouteOnContent","comments":""},"destination":{"id":"8aad1919-0958-318d-b2e1-4ebe7e7922aa","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"ExtractGrok","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"62af9fd8-2ea4-3219-bad5-145dd88ba3a0","name":"","source":{"id":"284bd6a3-2230-3246-adf5-16bc83a9102a","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"SplitText","comments":""},"destination":{"id":"d1b39dff-f037-3822-a5d3-201a3dd69110","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"RouteOnContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"a1de2091-6a4c-3403-b2cf-444627cf09aa","name":"","source":{"id":"04e28ed5-dbda-347d-8e01-475d77aed30d","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"TailFile_nifi-app.log","comments":""},"destination":{"id":"284bd6a3-2230-3246-adf5-16bc83a9102a","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"4f11bf0b-1563-3339-a1cc-95c87b5fe352","name":"","source":{"id":"8aad1919-0958-318d-b2e1-4ebe7e7922aa","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"ExtractGrok","comments":""},"destination":{"id":"900e321d-42ce-3675-b39f-56d9292236d5","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"PutSlack","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"b5e80313-e9a5-3759-8a60-1e239124debf","name":"","source":{"id":"6cb18b57-9344-3592-9b60-f3627bd653c5","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"TailFile_Minifi_logs","comments":""},"destination":{"id":"284bd6a3-2230-3246-adf5-16bc83a9102a","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"},{"identifier":"78a4ebe6-5447-3404-ae2d-a3752305a860","name":"","source":{"id":"d1b39dff-f037-3822-a5d3-201a3dd69110","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"RouteOnContent","comments":""},"destination":{"id":"fe9a8720-89fe-3e49-a489-d534eb86a6fd","type":"PROCESSOR","groupId":"a1751654-7987-3b38-9d18-8775ec4019ab","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["DEBUG"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"}],"labels":[{"identifier":"9303e583-c2f9-3719-a338-90346a530d8d","position":{"x":1016.0,"y":488.0},"label":"Setup Slack Webhook here\n","width":664.0,"height":224.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a1751654-7987-3b38-9d18-8775ec4019ab"}],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}