FCS_ZPPCD.json
{"flowContents":{"identifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"FCS ZPPCD","comments":"","position":{"x":-328.0,"y":-544.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"af04d2bf-1d21-3f3f-bfee-dd5738542c4a","name":"ReplaceText","comments":"","position":{"x":-156.93766436938768,"y":-1271.212217417228},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"([ ]+)([0-9]*[\\.]?[0-9]+)","Replacement Value":"$2","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"ca7960c7-764d-33bd-829e-2158c8612251","name":"ListSFTP_VM_Pal_1759","comments":"","position":{"x":-688.0,"y":-2016.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ListSFTP","properties":{"Proxy Host":null,"Minimum File Age":"0 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"3 hours","Proxy Type":"DIRECT","Connection Timeout":"30 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"false","Minimum File Size":"0 B","Search Recursively":"false","Strict Host Key Checking":"false","File Filter Regex":null,"Maximum File Age":null,"Http Proxy Username":null,"Hostname":"10.223.16.77","Maximum File Size":null,"Remote Path":"/home/palantir/SAP_PROD/PDP/1759/ZPPCD","Host Key File":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"30 sec","Private Key Path":null,"Username":"palantir","target-system-timestamp-precision":"auto-detect","et-state-cache":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"900 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"85aceaf0-56c4-3ef8-9cf3-f22d9e7ef074","name":"PutInfluxDBinAzureProduction","comments":"","position":{"x":546.7903025507541,"y":-696.6910894991688},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#ffffff"},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"masterdata_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"1 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"25d1b718-09d4-30ca-a4e6-dc2157144e0d","name":"SplitJson","comments":"","position":{"x":538.2915024202675,"y":-1549.2626021963133},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.PDP_SchedulesData.ZPPCD"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"7e112a46-a0d8-375c-8f28-707c937c3abe","name":"FetchSFTP","comments":"","position":{"x":536.0,"y":-1816.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.FetchSFTP","properties":{"Proxy Host":null,"Port":"22","Remote File":"${path}/${filename}","proxy-configuration-service":null,"Http Proxy Username":null,"Hostname":"10.223.16.77","Create Directory":"false","Host Key File":null,"Use Compression":"false","Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Proxy Type":"DIRECT","Completion Strategy":"None","Proxy Port":null,"fetchfiletransfer-notfound-loglevel":"ERROR","Connection Timeout":"30 sec","Data Timeout":"30 sec","Private Key Path":null,"Username":"palantir","Move Destination Directory":"${path:substringBeforeLast('/')}/ARCHIVE","Strict Host Key Checking":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"6d481972-e0da-3ca8-80f9-7b9a947221c4","name":"UpdateAttribute","comments":"","position":{"x":-88.0,"y":-1816.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"plant_id":"1228","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"plant_id":{"name":"plant_id","displayName":"plant_id","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"05630d4f-b0f0-3d43-8857-81d8c14bc208","name":"TransformXml","comments":"","position":{"x":-157.8936111425528,"y":-1541.6359689257586},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.TransformXml","properties":{"xslt-controller-key":null,"xslt-controller":null,"secure-processing":"true","cache-size":"10","indent-output":"true","XSLT file name":"/etc/nifi-ext/xml_to_json_full_string.xslt","cache-ttl-after-last-access":"60 secs"},"propertyDescriptors":{"xslt-controller-key":{"name":"xslt-controller-key","displayName":"XSLT Lookup key","identifiesControllerService":false,"sensitive":false},"xslt-controller":{"name":"xslt-controller","displayName":"XSLT Lookup","identifiesControllerService":true,"sensitive":false},"secure-processing":{"name":"secure-processing","displayName":"Secure processing","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache size","identifiesControllerService":false,"sensitive":false},"indent-output":{"name":"indent-output","displayName":"Indent","identifiesControllerService":false,"sensitive":false},"XSLT file name":{"name":"XSLT file name","displayName":"XSLT file name","identifiesControllerService":false,"sensitive":false},"cache-ttl-after-last-access":{"name":"cache-ttl-after-last-access","displayName":"Cache TTL after last access","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"ab391388-2d31-3da6-8f5b-d471ce30935c","name":"UpdateAttribute","comments":"","position":{"x":-88.0,"y":-2008.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"plant_id":"1759","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"plant_id":{"name":"plant_id","displayName":"plant_id","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"828f984b-6285-3c1b-a795-8bfd751d1152","name":"MergeContent","comments":"","position":{"x":539.5843783830607,"y":-1270.8017377959009},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Defragment","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Filename","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"82d3836d-1422-31e2-a8d5-7e0a45a8f942","name":"ReplaceText","comments":"","position":{"x":-154.63515989180075,"y":-687.3337072530401},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"files_from_masterdata,application_source=${application},file_source=${folder} nb_files=1,nb_bytes=${fileSize} ${now():toNumber()}000000","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"817db7d2-3506-3120-b2ae-ad5e861232cd","name":"UpdateAttribute","comments":"","position":{"x":-155.61477890783613,"y":-986.725011777783},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${filename:getDelimitedField(1,'.'):replaceAll('([0-9]{8})\\-([0-9]{6})','$1_$2')}.parquet","folder":"fcs_zppcd_${plant_id}","application":"FCS","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"folder":{"name":"folder","displayName":"folder","identifiesControllerService":false,"sensitive":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"annotationData":"<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"04417e43-2bb9-3b19-b0d6-d0c84ad07874","name":"PutParquetInAzure","comments":"","position":{"x":544.0,"y":-992.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.parquet.PutParquet","properties":{"Hadoop Configuration Resources":"/etc/hadoop-azure-prd/conf/core-site.xml,/etc/hadoop-azure-prd/conf/hdfs-site.xml","max-padding-size":null,"avro-write-old-list-structure":"true","Additional Classpath Resources":null,"permissions-umask":null,"remote-group":null,"row-group-size":null,"remote-owner":null,"enable-dictionary-encoding":null,"kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","page-size":null,"writer-version":null,"Kerberos Keytab":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"Kerberos Principal":null,"record-reader":"19b4db93-7f02-3191-a665-0be5ea9b528a","Kerberos Relogin Period":"4 hours","overwrite":"false","avro-add-list-element-records":"true","remove-crc-files":"false","Directory":"/datalake/common/raw/masterdata/${folder}/to_process"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"permissions-umask":{"name":"permissions-umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"remote-group":{"name":"remote-group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"remote-owner":{"name":"remote-owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"overwrite":{"name":"overwrite","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false},"remove-crc-files":{"name":"remove-crc-files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"3ee4b3dc-7d7d-379e-b718-ed0edc1f1dcb","name":"ListSFTP_VM_Pal_1228","comments":"","position":{"x":-688.0,"y":-1816.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ListSFTP","properties":{"Proxy Host":null,"Minimum File Age":"0 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"3 hours","Proxy Type":"DIRECT","Connection Timeout":"30 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"false","Minimum File Size":"0 B","Search Recursively":"false","Strict Host Key Checking":"false","File Filter Regex":null,"Maximum File Age":null,"Http Proxy Username":null,"Hostname":"10.223.16.77","Maximum File Size":null,"Remote Path":"/home/palantir/SAP_PROD/PDP/1228/ZPPCD","Host Key File":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"30 sec","Private Key Path":null,"Username":"palantir","target-system-timestamp-precision":"auto-detect","et-state-cache":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"900 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"26b4713f-b7cf-37fc-b88a-12bee2a9ef3b","name":"","source":{"id":"25d1b718-09d4-30ca-a4e6-dc2157144e0d","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"SplitJson","comments":""},"destination":{"id":"be2d2071-cad7-39e2-bcab-305cc9fcdfd0","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"ad640d69-d016-37f1-a022-effddab89b01","name":"","source":{"id":"af04d2bf-1d21-3f3f-bfee-dd5738542c4a","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ReplaceText","comments":""},"destination":{"id":"828f984b-6285-3c1b-a795-8bfd751d1152","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"40d5acd5-c22b-3308-aa86-67dd2acd8847","name":"","source":{"id":"af04d2bf-1d21-3f3f-bfee-dd5738542c4a","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ReplaceText","comments":""},"destination":{"id":"7ca921c2-f9cc-3ee3-82ce-b8fb247df001","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"9e06b998-fcc5-3f5d-b68a-6db0991b432f","name":"","source":{"id":"7e112a46-a0d8-375c-8f28-707c937c3abe","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"FetchSFTP","comments":""},"destination":{"id":"94b0c5d6-52c3-387f-bab0-91a91da51a49","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"554f09a1-a831-31a4-84ed-595a82ae3502","name":"","source":{"id":"ab391388-2d31-3da6-8f5b-d471ce30935c","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"UpdateAttribute","comments":""},"destination":{"id":"7e112a46-a0d8-375c-8f28-707c937c3abe","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"FetchSFTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"686fb268-50eb-3a3d-9eee-19ae18f9744b","name":"","source":{"id":"04417e43-2bb9-3b19-b0d6-d0c84ad07874","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"PutParquetInAzure","comments":""},"destination":{"id":"82d3836d-1422-31e2-a8d5-7e0a45a8f942","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"7f12d9f6-b1b7-305f-8621-91df9084b585","name":"","source":{"id":"6d481972-e0da-3ca8-80f9-7b9a947221c4","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"UpdateAttribute","comments":""},"destination":{"id":"7e112a46-a0d8-375c-8f28-707c937c3abe","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"FetchSFTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"0afcab66-4362-3a57-8331-5f584fe1156b","name":"","source":{"id":"817db7d2-3506-3120-b2ae-ad5e861232cd","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"UpdateAttribute","comments":""},"destination":{"id":"04417e43-2bb9-3b19-b0d6-d0c84ad07874","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"PutParquetInAzure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"9d6fb951-8d15-33bc-a25a-7f88ae7c2262","name":"","source":{"id":"828f984b-6285-3c1b-a795-8bfd751d1152","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"MergeContent","comments":""},"destination":{"id":"01df5518-d5be-37f0-92eb-10869bd3f288","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"32a57adc-f2a8-3d36-bfcc-2e456f1a8539","name":"","source":{"id":"25d1b718-09d4-30ca-a4e6-dc2157144e0d","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"SplitJson","comments":""},"destination":{"id":"af04d2bf-1d21-3f3f-bfee-dd5738542c4a","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"a00dcb8a-0d9d-3c15-bb9f-1d52e0a91766","name":"","source":{"id":"82d3836d-1422-31e2-a8d5-7e0a45a8f942","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ReplaceText","comments":""},"destination":{"id":"85aceaf0-56c4-3ef8-9cf3-f22d9e7ef074","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"PutInfluxDBinAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"aaf09201-d85b-3961-a592-9730e1b18016","name":"","source":{"id":"82d3836d-1422-31e2-a8d5-7e0a45a8f942","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ReplaceText","comments":""},"destination":{"id":"3ed98d45-52b1-39bc-93d4-e7abdd1bf906","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"48a4f48a-d775-3126-896e-2e863e2ce4d4","name":"","source":{"id":"05630d4f-b0f0-3d43-8857-81d8c14bc208","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"TransformXml","comments":""},"destination":{"id":"8428fb53-ae0c-3740-ba03-6edfa37af484","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"746296eb-2ffb-3a6b-9701-8dce156757fb","name":"","source":{"id":"3ee4b3dc-7d7d-379e-b718-ed0edc1f1dcb","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ListSFTP_VM_Pal_1228","comments":""},"destination":{"id":"6d481972-e0da-3ca8-80f9-7b9a947221c4","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"UpdateAttribute","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"cbe25c33-81da-3bcb-bcda-0ded999238e6","name":"","source":{"id":"04417e43-2bb9-3b19-b0d6-d0c84ad07874","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"PutParquetInAzure","comments":""},"destination":{"id":"b02bdbd9-7fae-3a2c-b226-a83de36e1831","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"bf1e5758-9d37-3dd9-8e45-7170b3d56405","name":"","source":{"id":"05630d4f-b0f0-3d43-8857-81d8c14bc208","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"TransformXml","comments":""},"destination":{"id":"25d1b718-09d4-30ca-a4e6-dc2157144e0d","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"274270b3-7e40-3e65-88b5-ae122cdb97cf","name":"","source":{"id":"828f984b-6285-3c1b-a795-8bfd751d1152","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"MergeContent","comments":""},"destination":{"id":"817db7d2-3506-3120-b2ae-ad5e861232cd","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"407a48ee-2ff5-3604-b681-7429172f9c27","name":"","source":{"id":"85aceaf0-56c4-3ef8-9cf3-f22d9e7ef074","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"PutInfluxDBinAzureProduction","comments":""},"destination":{"id":"b5030d65-032d-3080-af78-9e5ba3c6fa3e","type":"FUNNEL","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"7ed4fd3f-6d25-3e0a-817b-9a3e795f5ce3","name":"","source":{"id":"7e112a46-a0d8-375c-8f28-707c937c3abe","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"FetchSFTP","comments":""},"destination":{"id":"05630d4f-b0f0-3d43-8857-81d8c14bc208","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"TransformXml","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"55f0a5dd-e698-323f-a49b-0a6acf7d8e1b","name":"","source":{"id":"ca7960c7-764d-33bd-829e-2158c8612251","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"ListSFTP_VM_Pal_1759","comments":""},"destination":{"id":"ab391388-2d31-3da6-8f5b-d471ce30935c","type":"PROCESSOR","groupId":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"}],"labels":[{"identifier":"fafb317a-5ed6-34f8-89e9-47da9900f9a2","position":{"x":-112.0,"y":-720.0},"label":"Diabled","width":148.0,"height":148.0,"style":{"background-color":"#ff0000","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"}],"funnels":[{"identifier":"94b0c5d6-52c3-387f-bab0-91a91da51a49","position":{"x":684.1660055018403,"y":-1626.3957523086626},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"3ed98d45-52b1-39bc-93d4-e7abdd1bf906","position":{"x":-2.137788730315606,"y":-498.2310982924515},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"8428fb53-ae0c-3740-ba03-6edfa37af484","position":{"x":-8.38136810218748,"y":-1354.9574632977149},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"b02bdbd9-7fae-3a2c-b226-a83de36e1831","position":{"x":694.6606909905272,"y":-799.777770268727},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"b5030d65-032d-3080-af78-9e5ba3c6fa3e","position":{"x":699.9094840842545,"y":-507.564246268184},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"be2d2071-cad7-39e2-bcab-305cc9fcdfd0","position":{"x":690.9617776136212,"y":-1345.8867621253644},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"7ca921c2-f9cc-3ee3-82ce-b8fb247df001","position":{"x":-5.721405150810597,"y":-1082.54732136001},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"},{"identifier":"01df5518-d5be-37f0-92eb-10869bd3f288","position":{"x":688.2345909362227,"y":-1081.2336547447944},"componentType":"FUNNEL","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"}],"controllerServices":[{"identifier":"19b4db93-7f02-3191-a665-0be5ea9b528a","name":"FCSJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"55e0e820-c6a8-33ac-8c3a-3293bb2e506b"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"a230db91-a977-343d-b94a-123e9c098fbb":{"identifier":"a230db91-a977-343d-b94a-123e9c098fbb","name":"AzureDatalakeKeytabService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}