iACT.json
{"flowContents":{"identifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"iACT","comments":"","position":{"x":-906.5867328401675,"y":-539.9643525665422},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b631bc47-e833-3731-821a-46c0439fc471","name":"PutSolrContentStreamAzureProduction","comments":"","position":{"x":1640.102023983843,"y":1777.5950348991441},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#e81038"},"type":"org.apache.nifi.processors.solr.PutSolrContentStream","properties":{"Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","kerberos-credentials-service":null,"SSL Context Service":"c0741bb8-ea0b-39e2-9291-986954415119","Solr Maximum Connections Per Host":"5","Username":"9lsbigdatarun","Solr Connection Timeout":"10 seconds","Collection":"iact_faurecia_andon","Solr Location":"wwvcaapp0023.dc.ege.ds:2181,wwvcaapp0024.dc.ege.ds:2181,wwvcaapp0025.dc.ege.ds:2181/solr","Content Stream Path":"/update/json/docs","Solr Type":"Cloud","Content-Type":"application/json","Commit Within":"5000"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Content Stream Path":{"name":"Content Stream Path","displayName":"Content Stream Path","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"b848b7c0-eec2-3360-88a5-8553d3c2a846","name":"RouteOnAttribute","comments":"","position":{"x":1136.0,"y":512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to 'match' if all match","type":"${type:equals(\"C\")}","status":"${status:equals(\"01\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"1680b762-4ea5-37f7-b0fd-70a4b7f802ee","name":"RetryFlowFile","comments":"","position":{"x":-984.0,"y":904.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"f6b28b3a-5417-35f4-94d6-6ba345401a66","name":"RouteOnAttribute","comments":"","position":{"x":2264.0,"y":1784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","nb_retry_less_3":"${nb_retry:le(3)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nb_retry_less_3":{"name":"nb_retry_less_3","displayName":"nb_retry_less_3","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"45eb6510-e385-30ef-8bd6-8f89417b83cc","name":"RouteOnAttribute","comments":"","position":{"x":2241.054060741025,"y":1553.7357429146793},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","nb_retry_less_3":"${nb_retry:le(3)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nb_retry_less_3":{"name":"nb_retry_less_3","displayName":"nb_retry_less_3","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"7c92994d-5972-3a41-8056-edad0348ba02","name":"LookupRecord","comments":"","position":{"x":1144.0,"y":1144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.LookupRecord","properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","result-record-path":"/CAUSE","record-writer":"ed3bc874-621c-3bb3-a94b-07594e4dfca0","record-reader":"bceb05ac-a601-390c-8366-654016584716","lookup-service":"fc47e6f6-100f-332b-8d13-dd64c5486300","record-update-strategy":"use-property","key":"/CAUSE"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"9d841dd3-81ca-3e01-a455-3663c9d00280","name":"UpdateAttribute","comments":"","position":{"x":1643.6151465521493,"y":2045.521123749712},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","nb_retry":"${nb_retry:isNull():ifElse(1, ${nb_retry:plus(1)})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"nb_retry":{"name":"nb_retry","displayName":"nb_retry","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"536eb52f-3728-39fc-a9ba-08ccf49ad483","name":"RouteOnAttribute","comments":"","position":{"x":175.84304501643192,"y":670.086182521763},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","plant":"${plant:isEmpty():not():and(${plant:matches(\"[0-9]{4}\")})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"9e911cc2-275b-34bb-9d6a-ba35be619baa","name":"Kafka_send_data_to_Azure_PROD","comments":"","position":{"x":-256.8456741444767,"y":1094.2952303539782},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#cf0f48"},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"plant-data-${plant}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"150db18f-514b-30b1-bb9a-fbc11282cd6e","name":"UpdateAttribute","comments":"","position":{"x":1142.2666408457353,"y":713.7144417894625},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","id":"${plant}-${machine}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"1a9e52bc-fb1e-3555-88bd-c9cef2f48e5a","name":"EvaluateJsonPath","comments":"","position":{"x":177.13093619319852,"y":304.8724823471248},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","plant":"$.DE_PLANT","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"4b9c4237-726b-3c16-8a25-ae19894959c8","name":"PutSolrContentStreamAzureStaging","comments":"","position":{"x":1640.0,"y":1552.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#24a62b"},"type":"org.apache.nifi.processors.solr.PutSolrContentStream","properties":{"Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","kerberos-credentials-service":null,"SSL Context Service":"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3","Solr Maximum Connections Per Host":"5","Username":"9lsbigdatarun","Solr Connection Timeout":"10 seconds","Collection":"iact_faurecia_andon","Solr Location":"wwvcaapp0002.dc.ege.ds:2181,wwvcaapp0003.dc.ege.ds:2181,wwvcaapp0004.dc.ege.ds:2181/solr","Content Stream Path":"/update/json/docs","Solr Type":"Cloud","Content-Type":"application/json","Commit Within":"5000"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Content Stream Path":{"name":"Content Stream Path","displayName":"Content Stream Path","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"bafeb5fe-3b60-3941-9563-c6c79014af31","name":"AzureConsumePlantJSONChannelProd","comments":"","position":{"x":676.7293314471356,"y":18.642847496290983},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0","properties":{"header-name-regex":null,"sasl.username":null,"max.poll.records":"10000","group.id":"groupid-plant-json-channel-prod","bootstrap.servers":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SSL","kerberos-credentials-service":null,"ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","sasl.kerberos.keytab":null,"honor-transactions":"false","Communications Timeout":"60 secs","topic":"plant-json-channel-prod","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","max.poll.interval.ms":"10000","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"max.poll.interval.ms":{"name":"max.poll.interval.ms","displayName":"max.poll.interval.ms","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"7ce839ff-9b47-3b3d-940e-db92a515f5fb","name":"EvaluateJsonPath","comments":"","position":{"x":1140.7509241139126,"y":295.3766684958225},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","machine":"$.DE_MACHINE","Return Type":"auto-detect","plant":"$.DE_PLANT","Null Value Representation":"empty string","type":"$.DE_TYPE","startDate":"$.START_DATE","tool":"$.TOOL","Path Not Found Behavior":"ignore","status":"$.DE_STATUS"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"machine":{"name":"machine","displayName":"machine","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false},"startDate":{"name":"startDate","displayName":"startDate","identifiesControllerService":false,"sensitive":false},"tool":{"name":"tool","displayName":"tool","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"c4508246-968d-3cce-aebd-2abe604abf0b","name":"RetryFlowFile","comments":"","position":{"x":-976.0,"y":1088.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"43817141-45cf-3991-8b5b-b53ea4508968","name":"Kafka_send_data_to_Azure_STAG","comments":"","position":{"x":-263.5591848962009,"y":890.9234652172595},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#239154"},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0005.dc.ege.ds:9093,wwvcaapp0006.dc.ege.ds:9093,wwvcaapp0007.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"plant-data-${plant}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"36741122-8e4d-3712-9cd1-336d48777c1b","name":"RouteOnAttribute","comments":"","position":{"x":344.0,"y":960.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","topic_exist":"${plant:in(\"1001\",\"1004\",\"1011\",\"1013\",\"1015\",\"1017\",\"1020\",\"1021\",\"1031\",\"1032\",\"1033\",\"1037\",\"1038\",\"1039\",\"1045\",\"1057\",\"1058\",\"1059\",\"1062\",\"1065\",\"1067\",\"1069\",\"1081\",\"1082\",\"1090\",\"1093\",\"1098\",\"1100\",\"1106\",\"1111\",\"1112\",\"1119\",\"1121\",\"1129\",\"1130\",\"1132\",\"1137\",\"1138\",\"1139\",\"1146\",\"1148\",\"1150\",\"1152\",\"1155\",\"1162\",\"1165\",\"1170\",\"1172\",\"1173\",\"1179\",\"1182\",\"1205\",\"1213\",\"1216\",\"1219\",\"1229\",\"1233\",\"1237\",\"1240\",\"1241\",\"1242\",\"1244\",\"1250\",\"1254\",\"1256\",\"1258\",\"1268\",\"1270\",\"1271\",\"1281\",\"1282\",\"1297\",\"1298\",\"1299\",\"1308\",\"1313\",\"1317\",\"1318\",\"1320\",\"1336\",\"1343\",\"1344\",\"1345\",\"1346\",\"1349\",\"1350\",\"1353\",\"1355\",\"1359\",\"1361\",\"1362\",\"1364\",\"1368\",\"1369\",\"1385\",\"1388\",\"1391\",\"1393\",\"1394\",\"1397\",\"1399\",\"1401\",\"1408\",\"1409\",\"1410\",\"1411\",\"1412\",\"1416\",\"1417\",\"1421\",\"1427\",\"1428\",\"1429\",\"1432\",\"1433\",\"1439\",\"1440\",\"1450\",\"1454\",\"1464\",\"1467\",\"1468\",\"1476\",\"1478\",\"1483\",\"1490\",\"1491\",\"1492\",\"1494\",\"1496\",\"1498\",\"1499\",\"1501\",\"1503\",\"1505\",\"1507\",\"1511\",\"1512\",\"1515\",\"1517\",\"1534\",\"1536\",\"1537\",\"1538\",\"1542\",\"1543\",\"1544\",\"1545\",\"1548\",\"1556\",\"1559\",\"1560\",\"1571\",\"1576\",\"1581\",\"1582\",\"1585\",\"1586\",\"1591\",\"1593\",\"1598\",\"1599\",\"1600\",\"1604\",\"1606\",\"1607\",\"1608\",\"1611\",\"1612\",\"1613\",\"1616\",\"1624\",\"1626\",\"1631\",\"1634\",\"1642\",\"1643\",\"1644\",\"1653\",\"1656\",\"1657\",\"1658\",\"1665\",\"1672\",\"1673\",\"1680\",\"1686\",\"1688\",\"1695\",\"1700\",\"1702\",\"1703\",\"1706\",\"1709\",\"1711\",\"1712\",\"1716\",\"1719\",\"1720\",\"1721\",\"1722\",\"1724\",\"1725\",\"1728\",\"1732\",\"1737\",\"1745\",\"1749\",\"1758\",\"1759\",\"1760\",\"1765\",\"1769\",\"1771\",\"1774\",\"1783\",\"1786\",\"1787\",\"1788\",\"1791\",\"1792\",\"1793\",\"1794\",\"1795\",\"1798\",\"1800\",\"1801\",\"1802\",\"1809\",\"1817\",\"1820\",\"1821\",\"1826\",\"1837\",\"1848\",\"1849\",\"1853\",\"1856\",\"1866\",\"1870\",\"1874\",\"1876\",\"1909\",\"1915\",\"1922\",\"1925\",\"1926\",\"1927\",\"1936\",\"1940\",\"1969\",\"1980\",\"1996\",\"2007\",\"2008\",\"2010\",\"2011\",\"2012\",\"2013\",\"2018\",\"2020\",\"2045\",\"2103\",\"2110\",\"2125\",\"2137\",\"2156\",\"2157\",\"2173\",\"2209\",\"2231\",\"2236\",\"2273\",\"2299\",\"2327\",\"2413\",\"2428\",\"9017\",\"9021\",\"9223\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"topic_exist":{"name":"topic_exist","displayName":"topic_exist","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"1c2d6f21-703f-3389-a509-858a158071bf","name":"UpdateAttribute","comments":"","position":{"x":1640.0,"y":1312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","nb_retry":"${nb_retry:isNull():ifElse(1, ${nb_retry:plus(1)})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"nb_retry":{"name":"nb_retry","displayName":"nb_retry","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"ae417533-953e-32bf-a7a0-98f558f60716","name":"JoltTransformJSON","comments":"","position":{"x":1145.298135427193,"y":924.3989838023244},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[\n    {\n        \"operation\": \"default\",\n        \"spec\": {\n            \"PLANT\": \"${plant}\",\n            \"MACHINE\": \"${machine}\",\n            \"STATUS\": \"NTRS\",\n            \"DE_TIMESTAMP\": \"${startDate}\",\n            \"START_DATE\": \"${startDate}\",\n\t\t\t\"TOOL\": \"${TOOL}\",\n            \"END_DATE\": \"END_DATE\",\n\t\t\t\"CAUSE\": \"CAUSE\",\n\t\t\t\"id\": \"${plant}-${machine}\"\n        }\n    }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"49b54bc2-67c3-3ea2-8f67-129d6cc42a6c","name":"","source":{"id":"1a9e52bc-fb1e-3555-88bd-c9cef2f48e5a","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"EvaluateJsonPath","comments":""},"destination":{"id":"d522e8d1-738f-3c3f-9ffe-2aec2217e99f","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"53490c0d-c6eb-3a31-8afa-c219240373ea","name":"","source":{"id":"1a9e52bc-fb1e-3555-88bd-c9cef2f48e5a","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"EvaluateJsonPath","comments":""},"destination":{"id":"536eb52f-3728-39fc-a9ba-08ccf49ad483","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"8df501cf-25e0-3166-b14c-48d2d2913b7b","name":"","source":{"id":"c4508246-968d-3cce-aebd-2abe604abf0b","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RetryFlowFile","comments":""},"destination":{"id":"9e911cc2-275b-34bb-9d6a-ba35be619baa","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Kafka_send_data_to_Azure_PROD","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"7b98b674-97d4-3b56-9d01-70865a25b6ff","name":"","source":{"id":"7c92994d-5972-3a41-8056-edad0348ba02","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"LookupRecord","comments":""},"destination":{"id":"4b9c4237-726b-3c16-8a25-ae19894959c8","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"PutSolrContentStreamAzureStaging","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"0feb03e0-9712-3b16-8c73-865ff5ea7035","name":"","source":{"id":"36741122-8e4d-3712-9cd1-336d48777c1b","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"43817141-45cf-3991-8b5b-b53ea4508968","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Kafka_send_data_to_Azure_STAG","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["topic_exist"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"00784967-49f3-3ec7-b72e-7eeaa49dab3a","name":"","source":{"id":"b631bc47-e833-3731-821a-46c0439fc471","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"PutSolrContentStreamAzureProduction","comments":""},"destination":{"id":"9d841dd3-81ca-3e01-a455-3663c9d00280","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["connection_failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"eb040bb4-e10e-3557-b04d-da0986c3d9bc","name":"","source":{"id":"45eb6510-e385-30ef-8bd6-8f89417b83cc","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"4b9c4237-726b-3c16-8a25-ae19894959c8","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"PutSolrContentStreamAzureStaging","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nb_retry_less_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"0cc3c4de-515c-3061-9de7-763cca29fbc6","name":"","source":{"id":"bafeb5fe-3b60-3941-9563-c6c79014af31","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"AzureConsumePlantJSONChannelProd","comments":""},"destination":{"id":"1a9e52bc-fb1e-3555-88bd-c9cef2f48e5a","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"f77db389-58f0-34b2-b0b3-bcaa14158c4f","name":"","source":{"id":"43817141-45cf-3991-8b5b-b53ea4508968","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Kafka_send_data_to_Azure_STAG","comments":""},"destination":{"id":"1680b762-4ea5-37f7-b0fd-70a4b7f802ee","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"dd7529b6-4cb8-3a18-8478-58a24b93c719","name":"","source":{"id":"9d841dd3-81ca-3e01-a455-3663c9d00280","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"UpdateAttribute","comments":""},"destination":{"id":"f6b28b3a-5417-35f4-94d6-6ba345401a66","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"5a3b4155-f35b-3a31-920e-c909238aff62","name":"","source":{"id":"7ce839ff-9b47-3b3d-940e-db92a515f5fb","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"EvaluateJsonPath","comments":""},"destination":{"id":"b848b7c0-eec2-3360-88a5-8553d3c2a846","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"5984e7ac-4084-318d-9d10-44b7002f42b3","name":"","source":{"id":"536eb52f-3728-39fc-a9ba-08ccf49ad483","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"36741122-8e4d-3712-9cd1-336d48777c1b","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["plant"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"b3b1a25b-6609-3b64-b5d5-200de3bbbe2e","name":"","source":{"id":"4b9c4237-726b-3c16-8a25-ae19894959c8","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"PutSolrContentStreamAzureStaging","comments":""},"destination":{"id":"1c2d6f21-703f-3389-a509-858a158071bf","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["connection_failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"8be193f4-d380-353a-95cd-ad05892a5730","name":"","source":{"id":"bafeb5fe-3b60-3941-9563-c6c79014af31","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"AzureConsumePlantJSONChannelProd","comments":""},"destination":{"id":"7ce839ff-9b47-3b3d-940e-db92a515f5fb","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"08985136-2d75-32a7-a267-1e27ec88c11b","name":"","source":{"id":"150db18f-514b-30b1-bb9a-fbc11282cd6e","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"UpdateAttribute","comments":""},"destination":{"id":"ae417533-953e-32bf-a7a0-98f558f60716","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"c64faaae-678e-3d8e-bea0-b1e7cf539809","name":"","source":{"id":"36741122-8e4d-3712-9cd1-336d48777c1b","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"9e911cc2-275b-34bb-9d6a-ba35be619baa","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Kafka_send_data_to_Azure_PROD","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["topic_exist"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"9476341e-a1fe-3ecd-9e03-4153a7ae8382","name":"","source":{"id":"45eb6510-e385-30ef-8bd6-8f89417b83cc","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"ea54acdf-1cdb-39ce-9c73-0be8c4da01af","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"2 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"522763ae-9e5e-37d0-bd77-7693170d29ff","name":"","source":{"id":"c4508246-968d-3cce-aebd-2abe604abf0b","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RetryFlowFile","comments":""},"destination":{"id":"5af61fbc-249d-3660-915b-7fc08ea65d4c","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"e244b53f-dcdb-3cf6-98f3-7feca4f159de","name":"","source":{"id":"7c92994d-5972-3a41-8056-edad0348ba02","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"LookupRecord","comments":""},"destination":{"id":"b631bc47-e833-3731-821a-46c0439fc471","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"PutSolrContentStreamAzureProduction","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1344.0,"y":1840.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"4cee8d3b-a484-3935-b603-603a6a5a0d26","name":"","source":{"id":"536eb52f-3728-39fc-a9ba-08ccf49ad483","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"448fafe9-0b40-3dc0-99b3-b97bf6c25bb9","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"68770a1f-c4c9-3c1a-bf3f-7b49543d3661","name":"","source":{"id":"7ce839ff-9b47-3b3d-940e-db92a515f5fb","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"EvaluateJsonPath","comments":""},"destination":{"id":"8d73a9ba-92f6-3221-870b-d7982beed01c","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"79e0589a-5d96-3ece-9eed-582746af34a0","name":"","source":{"id":"7c92994d-5972-3a41-8056-edad0348ba02","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"LookupRecord","comments":""},"destination":{"id":"a31e9172-77a0-3c79-be7e-8012bc714a1e","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"27916d1b-ae0d-31e0-99ce-7210b6e6d6b4","name":"","source":{"id":"1c2d6f21-703f-3389-a509-858a158071bf","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"UpdateAttribute","comments":""},"destination":{"id":"45eb6510-e385-30ef-8bd6-8f89417b83cc","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"5bc16f08-6c7b-3eed-a9b1-d6e6e608ac5f","name":"","source":{"id":"b848b7c0-eec2-3360-88a5-8553d3c2a846","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"150db18f-514b-30b1-bb9a-fbc11282cd6e","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"613e4844-bfda-36f1-a623-356b60de36c5","name":"","source":{"id":"ae417533-953e-32bf-a7a0-98f558f60716","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"JoltTransformJSON","comments":""},"destination":{"id":"7c92994d-5972-3a41-8056-edad0348ba02","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"LookupRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"72058f2d-71b1-3739-b6e3-f0f88a89872f","name":"","source":{"id":"ae417533-953e-32bf-a7a0-98f558f60716","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"JoltTransformJSON","comments":""},"destination":{"id":"6daf416d-51db-3cd4-a71d-bf50e19a9ae8","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"157ace96-3d9f-34b6-bf1f-f6fca901a427","name":"","source":{"id":"1680b762-4ea5-37f7-b0fd-70a4b7f802ee","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RetryFlowFile","comments":""},"destination":{"id":"dd842049-a935-3eb6-be3f-b8f1ff856e81","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"71c21d6f-d98a-3d0f-8bed-a01f1d641862","name":"","source":{"id":"9e911cc2-275b-34bb-9d6a-ba35be619baa","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Kafka_send_data_to_Azure_PROD","comments":""},"destination":{"id":"c4508246-968d-3cce-aebd-2abe604abf0b","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"06e2aa85-fbad-3a16-80f0-71f34f5dead5","name":"","source":{"id":"1680b762-4ea5-37f7-b0fd-70a4b7f802ee","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RetryFlowFile","comments":""},"destination":{"id":"43817141-45cf-3991-8b5b-b53ea4508968","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Kafka_send_data_to_Azure_STAG","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"70d9b5d7-cee2-35c1-898f-bea4c5d55981","name":"","source":{"id":"f6b28b3a-5417-35f4-94d6-6ba345401a66","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"b631bc47-e833-3731-821a-46c0439fc471","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"PutSolrContentStreamAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nb_retry_less_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"7d61f107-0461-32d8-b27a-3467197d42cd","name":"","source":{"id":"f6b28b3a-5417-35f4-94d6-6ba345401a66","type":"PROCESSOR","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"RouteOnAttribute","comments":""},"destination":{"id":"9d438e3b-2b20-3e69-94a4-b555f4ee4267","type":"FUNNEL","groupId":"ee2833e1-80e9-3628-afd8-143b5d6d6a73","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"}],"labels":[{"identifier":"f1852f83-6460-3071-a739-4188639f789a","position":{"x":125.220975142312,"y":255.9680687938431},"label":"iACT Kafka plant-data-[id-plant] ","width":713.8465270996094,"height":592.5892639160156,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"daa4fd24-80fb-38e8-81bc-f4634688d1e8","position":{"x":1080.0,"y":256.0},"label":"iACT SolR ANDON","width":779.3470764160156,"height":1035.7745971679688,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"}],"funnels":[{"identifier":"8d73a9ba-92f6-3221-870b-d7982beed01c","position":{"x":1752.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"448fafe9-0b40-3dc0-99b3-b97bf6c25bb9","position":{"x":776.4803893707683,"y":710.4908729910812},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"a31e9172-77a0-3c79-be7e-8012bc714a1e","position":{"x":1747.0375495608864,"y":1172.9765307729992},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"5af61fbc-249d-3660-915b-7fc08ea65d4c","position":{"x":-824.0,"y":1328.0},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"9d438e3b-2b20-3e69-94a4-b555f4ee4267","position":{"x":2416.0,"y":1992.0},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"ea54acdf-1cdb-39ce-9c73-0be8c4da01af","position":{"x":2389.3422646943673,"y":1413.6099792289588},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"6daf416d-51db-3cd4-a71d-bf50e19a9ae8","position":{"x":1745.5218631675536,"y":963.8076750983662},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"dd842049-a935-3eb6-be3f-b8f1ff856e81","position":{"x":-832.0,"y":728.0},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"d522e8d1-738f-3c3f-9ffe-2aec2217e99f","position":{"x":764.1246229967387,"y":348.3514858130585},"componentType":"FUNNEL","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"}],"controllerServices":[{"identifier":"fc47e6f6-100f-332b-8d13-dd64c5486300","name":"iACT-Change'CAUSE'value-SimpleKeyValueLookupService","comments":"","type":"org.apache.nifi.lookup.SimpleKeyValueLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"2":"ARRET_PROG","3":"SMED","4":"PANNE","5":"SCRAP","6":"INDIF"},"propertyDescriptors":{"2":{"name":"2","displayName":"2","identifiesControllerService":false,"sensitive":false},"3":{"name":"3","displayName":"3","identifiesControllerService":false,"sensitive":false},"4":{"name":"4","displayName":"4","identifiesControllerService":false,"sensitive":false},"5":{"name":"5","displayName":"5","identifiesControllerService":false,"sensitive":false},"6":{"name":"6","displayName":"6","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"bceb05ac-a601-390c-8366-654016584716","name":"iACTKafkaJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"},{"identifier":"ed3bc874-621c-3bb3-a94b-07594e4dfca0","name":"iACTKafkaJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"{\n    \"type\": \"record\",\n    \"name\": \"nifiRecord\",\n    \"namespace\": \"org.apache.nifi\",\n    \"fields\": [\n        {\n            \"name\": \"PLANT\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n        {\n            \"name\": \"MACHINE\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n        {\n            \"name\": \"CAUSE\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n\t\t{\n            \"name\": \"DE_TIMESTAMP\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n        {\n            \"name\": \"START_DATE\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n        {\n            \"name\": \"END_DATE\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n        {\n            \"name\": \"STATUS\",\n            \"type\": [\n                \"null\",\n                \"string\"\n            ]\n        },\n\t\t{\n            \"name\": \"id\",\n            \"type\": [\n                \"string\"\n            ]\n        },\n\t\t{\n            \"name\": \"TOOL\",\n            \"type\": [\n\t\t\t\t\"null\",\n                \"string\"\n            ]\n        }\n    ]\n}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"ee2833e1-80e9-3628-afd8-143b5d6d6a73"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3":{"identifier":"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3","name":"AzureHadoopStagingSSLService"},"c0741bb8-ea0b-39e2-9291-986954415119":{"identifier":"c0741bb8-ea0b-39e2-9291-986954415119","name":"AzureHadoopProductionSSLService"},"bed5b379-7176-3e2e-a326-9e571b9c8244":{"identifier":"bed5b379-7176-3e2e-a326-9e571b9c8244","name":"AzureKafkaProductionSSLService"},"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22":{"identifier":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","name":"AzureKafkaStagingSSLService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}