LOCKBOLT.json
{"flowContents":{"identifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"LOCKBOLT","comments":"","position":{"x":-392.0,"y":2304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"361a9d9e-c9b6-3dd1-a07b-57e2234429ab","name":"PutAzureBlobStorage","comments":"","position":{"x":-1464.0,"y":1592.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#21a818"},"type":"org.apache.nifi.processors.azure.storage.PutAzureBlobStorage","properties":{"blob":"raspberrypi/FAS/${filename}","proxy-configuration-service":"be47b353-4582-387f-82b3-12e227b91f40","storage-credentials-service":null,"container-name":"datalake"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"blob":{"name":"blob","displayName":"Blob","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"storage-credentials-service":{"name":"storage-credentials-service","displayName":"Storage Credentials","identifiesControllerService":true,"sensitive":false},"container-name":{"name":"container-name","displayName":"Container Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"b4974530-9be3-351b-8235-2db075549208","name":"PutAzureBlobStorage_lockbolt","comments":"","position":{"x":-800.0,"y":1952.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.azure.storage.PutAzureBlobStorage","properties":{"blob":"data/${filename}","proxy-configuration-service":"a9f20ee3-6de4-355a-b4ff-5d190556d107","storage-credentials-service":null,"container-name":"lockbolt"},"propertyDescriptors":{"storage-account-name":{"name":"storage-account-name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":true},"storage-sas-token":{"name":"storage-sas-token","displayName":"SAS Token","identifiesControllerService":false,"sensitive":true},"blob":{"name":"blob","displayName":"Blob","identifiesControllerService":false,"sensitive":false},"storage-account-key":{"name":"storage-account-key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"storage-credentials-service":{"name":"storage-credentials-service","displayName":"Storage Credentials","identifiesControllerService":true,"sensitive":false},"container-name":{"name":"container-name","displayName":"Container Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"}],"inputPorts":[{"identifier":"26328bc1-5b43-36dd-b321-fac0d5de918c","name":"LOCKBOLT ERROR","comments":"","position":{"x":72.0,"y":1464.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"65f01d90-14c9-3bad-a7c3-debb81d2d2fc","name":"LOCKBOLT STATUS","comments":"","position":{"x":-200.0,"y":1464.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"6cc9aba5-0e66-3cee-8b5e-03010de9f218","name":"LOCKBOLT SUCCESS","comments":"","position":{"x":-744.0,"y":1464.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"}],"outputPorts":[{"identifier":"4b8dee4d-063f-33ce-bb14-14ee8953023e","name":"Minifi instance status","comments":"","position":{"x":-200.0,"y":1624.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"}],"connections":[{"identifier":"e16ba3b3-e7ab-3a4c-9379-8f48bf99cbb7","name":"","source":{"id":"26328bc1-5b43-36dd-b321-fac0d5de918c","type":"INPUT_PORT","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"LOCKBOLT ERROR","comments":""},"destination":{"id":"551ee16e-ecd3-3497-88fd-7140547953c1","type":"FUNNEL","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"90681984-f4d2-325a-8710-e29b0f5f36fc","name":"","source":{"id":"6cc9aba5-0e66-3cee-8b5e-03010de9f218","type":"INPUT_PORT","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"LOCKBOLT SUCCESS","comments":""},"destination":{"id":"b4974530-9be3-351b-8235-2db075549208","type":"PROCESSOR","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"PutAzureBlobStorage_lockbolt","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-624.0,"y":1864.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"eae66d4c-5caa-310d-95cf-d625103418e2","name":"","source":{"id":"65f01d90-14c9-3bad-a7c3-debb81d2d2fc","type":"INPUT_PORT","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"LOCKBOLT STATUS","comments":""},"destination":{"id":"4b8dee4d-063f-33ce-bb14-14ee8953023e","type":"OUTPUT_PORT","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"Minifi instance status","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"3fab6452-8a08-38e4-9098-ee55988d717d","name":"","source":{"id":"b4974530-9be3-351b-8235-2db075549208","type":"PROCESSOR","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"PutAzureBlobStorage_lockbolt","comments":""},"destination":{"id":"b8c0a044-8b93-3067-af39-7647c62e7532","type":"FUNNEL","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"a98947cf-1184-3770-9ce2-ef550c9a9a30","name":"","source":{"id":"361a9d9e-c9b6-3dd1-a07b-57e2234429ab","type":"PROCESSOR","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"PutAzureBlobStorage","comments":""},"destination":{"id":"0450c033-1048-31b1-86a2-d372614d37c5","type":"FUNNEL","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"4 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"08ca6d2d-abce-36a6-80b7-57a927befe73","name":"","source":{"id":"b4974530-9be3-351b-8235-2db075549208","type":"PROCESSOR","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"PutAzureBlobStorage_lockbolt","comments":""},"destination":{"id":"55cde0f1-46d7-36b9-8e67-cdd392b5aa7d","type":"FUNNEL","groupId":"7ca9f1d6-5605-348e-9d4e-1801f3932cee","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"4 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"}],"labels":[],"funnels":[{"identifier":"0450c033-1048-31b1-86a2-d372614d37c5","position":{"x":-1384.0,"y":1864.0},"componentType":"FUNNEL","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"b8c0a044-8b93-3067-af39-7647c62e7532","position":{"x":-816.0,"y":2224.0},"componentType":"FUNNEL","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"551ee16e-ecd3-3497-88fd-7140547953c1","position":{"x":168.0,"y":1624.0},"componentType":"FUNNEL","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"},{"identifier":"55cde0f1-46d7-36b9-8e67-cdd392b5aa7d","position":{"x":-424.0,"y":2224.0},"componentType":"FUNNEL","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"}],"controllerServices":[{"identifier":"be47b353-4582-387f-82b3-12e227b91f40","name":"StandardProxyConfigurationService","comments":"","type":"org.apache.nifi.proxy.StandardProxyConfigurationService","bundle":{"group":"org.apache.nifi","artifact":"nifi-proxy-configuration-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.proxy.ProxyConfigurationService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"proxy-server-port":"8080","proxy-server-host":"proxy.standard.corp","proxy-user-name":null,"proxy-type":"HTTP"},"propertyDescriptors":{"proxy-server-port":{"name":"proxy-server-port","displayName":"Proxy Server Port","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy User Password","identifiesControllerService":false,"sensitive":true},"proxy-server-host":{"name":"proxy-server-host","displayName":"Proxy Server Host","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy User Name","identifiesControllerService":false,"sensitive":false},"proxy-type":{"name":"proxy-type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"7ca9f1d6-5605-348e-9d4e-1801f3932cee"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"a9f20ee3-6de4-355a-b4ff-5d190556d107":{"identifier":"a9f20ee3-6de4-355a-b4ff-5d190556d107","name":"StandardProxyConfigurationService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}