Masterdata_MII_Ingestion.json
{"flowContents":{"identifier":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"Masterdata MII Ingestion","comments":"","position":{"x":-232.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2b7a4b98-8498-3e98-9572-d701e90d49a7","name":"ReplaceText","comments":"","position":{"x":1280.0,"y":848.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"files_from_masterdata,application_source=${application},file_source=${folder} nb_files=1,nb_bytes=${fileSize} ${now():toNumber()}000000","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"9b086744-d6d0-3156-b414-bea76fd295f2","name":"PutInfluxDBAzure","comments":"","position":{"x":624.0,"y":1128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"masterdata_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"1 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"ce6fb0cd-bd15-3e7b-8980-9d10624394c9","name":"PutParquetInAzure","comments":"","position":{"x":624.0,"y":872.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.parquet.PutParquet","properties":{"Hadoop Configuration Resources":"/etc/hadoop-azure-prd/conf/core-site.xml,/etc/hadoop-azure-prd/conf/hdfs-site.xml","max-padding-size":null,"avro-write-old-list-structure":"true","Additional Classpath Resources":null,"permissions-umask":null,"remote-group":null,"row-group-size":null,"remote-owner":null,"enable-dictionary-encoding":null,"kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","page-size":null,"writer-version":null,"Kerberos Keytab":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"Kerberos Principal":null,"record-reader":"9b8cccad-10eb-3514-8d4b-7635b605e813","Kerberos Relogin Period":"4 hours","overwrite":"true","avro-add-list-element-records":"true","remove-crc-files":"false","Directory":"/datalake/common/raw/masterdata/${folder}/to_process"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"permissions-umask":{"name":"permissions-umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"remote-group":{"name":"remote-group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"remote-owner":{"name":"remote-owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"overwrite":{"name":"overwrite","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false},"remove-crc-files":{"name":"remove-crc-files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"cf1dc1e1-e9fc-3070-b91a-b98e7f9f4693","name":"ReplaceText","comments":"","position":{"x":624.0,"y":616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":" ","Replacement Value":"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"af92d09b-d399-3d41-8ac7-6a87867153d7","name":"FetchSFTP","comments":"","position":{"x":1274.701327178358,"y":399.25053039006866},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.FetchSFTP","properties":{"Proxy Host":null,"Port":"22","Remote File":"${path}/${filename}","proxy-configuration-service":null,"Http Proxy Username":null,"Hostname":"euedcunil012.dc.ege.ds","Create Directory":"false","Host Key File":null,"Use Compression":"false","Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Proxy Type":"DIRECT","Completion Strategy":"Move File","Proxy Port":null,"fetchfiletransfer-notfound-loglevel":"ERROR","Connection Timeout":"30 sec","Data Timeout":"30 sec","Private Key Path":null,"Username":"LS\\9lsbigdatainforma","Move Destination Directory":"/mii/processed/","Strict Host Key Checking":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"e10ed589-0309-3f7f-bd55-005cc81ed45f","name":"ListSFTP-Node2","comments":"","position":{"x":620.1999844049205,"y":396.7999993842093},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ListSFTP","properties":{"Proxy Host":null,"Minimum File Age":"0 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"3 hours","Proxy Type":"DIRECT","Connection Timeout":"30 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"false","Minimum File Size":"0 B","Search Recursively":"false","Strict Host Key Checking":"false","File Filter Regex":null,"Maximum File Age":null,"Http Proxy Username":null,"Hostname":"euedcunil012.dc.ege.ds","Maximum File Size":null,"Remote Path":"/mii/to_process/","Host Key File":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"30 sec","Private Key Path":null,"Username":"LS\\9lsbigdatainforma","target-system-timestamp-precision":"auto-detect","et-state-cache":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"60 mins","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"6349c4ca-adb5-3834-8304-dd51d4a02e5f","name":"UpdateAttribute","comments":"","position":{"x":1272.0,"y":616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${filename:getDelimitedField(1,'.')}.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"annotationData":"<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>application</attribute>\n            <id>b5ce527f-3843-428e-8dd0-3350c009128d</id>\n            <value>MII</value>\n        </actions>\n        <actions>\n            <attribute>folder</attribute>\n            <id>00581063-9d68-4858-af03-df3255eff1a2</id>\n            <value>mii_scrap_reason</value>\n        </actions>\n        <conditions>\n            <expression>${filename:contains('scrap_reason')}</expression>\n            <id>874d0c92-526c-45e9-9b93-e02537913eb4</id>\n        </conditions>\n        <id>750fba4b-8b65-4579-ad14-30e9e9c0c6e0</id>\n        <name>mii_scrap_reason</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>application</attribute>\n            <id>3d3aaf95-1732-404c-9ad6-150ab37b9c8f</id>\n            <value>MII</value>\n        </actions>\n        <actions>\n            <attribute>folder</attribute>\n            <id>12f417b5-a47f-497f-b1cc-437382bb67d8</id>\n            <value>mii_ntrs_cause</value>\n        </actions>\n        <conditions>\n            <expression>${filename:contains('ntrs_cause')}</expression>\n            <id>3b0a8978-9d55-44ba-a0d9-99532e92da0d</id>\n        </conditions>\n        <id>c323fbf0-b9d0-406f-96c0-2678c1492474</id>\n        <name>mii_ntrs_cause</name>\n    </rules>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d34d7297-0cdc-37b2-8aab-f50c0329c303","name":"","source":{"id":"9b086744-d6d0-3156-b414-bea76fd295f2","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"PutInfluxDBAzure","comments":""},"destination":{"id":"c483f284-3282-3552-88d8-cf9378c6ba28","type":"FUNNEL","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"97c274ad-2566-3a43-a68d-a2d622db713d","name":"","source":{"id":"cf1dc1e1-e9fc-3070-b91a-b98e7f9f4693","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ReplaceText","comments":""},"destination":{"id":"6349c4ca-adb5-3834-8304-dd51d4a02e5f","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"c06c9e12-1cb7-3a00-866c-f78bbb36775f","name":"","source":{"id":"af92d09b-d399-3d41-8ac7-6a87867153d7","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"FetchSFTP","comments":""},"destination":{"id":"0a5a5e02-eb04-34e0-a299-e83d64d65cd8","type":"FUNNEL","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"e5c54d00-f431-3aa6-93e9-99515ee77312","name":"","source":{"id":"e10ed589-0309-3f7f-bd55-005cc81ed45f","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ListSFTP-Node2","comments":""},"destination":{"id":"af92d09b-d399-3d41-8ac7-6a87867153d7","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"FetchSFTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"83523a9e-5564-32cc-bac8-48412ee35d85","name":"","source":{"id":"cf1dc1e1-e9fc-3070-b91a-b98e7f9f4693","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ReplaceText","comments":""},"destination":{"id":"46e1b7fc-0556-30cc-bd3e-76e4c4302ccf","type":"FUNNEL","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"887406a2-80e1-32b7-9347-2c1c5af72de0","name":"","source":{"id":"ce6fb0cd-bd15-3e7b-8980-9d10624394c9","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"PutParquetInAzure","comments":""},"destination":{"id":"2b7a4b98-8498-3e98-9572-d701e90d49a7","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"0f40fc4d-fa9c-3db0-97b6-1df220c05a06","name":"","source":{"id":"af92d09b-d399-3d41-8ac7-6a87867153d7","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"FetchSFTP","comments":""},"destination":{"id":"cf1dc1e1-e9fc-3070-b91a-b98e7f9f4693","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"d9851a30-75d3-3328-aea2-b4e6e64c6e90","name":"","source":{"id":"ce6fb0cd-bd15-3e7b-8980-9d10624394c9","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"PutParquetInAzure","comments":""},"destination":{"id":"5673d1a9-4700-3b68-b13d-07e5fd041dca","type":"FUNNEL","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"8bba7278-e141-32c8-a9bb-a1d802fb497c","name":"","source":{"id":"6349c4ca-adb5-3834-8304-dd51d4a02e5f","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"UpdateAttribute","comments":""},"destination":{"id":"ce6fb0cd-bd15-3e7b-8980-9d10624394c9","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"PutParquetInAzure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"da817dd5-c5bf-39a7-b177-16bdedf3774f","name":"","source":{"id":"2b7a4b98-8498-3e98-9572-d701e90d49a7","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ReplaceText","comments":""},"destination":{"id":"8f8fbad5-3d3a-3110-8d79-f9b254f8d6c2","type":"FUNNEL","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"e96febf5-7103-31a3-8f59-c341fc463693","name":"","source":{"id":"2b7a4b98-8498-3e98-9572-d701e90d49a7","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"ReplaceText","comments":""},"destination":{"id":"9b086744-d6d0-3156-b414-bea76fd295f2","type":"PROCESSOR","groupId":"97b759bd-31e8-39e0-ab6b-227db79766a1","name":"PutInfluxDBAzure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"}],"labels":[],"funnels":[{"identifier":"46e1b7fc-0556-30cc-bd3e-76e4c4302ccf","position":{"x":776.0,"y":808.0},"componentType":"FUNNEL","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"5673d1a9-4700-3b68-b13d-07e5fd041dca","position":{"x":776.0,"y":1064.0},"componentType":"FUNNEL","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"0a5a5e02-eb04-34e0-a299-e83d64d65cd8","position":{"x":1891.9489468072643,"y":436.3085290472952},"componentType":"FUNNEL","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"8f8fbad5-3d3a-3110-8d79-f9b254f8d6c2","position":{"x":1432.0,"y":1040.0},"componentType":"FUNNEL","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"},{"identifier":"c483f284-3282-3552-88d8-cf9378c6ba28","position":{"x":776.0,"y":1312.0},"componentType":"FUNNEL","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"}],"controllerServices":[{"identifier":"9b8cccad-10eb-3514-8d4b-7635b605e813","name":"MIICSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Value Separator":";","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"csv-header-derived","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"97b759bd-31e8-39e0-ab6b-227db79766a1"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"a230db91-a977-343d-b94a-123e9c098fbb":{"identifier":"a230db91-a977-343d-b94a-123e9c098fbb","name":"AzureDatalakeKeytabService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}