Masterdata_MDM_Ingestion.json
{"flowContents":{"identifier":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Masterdata MDM Ingestion","comments":"","position":{"x":-1096.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d94fa356-d580-3c0b-9e37-c5162d1f2414","name":"EvaluateJsonPath","comments":"","position":{"x":1536.0,"y":392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","value":"$.BAU","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"value":{"name":"value","displayName":"value","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"11e9669d-83aa-3993-a9ba-15dcd8bfc3f8","name":"ReplaceText","comments":"","position":{"x":3040.0,"y":680.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"files_from_masterdata,application_source=${application},file_source=${folder} nb_files=1,nb_bytes=${fileSize} ${now():toNumber()}000000","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"90c1812e-bcaf-32a8-b8e9-c910d6f16b0d","name":"SplitJson","comments":"","position":{"x":3040.0,"y":-120.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"mdm_get_all_services_list"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"20c950fb-f6db-337a-92e3-66f1c5963235","name":"EvaluateJsonPath","comments":"","position":{"x":2368.0,"y":128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","mdm_name":"$.mdm_name","Null Value Representation":"empty string","ws_call":"$.ws_call","Path Not Found Behavior":"ignore","ws_name":"$.ws_name"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"mdm_name":{"name":"mdm_name","displayName":"mdm_name","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"ws_call":{"name":"ws_call","displayName":"ws_call","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"ws_name":{"name":"ws_name","displayName":"ws_name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"d73d98ee-d88c-3997-97f9-0ca09d9fa375","name":"PutParquetInAzure","comments":"","position":{"x":1542.2715074815787,"y":676.4050020996103},"bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.parquet.PutParquet","properties":{"Hadoop Configuration Resources":"/etc/hadoop-azure-prd/conf/core-site.xml,/etc/hadoop-azure-prd/conf/hdfs-site.xml","max-padding-size":null,"avro-write-old-list-structure":"true","Additional Classpath Resources":null,"permissions-umask":null,"remote-group":null,"row-group-size":null,"remote-owner":null,"enable-dictionary-encoding":null,"kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","page-size":null,"writer-version":null,"Kerberos Keytab":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"Kerberos Principal":null,"record-reader":"fea50d87-685c-3e89-bdb2-9e508a5b9b35","Kerberos Relogin Period":"4 hours","overwrite":"false","avro-add-list-element-records":"true","remove-crc-files":"false","Directory":"/datalake/common/raw/masterdata/${folder}/to_process"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"permissions-umask":{"name":"permissions-umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"remote-group":{"name":"remote-group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"remote-owner":{"name":"remote-owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"overwrite":{"name":"overwrite","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false},"remove-crc-files":{"name":"remove-crc-files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"8ba94b52-d0ab-3737-9e1c-5ab8c49bd3fa","name":"PutInfluxDBinAzureProduction","comments":"","position":{"x":2368.0,"y":984.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#ffffff"},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"masterdata_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"1 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"9449c925-f551-3db3-b293-88f4c02036e0","name":"InvokeHTTP","comments":"","position":{"x":3040.0,"y":128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","API_KEY":"l71c26c35ea48d4356a29f73ce782f094c","Always Output Response":"true","etag-max-cache-size":"10MB","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.app.corp:8443/MDM/resource/v1/${ws_name}/${ws_call}?requester=DLK&isValid=false","Content-Type":"${mime.type}","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"c0741bb8-ea0b-39e2-9291-986954415119","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":"datalacke_User","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"API_KEY":{"name":"API_KEY","displayName":"API_KEY","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"f6c3417f-9585-3ca5-bc8c-10ee0fe89bb9","name":"InvokeHTTP","comments":"","position":{"x":864.4460650275278,"y":138.43473541222932},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","API_KEY":"l7c4661f5579314c50af40fabdf6f04c51","Always Output Response":"true","etag-max-cache-size":"10MB","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.app.corp:8443/MDM/ORGA/v1/AllLegalSitesByValidBAU","Content-Type":"${mime.type}","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"c0741bb8-ea0b-39e2-9291-986954415119","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":"datalacke_User","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"API_KEY":{"name":"API_KEY","displayName":"API_KEY","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 0 23 ? * 1 *","schedulingStrategy":"CRON_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"c4a2653e-caee-3898-a955-0d5ed48eb9c8","name":"PutParquetInAzure","comments":"","position":{"x":2368.0,"y":680.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.parquet.PutParquet","properties":{"Hadoop Configuration Resources":"/etc/hadoop-azure-prd/conf/core-site.xml,/etc/hadoop-azure-prd/conf/hdfs-site.xml","max-padding-size":null,"avro-write-old-list-structure":"true","Additional Classpath Resources":null,"permissions-umask":null,"remote-group":null,"row-group-size":null,"remote-owner":null,"enable-dictionary-encoding":null,"kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","page-size":null,"writer-version":null,"Kerberos Keytab":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"Kerberos Principal":null,"record-reader":"fea50d87-685c-3e89-bdb2-9e508a5b9b35","Kerberos Relogin Period":"4 hours","overwrite":"false","avro-add-list-element-records":"true","remove-crc-files":"false","Directory":"/datalake/common/raw/masterdata/${folder}/to_process"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"permissions-umask":{"name":"permissions-umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"remote-group":{"name":"remote-group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"remote-owner":{"name":"remote-owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"overwrite":{"name":"overwrite","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false},"remove-crc-files":{"name":"remove-crc-files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"64d71554-976a-3673-b742-a6c8c8159b01","name":"ReplaceText","comments":"","position":{"x":861.7452757968549,"y":979.237937064564},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"files_from_masterdata,application_source=${application},file_source=${folder} nb_files=1,nb_bytes=${fileSize} ${now():toNumber()}000000","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"09a8bf52-7b35-3070-b1bb-7c987e2f322d","name":"UpdateAttribute","comments":"","position":{"x":2368.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"MDM_${mdm_name}_${now():format('yyyyMMdd_HHmmss')}.parquet","folder":"mdm_${mdm_name}","application":"MDM","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"folder":{"name":"folder","displayName":"folder","identifiesControllerService":false,"sensitive":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"annotationData":"<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"699999cb-c0f9-3781-a86d-05290f2c7ab9","name":"JoltTransformJSON","comments":"","position":{"x":3040.0,"y":408.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n  },\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"*\": {\n        \"attachedfiles\": \"\",\n\t\t\"productFamilyL2\": \"\",\n\t\t\"faureciaFootprint\": \"\",\n\t\t\"otherRegion\": \"\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"ea7d825a-8130-3843-a28d-1e43f094e613","name":"PutSQL","comments":"","position":{"x":1976.0,"y":832.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutSQL","properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":null,"database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"43c7fc2a-1b6d-30b3-82b0-5a4c3bb1dd20","name":"JoltTransformJSON","comments":"","position":{"x":854.8996562585346,"y":673.6227676092115},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"bauCode\": \"[&1].bauCode\",\n        \"profitCenter\": \"[&1].profitCenter\",\n        \"legalSite\": {\n          \"*\": \"[&2].&\"\n        }\n      }\n    }\n }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"21230179-d29d-3c92-bb6f-e1fd35dd05b0","name":"PutInfluxDBinAzureProduction","comments":"","position":{"x":1551.1797317194932,"y":979.2712291790074},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#ffffff"},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"masterdata_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"1 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"b3414ad1-e764-32a2-8b3e-53b5d433858e","name":"GenerateFlowFile","comments":"","position":{"x":2368.0,"y":-120.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","generate-ff-custom-text":"{\n  \"mdm_get_all_services_list\": [\n    {\"mdm_name\":\"country\",\"ws_name\":\"countryServices\",\"ws_call\":\"getAllCountries\"},\n    {\"mdm_name\":\"bg\",\"ws_name\":\"bgServices\",\"ws_call\":\"getAllBgs\"},\n\t{\"mdm_name\":\"division\",\"ws_name\":\"divisionServices\",\"ws_call\":\"getAllDivisions\"},\n\t{\"mdm_name\":\"subdivision\",\"ws_name\":\"SubDivisionServices\",\"ws_call\":\"getAllSubDivision\"},\n\t{\"mdm_name\":\"organization_link_bau_su\",\"ws_name\":\"SteeringUnitBAUServices\",\"ws_call\":\"getAllSteeringUnitLinkedToBAU\"},\n\t{\"mdm_name\":\"program\",\"ws_name\":\"programServices\",\"ws_call\":\"getAllPrograms\"}\n  ]\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 0 23 ? * 1 *","schedulingStrategy":"CRON_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"737a998f-ffe7-3771-b12e-990a2c032d7f","name":"UpdateAttribute","comments":"","position":{"x":866.4741292916613,"y":392.1987060498252},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"MDM_legal_sites_${now():format('yyyyMMdd_HHmmss')}.parquet","folder":"mdm_legal_sites","application":"MDM","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"folder":{"name":"folder","displayName":"folder","identifiesControllerService":false,"sensitive":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"annotationData":"<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"294a9b44-d381-3d33-8766-bde7097df493","name":"","source":{"id":"90c1812e-bcaf-32a8-b8e9-c910d6f16b0d","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"SplitJson","comments":""},"destination":{"id":"03646307-fb3e-3607-bcb6-1913feca3850","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"1b206f45-4ff3-30ea-8837-9d5a8c5d3602","name":"","source":{"id":"90c1812e-bcaf-32a8-b8e9-c910d6f16b0d","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"SplitJson","comments":""},"destination":{"id":"20c950fb-f6db-337a-92e3-66f1c5963235","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"d11a8e3d-a773-3912-bb42-8910a6711298","name":"","source":{"id":"c4a2653e-caee-3898-a955-0d5ed48eb9c8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"destination":{"id":"58c6afed-bd93-3b37-9ffa-8932d0595224","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"608df9a0-5060-3273-97b3-6f07db7071ff","name":"","source":{"id":"43c7fc2a-1b6d-30b3-82b0-5a4c3bb1dd20","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"JoltTransformJSON","comments":""},"destination":{"id":"d73d98ee-d88c-3997-97f9-0ca09d9fa375","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"3267490a-181b-3a01-87fc-f07b00daffb0","name":"","source":{"id":"b3414ad1-e764-32a2-8b3e-53b5d433858e","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"GenerateFlowFile","comments":""},"destination":{"id":"90c1812e-bcaf-32a8-b8e9-c910d6f16b0d","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"85193efa-e17b-3385-a5cc-310e6c00441c","name":"","source":{"id":"9449c925-f551-3db3-b293-88f4c02036e0","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"InvokeHTTP","comments":""},"destination":{"id":"74d11332-93cd-3801-8f1c-a78e54aca805","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"8bd1b4ff-baab-3b1f-9171-ca9c98ef02df","name":"","source":{"id":"737a998f-ffe7-3771-b12e-990a2c032d7f","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"UpdateAttribute","comments":""},"destination":{"id":"d94fa356-d580-3c0b-9e37-c5162d1f2414","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"49142e14-8e48-328e-b817-4d8d48f6d757","name":"","source":{"id":"699999cb-c0f9-3781-a86d-05290f2c7ab9","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"JoltTransformJSON","comments":""},"destination":{"id":"3a6555d8-2a50-3e2d-8024-c4f2f4cd8d2e","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"1b62f533-1527-3954-b07a-cdc434ef1c65","name":"","source":{"id":"c4a2653e-caee-3898-a955-0d5ed48eb9c8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"destination":{"id":"ea7d825a-8130-3843-a28d-1e43f094e613","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"82873e3d-25ef-3086-95c7-9eb93c954861","name":"","source":{"id":"21230179-d29d-3c92-bb6f-e1fd35dd05b0","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutInfluxDBinAzureProduction","comments":""},"destination":{"id":"5ab5add7-82eb-36dd-9d07-94095ab4cbd1","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"30df9913-3212-3d95-b720-89dec950737d","name":"","source":{"id":"64d71554-976a-3673-b742-a6c8c8159b01","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"ReplaceText","comments":""},"destination":{"id":"21230179-d29d-3c92-bb6f-e1fd35dd05b0","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutInfluxDBinAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"c75c56ec-04f9-3559-9db5-34f703a1655c","name":"","source":{"id":"d94fa356-d580-3c0b-9e37-c5162d1f2414","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"EvaluateJsonPath","comments":""},"destination":{"id":"ed6d1147-457f-30ee-86e8-eeab81bcb02a","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"6fe5d8c1-5da6-34cc-b753-5caa356821f6","name":"","source":{"id":"699999cb-c0f9-3781-a86d-05290f2c7ab9","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"JoltTransformJSON","comments":""},"destination":{"id":"c4a2653e-caee-3898-a955-0d5ed48eb9c8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"bbf9bc28-72ce-3549-b97a-d9739394a4e2","name":"","source":{"id":"f6c3417f-9585-3ca5-bc8c-10ee0fe89bb9","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"InvokeHTTP","comments":""},"destination":{"id":"737a998f-ffe7-3771-b12e-990a2c032d7f","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"b7ff5471-7358-3573-bd75-4c48382d4bae","name":"","source":{"id":"8ba94b52-d0ab-3737-9e1c-5ab8c49bd3fa","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutInfluxDBinAzureProduction","comments":""},"destination":{"id":"6a7e896c-3485-3e38-bda3-47c8d1716e61","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"426d9519-dc7a-3656-8ff7-57a6b159223d","name":"","source":{"id":"20c950fb-f6db-337a-92e3-66f1c5963235","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"EvaluateJsonPath","comments":""},"destination":{"id":"273667b1-c3dc-3235-b8cf-be0c30ce5e5c","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"afbf30e2-6078-3fa3-8722-aaae7255f52f","name":"","source":{"id":"d73d98ee-d88c-3997-97f9-0ca09d9fa375","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"destination":{"id":"64d71554-976a-3673-b742-a6c8c8159b01","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"e478c56c-ba1b-3a1e-a5fd-e83f8d9b4e6d","name":"","source":{"id":"20c950fb-f6db-337a-92e3-66f1c5963235","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"EvaluateJsonPath","comments":""},"destination":{"id":"9449c925-f551-3db3-b293-88f4c02036e0","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"InvokeHTTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"25f1d16e-b799-3d5d-9f26-3af3e5ac7672","name":"","source":{"id":"09a8bf52-7b35-3070-b1bb-7c987e2f322d","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"UpdateAttribute","comments":""},"destination":{"id":"699999cb-c0f9-3781-a86d-05290f2c7ab9","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"ec51f320-e91e-3d4a-b98d-a78eed65b54a","name":"","source":{"id":"c4a2653e-caee-3898-a955-0d5ed48eb9c8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"destination":{"id":"11e9669d-83aa-3993-a9ba-15dcd8bfc3f8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"0dfd5b2e-8d98-33da-a9c6-2d47c739b753","name":"","source":{"id":"9449c925-f551-3db3-b293-88f4c02036e0","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"InvokeHTTP","comments":""},"destination":{"id":"09a8bf52-7b35-3070-b1bb-7c987e2f322d","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"7affba83-b21f-3a07-828a-84505f938cf9","name":"","source":{"id":"d94fa356-d580-3c0b-9e37-c5162d1f2414","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"EvaluateJsonPath","comments":""},"destination":{"id":"43c7fc2a-1b6d-30b3-82b0-5a4c3bb1dd20","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"16fe0129-d936-3941-a768-ff72731c0af1","name":"","source":{"id":"d73d98ee-d88c-3997-97f9-0ca09d9fa375","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutParquetInAzure","comments":""},"destination":{"id":"60fa5356-ff50-374e-bbea-09f9c9d8162a","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"864c9556-e232-3e10-a908-9ffb11ea5c5b","name":"","source":{"id":"64d71554-976a-3673-b742-a6c8c8159b01","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"ReplaceText","comments":""},"destination":{"id":"6972597b-51af-3ad4-99c6-8122c83468b5","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"51a8878e-ae0e-3c48-a51d-7b4c7ef29cdd","name":"","source":{"id":"11e9669d-83aa-3993-a9ba-15dcd8bfc3f8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"ReplaceText","comments":""},"destination":{"id":"8ba94b52-d0ab-3737-9e1c-5ab8c49bd3fa","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"PutInfluxDBinAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"c2637da0-c0b6-3da2-a442-48eaec33a630","name":"","source":{"id":"f6c3417f-9585-3ca5-bc8c-10ee0fe89bb9","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"InvokeHTTP","comments":""},"destination":{"id":"f3e249e0-2d50-3431-b5e3-2f8edbe68ceb","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"193e6d3a-a7c7-3759-9ece-4732b85c1223","name":"","source":{"id":"43c7fc2a-1b6d-30b3-82b0-5a4c3bb1dd20","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"JoltTransformJSON","comments":""},"destination":{"id":"9ead031d-25ff-31e9-90b5-bd81908e7cc9","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"f7ad79d6-f3da-3b41-abc3-876276c726d5","name":"","source":{"id":"11e9669d-83aa-3993-a9ba-15dcd8bfc3f8","type":"PROCESSOR","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"ReplaceText","comments":""},"destination":{"id":"6e68cdbd-3e96-398e-bb57-0ec8c1624d05","type":"FUNNEL","groupId":"23e0fe81-f864-312b-8e00-75baf99147fe","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"}],"labels":[],"funnels":[{"identifier":"ed6d1147-457f-30ee-86e8-eeab81bcb02a","position":{"x":1691.906659192116,"y":595.7908659808927},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"74d11332-93cd-3801-8f1c-a78e54aca805","position":{"x":3192.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"3a6555d8-2a50-3e2d-8024-c4f2f4cd8d2e","position":{"x":3192.0,"y":592.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"f3e249e0-2d50-3431-b5e3-2f8edbe68ceb","position":{"x":1508.4579363654184,"y":183.78807937585236},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"03646307-fb3e-3607-bcb6-1913feca3850","position":{"x":3192.0,"y":64.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"6e68cdbd-3e96-398e-bb57-0ec8c1624d05","position":{"x":3184.0,"y":880.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"9ead031d-25ff-31e9-90b5-bd81908e7cc9","position":{"x":1006.4501597615713,"y":894.4792512241991},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"6a7e896c-3485-3e38-bda3-47c8d1716e61","position":{"x":2520.0,"y":1184.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"60fa5356-ff50-374e-bbea-09f9c9d8162a","position":{"x":2152.0,"y":712.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"6972597b-51af-3ad4-99c6-8122c83468b5","position":{"x":1008.5506817776013,"y":1203.5104281545675},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"58c6afed-bd93-3b37-9ffa-8932d0595224","position":{"x":2520.0,"y":880.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"5ab5add7-82eb-36dd-9d07-94095ab4cbd1","position":{"x":2160.0,"y":1016.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"273667b1-c3dc-3235-b8cf-be0c30ce5e5c","position":{"x":2512.0,"y":312.0},"componentType":"FUNNEL","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"}],"controllerServices":[{"identifier":"72a079f5-7efe-3a35-91a9-4f0d7c89ddea","name":"MDMSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/etc/security/serverKeys/mdmtruststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"},{"identifier":"fea50d87-685c-3e89-bdb2-9e508a5b9b35","name":"MDMJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"23e0fe81-f864-312b-8e00-75baf99147fe"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"c0741bb8-ea0b-39e2-9291-986954415119":{"identifier":"c0741bb8-ea0b-39e2-9291-986954415119","name":"AzureHadoopProductionSSLService"},"a230db91-a977-343d-b94a-123e9c098fbb":{"identifier":"a230db91-a977-343d-b94a-123e9c098fbb","name":"AzureDatalakeKeytabService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}