MINIFI_Traceability.json
{"flowContents":{"identifier":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"MINIFI Traceability","comments":"","position":{"x":-1504.0,"y":968.0},"processGroups":[],"remoteProcessGroups":[{"identifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","name":"NiFi Flow","comments":"","position":{"x":1800.0,"y":584.0},"targetUri":"https://euedcunil011.dc.ege.ds:8443","targetUris":"https://euedcunil011.dc.ege.ds:8443","communicationsTimeout":"30 sec","yieldDuration":"10 sec","transportProtocol":"HTTP","proxyHost":"","proxyUser":"","inputPorts":[{"identifier":"f4734cc6-87a1-3458-a610-813f4b03d0ca","name":"LOCKBOLT SUCCESS","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"10059ba1-0184-1000-ffff-ffffbac861fa","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"0a8534e2-e30e-3d11-9399-5944edf1d8b3","name":"LWM ERROR","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"aad87484-6f2a-114e-0000-000071e7aab7","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"48589032-b3ec-3f97-8112-2c4a8200df72","name":"MINIFI WW STATUS","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"d6913501-d259-14d6-ffff-ffffbd53107d","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"b22314fd-5885-3c73-9ae5-9d534605c634","name":"LWM SUCCESS","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"aad880f9-6f2a-114e-0000-000075765931","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"26013b8f-f503-3d68-ab61-7d55a59ec728","name":"Traceability_status","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"364b331c-3e3e-172a-0000-00000b715796","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"bcb152be-ca5c-31e9-be3c-8a5e910343fc","name":"LOCKBOLT STATUS","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"10066480-0184-1000-ffff-ffffc878018e","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"ec11efbf-3cc6-3510-8689-f9530bca5b7b","name":"MINIFI WW ERROR","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"2169bc46-016e-1000-0000-000003c55c07","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"9f95e03e-12df-3d2a-8688-e9d9c9023099","name":"Traceability_errors","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"0d5639a7-4535-175a-ad0d-924b5c99837a","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"3d785e91-4e8b-311b-a4b3-fc9a717edf91","name":"Traceability","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"ca666d37-016d-1000-ffff-ffff8d11cd71","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"1fcad31b-1785-336d-aad3-1b0870ab8b4d","name":"CALIGNY","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"ed846543-9e89-149e-0000-00005dbeba83","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"7d833ebd-5136-3107-abb4-89cfeb2e7744","name":"MINIFI WW SUCCESS","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"2168cdf5-016e-1000-0000-000067c94fda","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"7c18ea0e-202e-3256-a723-02df9c96b0d9","name":"LWM STATUS","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"aad874a9-6f2a-114e-ffff-ffffc19740c8","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"207f2d9e-12fb-36ca-a799-0ae3b15b0f40","name":"CALIGNY STATUS","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"38463160-9367-14f8-0000-0000580c2286","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"dc7136ae-7b89-3f67-bf24-c754221478f3","name":"takwa_success","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"00e5e635-45d9-1944-0000-000010f56ebe","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"e263cefc-79a5-3f8d-91ed-5c641fa41428","name":"LOCKBOLT ERROR","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"100629ed-0184-1000-ffff-ffffb783fe99","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"},{"identifier":"9eb72e77-ee2d-30de-a5b8-21af975ac516","name":"s2smetrics","comments":"","remoteGroupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"4010437e-016e-1000-ffff-ffff811bc7d3","groupIdentifier":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3"}],"outputPorts":[],"componentType":"REMOTE_PROCESS_GROUP","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"}],"processors":[{"identifier":"1c29827d-7a00-31eb-95c7-287a88ba6d72","name":"FetchFile","comments":"","position":{"x":880.0,"y":320.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":"${absolute.path}/archive","Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"ca0d1da8-596c-3c6b-a611-41f75fa87d3d","name":"ListFile","comments":"","position":{"x":224.0,"y":504.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"1 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":"[^\\.].*\\.xml","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/mnt/bigdata2","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"e6586f52-be8e-380d-b8af-651dcb801cbb","name":"UpdateAttribute","comments":"","position":{"x":880.0,"y":608.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"server":"frbsoapp0016","Delete Attributes Expression":null,"application":"traceability","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","plant":"1254","Stateful Variables Initial Value":null},"propertyDescriptors":{"server":{"name":"server","displayName":"server","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"annotationData":"<criteria>\n    <flowFilePolicy>USE_ORIGINAL</flowFilePolicy>\n</criteria>","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"b36b3fcd-4f34-368d-acf4-eb7f67908004","name":"UpdateAttribute","comments":"","position":{"x":880.0,"y":800.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"agent_ip":"${ip()}","Delete Attributes Expression":null,"agent_hostname":"${hostname()}","application":"TRACEABILITY","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"agent_ip":{"name":"agent_ip","displayName":"agent_ip","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"agent_hostname":{"name":"agent_hostname","displayName":"agent_hostname","identifiesControllerService":false,"sensitive":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"8dfbdddc-f053-3d29-a332-a6520a44317c","name":"ListFile","comments":"","position":{"x":224.0,"y":216.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"1 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":"[^\\.].*\\.xml","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/mnt/bigdata1","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"5dbde150-f5c2-3ac0-8e37-35043c84cb84","name":"TailFile","comments":"","position":{"x":224.0,"y":792.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.TailFile","properties":{"tail-base-directory":null,"tailfile-recursive-lookup":"false","File Location":"Local","tailfile-maximum-age":"24 hours","Rolling Filename Pattern":null,"File to Tail":"logs/minifi-status.log","Initial Start Position":"Current Time","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cbf61251-999b-3aaf-82de-d36bb892b221","name":"","source":{"id":"e6586f52-be8e-380d-b8af-651dcb801cbb","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"UpdateAttribute","comments":""},"destination":{"id":"3d785e91-4e8b-311b-a4b3-fc9a717edf91","type":"REMOTE_INPUT_PORT","groupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","name":"Traceability","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"c37104d7-0def-39f8-84d4-51e52c963d65","name":"","source":{"id":"b36b3fcd-4f34-368d-acf4-eb7f67908004","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"UpdateAttribute","comments":""},"destination":{"id":"26013b8f-f503-3d68-ab61-7d55a59ec728","type":"REMOTE_INPUT_PORT","groupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","name":"Traceability_status","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"1c67b062-f931-3365-bac1-398f8e41ae85","name":"","source":{"id":"8dfbdddc-f053-3d29-a332-a6520a44317c","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"ListFile","comments":""},"destination":{"id":"1c29827d-7a00-31eb-95c7-287a88ba6d72","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"b9edba92-f774-3eb7-803c-5856654d2ee2","name":"","source":{"id":"ca0d1da8-596c-3c6b-a611-41f75fa87d3d","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"ListFile","comments":""},"destination":{"id":"1c29827d-7a00-31eb-95c7-287a88ba6d72","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"ed4784b3-bce0-3a0a-bdbe-4ca70130d57b","name":"","source":{"id":"5dbde150-f5c2-3ac0-8e37-35043c84cb84","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"TailFile","comments":""},"destination":{"id":"b36b3fcd-4f34-368d-acf4-eb7f67908004","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"47b54c6b-78d4-3302-9e6d-d3d525dedff2","name":"","source":{"id":"355ad9fa-860a-3ae4-a65e-3efe95037c1e","type":"FUNNEL","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"Funnel","comments":""},"destination":{"id":"9f95e03e-12df-3d2a-8688-e9d9c9023099","type":"REMOTE_INPUT_PORT","groupId":"0d6796df-04b4-3df2-8b36-e1927cfcc7d3","name":"Traceability_errors","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"9193fb6c-7943-3a69-8f4e-ec4396528a39","name":"","source":{"id":"1c29827d-7a00-31eb-95c7-287a88ba6d72","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"FetchFile","comments":""},"destination":{"id":"e6586f52-be8e-380d-b8af-651dcb801cbb","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"},{"identifier":"e59da914-db34-3b3b-9708-a2bc86d144d0","name":"","source":{"id":"1c29827d-7a00-31eb-95c7-287a88ba6d72","type":"PROCESSOR","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"FetchFile","comments":""},"destination":{"id":"355ad9fa-860a-3ae4-a65e-3efe95037c1e","type":"FUNNEL","groupId":"9a49f278-f3fb-34ce-9d2a-21276458f996","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"}],"labels":[{"identifier":"8629a923-748a-3fbc-a5e4-cda898d78ec7","position":{"x":-1544.0,"y":576.0},"label":"Minifi flows","width":496.0,"height":2216.0,"style":{"background-color":"#a7adc7","font-size":"22px"},"componentType":"LABEL","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"}],"funnels":[{"identifier":"355ad9fa-860a-3ae4-a65e-3efe95037c1e","position":{"x":1640.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"9a49f278-f3fb-34ce-9d2a-21276458f996"}],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}