Minifi_Monitoring.json
{"flowContents":{"identifier":"422c28ee-259d-322f-876d-9aed35c68050","name":"Minifi Monitoring","comments":"","position":{"x":320.0,"y":968.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"182f63c4-2954-3796-9eaf-627edc94aecb","name":"EvaluateJsonPath","comments":"","position":{"x":515.0000234224995,"y":754.9999990317106},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"stats_flowfilesSent":"$.instanceStatus.instanceStats.flowfilesSent","Destination":"flowfile-attribute","stats_flowfilesTransferred":"$.instanceStatus.instanceStats.flowfilesTransferred","health_activeThreads":"$.instanceStatus.instanceHealth.activeThreads","Return Type":"auto-detect","stats_bytesTransferred":"$.instanceStatus.instanceStats.bytesTransferred","Null Value Representation":"empty string","health_queueCount":"$.instanceStatus.instanceHealth.queuedCount","stats_bytesWritten":"$.instanceStatus.instanceStats.bytesWritten","Path Not Found Behavior":"ignore","health_queuedContentSize":"$.instanceStatus.instanceHealth.queuedContentSize","health_hasBulletins":"$.instanceStatus.instanceHealth.hasBulletins","stats_bytesSent":"$.instanceStatus.instanceStats.bytesSent","stats_bytesRead":"$.instanceStatus.instanceStats.bytesRead","stats_bytesReceived":"$.instanceStatus.instanceStats.bytesReceived","stats_flowfilesReceived":"$.instanceStatus.instanceStats.flowfilesReceived"},"propertyDescriptors":{"stats_flowfilesSent":{"name":"stats_flowfilesSent","displayName":"stats_flowfilesSent","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"stats_flowfilesTransferred":{"name":"stats_flowfilesTransferred","displayName":"stats_flowfilesTransferred","identifiesControllerService":false,"sensitive":false},"health_activeThreads":{"name":"health_activeThreads","displayName":"health_activeThreads","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"stats_bytesTransferred":{"name":"stats_bytesTransferred","displayName":"stats_bytesTransferred","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"health_queueCount":{"name":"health_queueCount","displayName":"health_queueCount","identifiesControllerService":false,"sensitive":false},"stats_bytesWritten":{"name":"stats_bytesWritten","displayName":"stats_bytesWritten","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"health_queuedContentSize":{"name":"health_queuedContentSize","displayName":"health_queuedContentSize","identifiesControllerService":false,"sensitive":false},"health_hasBulletins":{"name":"health_hasBulletins","displayName":"health_hasBulletins","identifiesControllerService":false,"sensitive":false},"stats_bytesSent":{"name":"stats_bytesSent","displayName":"stats_bytesSent","identifiesControllerService":false,"sensitive":false},"stats_bytesRead":{"name":"stats_bytesRead","displayName":"stats_bytesRead","identifiesControllerService":false,"sensitive":false},"stats_bytesReceived":{"name":"stats_bytesReceived","displayName":"stats_bytesReceived","identifiesControllerService":false,"sensitive":false},"stats_flowfilesReceived":{"name":"stats_flowfilesReceived","displayName":"stats_flowfilesReceived","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"a4ead1cf-4aae-37dd-99a5-65aa02245295","name":"ReplaceText","comments":"","position":{"x":1192.0,"y":760.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"minifi_instance_status,agent_application=${application:replace(' ','_')},agent_hostname=${agent_hostname:toLower():substringBefore('.')},agent_ip=${agent_ip} health_queueCount=${health_queueCount},health_queueSize=${health_queuedContentSize},stats_flowfilesReceived=${stats_flowfilesReceived},stats_bytesReceived=${stats_bytesReceived},stats_flowfilesSent=${stats_flowfilesSent},stats_bytesSent=${stats_bytesSent} ${log_datetime:toDate(\"yyyy-MM-dd HH:mm:ss\"):toNumber()}000000","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"2d05e5c1-5ac4-3a80-a822-bcdeb05a55fa","name":"ReplaceText","comments":"","position":{"x":1175.0000234224995,"y":474.99999903171056},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.+ )\\{","Replacement Value":"{","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"51cea374-8320-325c-a3d4-0bcdabde3ea0","name":"PutInfluxDBinAzureProduction","comments":"","position":{"x":1801.3308339693745,"y":763.3605336996793},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{"background-color":"#ffffff"},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"minifi_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"5 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"612636d7-1f12-3bf5-afb4-9ec9f64e2c53","name":"ExtractText","comments":"","position":{"x":502.00002342249945,"y":474.99999903171056},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractText","properties":{"Enable Unicode Predefined Character Classes":"false","log_datetime":"([0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2})","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"log_datetime":{"name":"log_datetime","displayName":"log_datetime","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"}],"inputPorts":[{"identifier":"d266fef9-12ba-3bcc-9572-70e1562c6f67","name":"Minifi instance status","comments":"","position":{"x":-48.99997657750055,"y":505.99999903171056},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"}],"outputPorts":[],"connections":[{"identifier":"d13917e2-fb72-398a-ac19-acfbc49fde59","name":"","source":{"id":"51cea374-8320-325c-a3d4-0bcdabde3ea0","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"PutInfluxDBinAzureProduction","comments":""},"destination":{"id":"8d8573d2-0bd2-3149-9a93-87bd54be8ebc","type":"FUNNEL","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"a8ba956d-b688-3799-b0c1-2dcdde5d1be6","name":"","source":{"id":"d266fef9-12ba-3bcc-9572-70e1562c6f67","type":"INPUT_PORT","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"Minifi instance status","comments":""},"destination":{"id":"612636d7-1f12-3bf5-afb4-9ec9f64e2c53","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ExtractText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"c2e487dc-3c1c-3d50-9f53-72a371fee0d2","name":"","source":{"id":"a4ead1cf-4aae-37dd-99a5-65aa02245295","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ReplaceText","comments":""},"destination":{"id":"51cea374-8320-325c-a3d4-0bcdabde3ea0","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"PutInfluxDBinAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"cbab9e16-b635-3f2c-9050-672a38e4f6ad","name":"","source":{"id":"612636d7-1f12-3bf5-afb4-9ec9f64e2c53","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ExtractText","comments":""},"destination":{"id":"2d05e5c1-5ac4-3a80-a822-bcdeb05a55fa","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"4fa284d5-8b15-3d09-a6ef-d1d12854474c","name":"","source":{"id":"2d05e5c1-5ac4-3a80-a822-bcdeb05a55fa","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ReplaceText","comments":""},"destination":{"id":"00bcbf98-62c5-3400-a091-0ec00f0a34be","type":"FUNNEL","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"4796c85c-45ee-332d-8b13-280869c8e310","name":"","source":{"id":"182f63c4-2954-3796-9eaf-627edc94aecb","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"EvaluateJsonPath","comments":""},"destination":{"id":"a4ead1cf-4aae-37dd-99a5-65aa02245295","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"3220b214-2ee9-37ed-ad4c-063d70978278","name":"","source":{"id":"182f63c4-2954-3796-9eaf-627edc94aecb","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"EvaluateJsonPath","comments":""},"destination":{"id":"db0128d6-6bf2-3ff1-a9d0-1953f8721cf9","type":"FUNNEL","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"a21c0dbb-b79f-345a-87c7-43447b9d1f85","name":"","source":{"id":"a4ead1cf-4aae-37dd-99a5-65aa02245295","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ReplaceText","comments":""},"destination":{"id":"d4954167-597b-3fe4-8098-4b31a1cf937c","type":"FUNNEL","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"414be726-8221-3aac-8ffd-1da74816de1f","name":"","source":{"id":"612636d7-1f12-3bf5-afb4-9ec9f64e2c53","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ExtractText","comments":""},"destination":{"id":"7468768c-2509-3007-a692-0c4cab0a2557","type":"FUNNEL","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"4ff7024f-21ee-32fe-b05c-bbba741495cc","name":"","source":{"id":"2d05e5c1-5ac4-3a80-a822-bcdeb05a55fa","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"ReplaceText","comments":""},"destination":{"id":"182f63c4-2954-3796-9eaf-627edc94aecb","type":"PROCESSOR","groupId":"422c28ee-259d-322f-876d-9aed35c68050","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"}],"labels":[],"funnels":[{"identifier":"8d8573d2-0bd2-3149-9a93-87bd54be8ebc","position":{"x":2414.5006346524633,"y":802.8345774358975},"componentType":"FUNNEL","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"00bcbf98-62c5-3400-a091-0ec00f0a34be","position":{"x":1325.0000234224995,"y":669.9999990317106},"componentType":"FUNNEL","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"db0128d6-6bf2-3ff1-a9d0-1953f8721cf9","position":{"x":663.0000234224995,"y":956.9999990317106},"componentType":"FUNNEL","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"d4954167-597b-3fe4-8098-4b31a1cf937c","position":{"x":1348.0000234224995,"y":958.9999990317106},"componentType":"FUNNEL","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"7468768c-2509-3007-a692-0c4cab0a2557","position":{"x":653.0000234224995,"y":669.9999990317106},"componentType":"FUNNEL","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"}],"controllerServices":[{"identifier":"d2ab8497-48c6-31f1-8256-1ef7dbf090bc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"},{"identifier":"b835a7e3-7049-35d5-b335-c8d34231e3a0","name":"FreeFormTextRecordSetWriter","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Text":null,"Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"422c28ee-259d-322f-876d-9aed35c68050"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}