MINIFI_Weld_Warrior.json
{"flowContents":{"identifier":"93661d10-f70a-3413-9c48-f9c79465131b","name":"MINIFI Weld Warrior","comments":"","position":{"x":-1506.956229554834,"y":1413.513976996609},"processGroups":[],"remoteProcessGroups":[{"identifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90","name":"NiFi Flow","comments":"","position":{"x":1216.0,"y":608.0},"targetUri":"https://euedcunil011.dc.ege.ds:8443","targetUris":"https://euedcunil011.dc.ege.ds:8443","communicationsTimeout":"30 sec","yieldDuration":"10 sec","transportProtocol":"HTTP","proxyHost":"","proxyUser":"","inputPorts":[{"identifier":"83272aae-56aa-3470-92e9-9ea8c04c086a","name":"LOCKBOLT SUCCESS","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"10059ba1-0184-1000-ffff-ffffbac861fa","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"06936ca4-5ccf-35e0-8959-d4f3fb8b3a44","name":"LWM ERROR","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"aad87484-6f2a-114e-0000-000071e7aab7","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"466c16de-d028-30e6-9e43-59887d8901d2","name":"MINIFI WW STATUS","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"d6913501-d259-14d6-ffff-ffffbd53107d","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"0d421120-9a6e-3c81-adc6-25b7b535ab4c","name":"LWM SUCCESS","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"aad880f9-6f2a-114e-0000-000075765931","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"68c0b50f-860b-3f93-82cb-8ae60180f870","name":"Traceability_status","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"364b331c-3e3e-172a-0000-00000b715796","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"4db932c1-3362-328f-afce-6c5276516103","name":"LOCKBOLT STATUS","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"10066480-0184-1000-ffff-ffffc878018e","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"f4121eed-9b00-3461-97bf-b25e624325c3","name":"MINIFI WW ERROR","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"2169bc46-016e-1000-0000-000003c55c07","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"67d1f31f-9dbd-3d6a-bb00-934f9061a539","name":"Traceability_errors","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"0d5639a7-4535-175a-ad0d-924b5c99837a","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"b5d86f3b-fb22-3c27-bd71-4e77a7506a9d","name":"Traceability","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"ca666d37-016d-1000-ffff-ffff8d11cd71","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"70442f38-0f4d-3e89-8508-3af50fff17a2","name":"CALIGNY","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"ed846543-9e89-149e-0000-00005dbeba83","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"65d92d5a-4b59-3a04-95aa-d985a08412be","name":"MINIFI WW SUCCESS","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"2168cdf5-016e-1000-0000-000067c94fda","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"afb98add-6ddc-385c-8541-cfcc05387573","name":"LWM STATUS","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"aad874a9-6f2a-114e-ffff-ffffc19740c8","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"a00fcc73-878f-336e-a64b-5cc905918d37","name":"CALIGNY STATUS","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"38463160-9367-14f8-0000-0000580c2286","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"180f9ebe-70fd-3aed-a25d-0afd6ab1e16c","name":"takwa_success","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"00e5e635-45d9-1944-0000-000010f56ebe","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"4ef01860-d175-38bc-b404-8e234416b692","name":"LOCKBOLT ERROR","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"100629ed-0184-1000-ffff-ffffb783fe99","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"},{"identifier":"05f12638-a1ab-357a-99c3-1f0ed9c59368","name":"s2smetrics","comments":"","remoteGroupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"4010437e-016e-1000-ffff-ffff811bc7d3","groupIdentifier":"3b67968c-442e-317b-88cf-abe7bf3d1d90"}],"outputPorts":[],"componentType":"REMOTE_PROCESS_GROUP","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"}],"processors":[{"identifier":"adf3280e-feca-3596-98a3-2224d130db11","name":"GenerateTableFetch","comments":"","position":{"x":585.1869639548972,"y":401.4088502148627},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"weldwarrior","db-fetch-db-type":"Generic","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"13d3a632-c1d6-3c74-8a4b-48d136bb67e3","gen-table-fetch-partition-size":"10000","Columns to Return":"signalexp, lfdnr, seamnum, partseamnum, result, robnum, timestamppg, partnumchar, signalmeancorrvolt, referencemeanvolt, signalhighlimitexp, referenceexp, signallowlimitexp, serverident","Maximum-value Columns":"lfdnr","db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"120 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"91d12d46-0f29-3660-b9f9-7b17d2d9512b","name":"TailFile","comments":"","position":{"x":587.1550815448757,"y":900.5383724046615},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.TailFile","properties":{"tail-base-directory":null,"tailfile-recursive-lookup":"false","File Location":"Local","tailfile-maximum-age":"24 hours","Rolling Filename Pattern":null,"File to Tail":"logs/minifi-status.log","Initial Start Position":"Current Time","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"2767d24d-52c8-3dce-8aa2-b2b15c9a18c5","name":"UpdateAttribute","comments":"","position":{"x":1240.0,"y":896.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"agent_ip":"${ip()}","Delete Attributes Expression":null,"agent_hostname":"${hostname()}","application":"WELD_WARRIOR","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"agent_ip":{"name":"agent_ip","displayName":"agent_ip","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"agent_hostname":{"name":"agent_hostname","displayName":"agent_hostname","identifiesControllerService":false,"sensitive":false},"application":{"name":"application","displayName":"application","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"83b2b963-2740-3c84-b220-5abebd002282","name":"ExecuteSQL","comments":"","position":{"x":584.0,"y":648.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteSQL","properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"13d3a632-c1d6-3c74-8a4b-48d136bb67e3","sql-post-query":null,"dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b4a4a93c-4973-324d-860b-5393e14b1f09","name":"","source":{"id":"adf3280e-feca-3596-98a3-2224d130db11","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"GenerateTableFetch","comments":""},"destination":{"id":"83b2b963-2740-3c84-b220-5abebd002282","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"ExecuteSQL","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"e6734a9a-3887-3c89-9940-49aedac280b4","name":"","source":{"id":"83b2b963-2740-3c84-b220-5abebd002282","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"ExecuteSQL","comments":""},"destination":{"id":"79ac9e7a-cfa8-3270-a1ae-6c446478bde5","type":"FUNNEL","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"0b54addf-62df-319b-a8f4-7171dd94bce1","name":"","source":{"id":"2767d24d-52c8-3dce-8aa2-b2b15c9a18c5","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"UpdateAttribute","comments":""},"destination":{"id":"466c16de-d028-30e6-9e43-59887d8901d2","type":"REMOTE_INPUT_PORT","groupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","name":"MINIFI WW STATUS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"54dc06c4-bf3c-3b65-956a-78877981c467","name":"","source":{"id":"83b2b963-2740-3c84-b220-5abebd002282","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"ExecuteSQL","comments":""},"destination":{"id":"65d92d5a-4b59-3a04-95aa-d985a08412be","type":"REMOTE_INPUT_PORT","groupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","name":"MINIFI WW SUCCESS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"c6fa096f-7f27-39e9-9625-e77d4d2cf6da","name":"","source":{"id":"91d12d46-0f29-3660-b9f9-7b17d2d9512b","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"TailFile","comments":""},"destination":{"id":"2767d24d-52c8-3dce-8aa2-b2b15c9a18c5","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"d79e1658-407f-368a-9dbc-10a2c8c49e91","name":"","source":{"id":"79ac9e7a-cfa8-3270-a1ae-6c446478bde5","type":"FUNNEL","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"Funnel","comments":""},"destination":{"id":"f4121eed-9b00-3461-97bf-b25e624325c3","type":"REMOTE_INPUT_PORT","groupId":"3b67968c-442e-317b-88cf-abe7bf3d1d90","name":"MINIFI WW ERROR","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"8840f0f1-d8a3-332d-b76e-3aa84c62e8b6","name":"","source":{"id":"adf3280e-feca-3596-98a3-2224d130db11","type":"PROCESSOR","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"GenerateTableFetch","comments":""},"destination":{"id":"79ac9e7a-cfa8-3270-a1ae-6c446478bde5","type":"FUNNEL","groupId":"93661d10-f70a-3413-9c48-f9c79465131b","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"}],"labels":[],"funnels":[{"identifier":"79ac9e7a-cfa8-3270-a1ae-6c446478bde5","position":{"x":1383.0714437491115,"y":439.9318738526987},"componentType":"FUNNEL","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"}],"controllerServices":[{"identifier":"13d3a632-c1d6-3c74-8a4b-48d136bb67e3","name":"weldwarrior_DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1","Database Connection URL":"jdbc:postgresql://127.0.0.1/weldwarrior","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"ext/postgresql-42.2.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"},{"identifier":"af5fa2f5-e357-31d6-8a22-03e1057eb4a9","name":"DBCPConnectionPool_PosrgreSQL_WW_test","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://127.0.0.1:5432/weldwarrior?ssl=allow","dbcp-time-between-eviction-runs":"-1","Database User":"postgresql@127.0.0.1","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"ext/postgresql-42.2.5.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"93661d10-f70a-3413-9c48-f9c79465131b"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}