MIPM_Monitoring.json
{"flowContents":{"identifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"MIPM Monitoring","comments":"","position":{"x":-908.9032859127867,"y":-742.0246498945057},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e829e094-dd9a-322c-a8c0-37ab6e9b8a4d","name":"RouteOnAttribute","comments":"","position":{"x":1298.6949097062648,"y":99.67386564435333},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","isFromKafka":"${DE_API:equals(\"KAFKA\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isFromKafka":{"name":"isFromKafka","displayName":"isFromKafka","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"eb42d458-6bce-38a6-94cd-83557cf86014","name":"ReplaceText","comments":"","position":{"x":1305.157234453086,"y":382.7801852957718},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"kafka_migration_status,kafka_source=${kafka_source},de_plant=${DE_PLANT},de_machine=${DE_MACHINE:replace(\" \",\"_\")},de_type=${DE_TYPE},de_api=${DE_API} nb_records=1 ${now():toNumber()}000000","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"a0e8a1cc-069a-3d7b-847f-02b69c99c556","name":"JoltTransformJSON","comments":"","position":{"x":1299.11050785239,"y":-409.53149817879955},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[\n    {\n        \"operation\": \"shift\",\n        \"spec\": {\n            \"DE_PLANT\": \"DE_PLANT\",\n            \"DE_MACHINE\": \"DE_MACHINE\",\n            \"DE_TYPE\": \"DE_TYPE\",\n            \"DE_TIMESTAMP\": \"DE_TIMESTAMP\",\n            \"DE_API\": \"DE_API\",\n            \"BD_TIMESTAMP\": \"BD_TIMESTAMP\"\n        }\n    }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"e729373d-8c08-30f9-a805-98ced8836c63","name":"PutInfluxDBonAzure","comments":"","position":{"x":531.0573663122311,"y":225.43933711549175},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"injection_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"1 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"38fcb0b6-1952-362b-b693-76d17711c825","name":"QueryRecord","comments":"","position":{"x":532.8519219762936,"y":9.100082736219292},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","record-writer":"b8e20ea6-cc19-3e91-a7df-c47586451334","count":"select 'nifi_faurecia' as platform, de_plant, de_machine, de_type, de_api, min(bd_timestamp) as bd_min, max(bd_timestamp) as bd_max, count(*) as numlines\nfrom flowfile\ngroup by de_plant, de_machine, de_type, de_api","record-reader":"5a9eff63-c7dd-39ca-b0ca-84a641d9d098","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"count":{"name":"count","displayName":"count","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"4f378419-0c84-3e6b-9d6f-921077456142","name":"EvaluateJsonPath","comments":"","position":{"x":1300.6724786169186,"y":-192.55675663450825},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"DE_TYPE":"$.DE_TYPE","Destination":"flowfile-attribute","Return Type":"auto-detect","BD_TIMESTAMP":"$.BD_TIMESTAMP","DE_PLANT":"$.DE_PLANT","DE_MACHINE":"$.DE_MACHINE","Null Value Representation":"empty string","DE_API":"$.DE_API","DE_TIMESTAMP":"$.DE_TIMESTAMP","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"DE_TYPE":{"name":"DE_TYPE","displayName":"DE_TYPE","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"BD_TIMESTAMP":{"name":"BD_TIMESTAMP","displayName":"BD_TIMESTAMP","identifiesControllerService":false,"sensitive":false},"DE_PLANT":{"name":"DE_PLANT","displayName":"DE_PLANT","identifiesControllerService":false,"sensitive":false},"DE_MACHINE":{"name":"DE_MACHINE","displayName":"DE_MACHINE","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"DE_API":{"name":"DE_API","displayName":"DE_API","identifiesControllerService":false,"sensitive":false},"DE_TIMESTAMP":{"name":"DE_TIMESTAMP","displayName":"DE_TIMESTAMP","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"0a1a3ddb-9854-3c19-a230-e6acbb062e2f","name":"MergeContent","comments":"","position":{"x":531.3390435583249,"y":-191.2399231384145},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"10000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"60 seconds","Demarcator File":"\n","Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"10000"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"}],"inputPorts":[{"identifier":"e6deb950-30df-367e-9339-daac843665d1","name":"GIS-ING-From MIPM ingestion","comments":"","position":{"x":557.5363242764242,"y":-371.36754598349034},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"}],"outputPorts":[],"connections":[{"identifier":"da9725c5-df90-3c72-a271-05a2eb395fec","name":"","source":{"id":"0a1a3ddb-9854-3c19-a230-e6acbb062e2f","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"MergeContent","comments":""},"destination":{"id":"38fcb0b6-1952-362b-b693-76d17711c825","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"QueryRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"ce784ed1-5d7a-3090-885e-ba799a046e0f","name":"","source":{"id":"e729373d-8c08-30f9-a805-98ced8836c63","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"PutInfluxDBonAzure","comments":""},"destination":{"id":"2e0cbf72-8501-32b0-b4fd-d0bf8e7c989b","type":"FUNNEL","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"b34dc266-01fe-378d-a567-20dd22722a2e","name":"","source":{"id":"4f378419-0c84-3e6b-9d6f-921077456142","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"EvaluateJsonPath","comments":""},"destination":{"id":"0a1a3ddb-9854-3c19-a230-e6acbb062e2f","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"7fc51be7-0e28-3246-87c1-32ffdac7c17f","name":"","source":{"id":"a0e8a1cc-069a-3d7b-847f-02b69c99c556","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"JoltTransformJSON","comments":""},"destination":{"id":"14e75e15-3e8e-3ec2-bd3b-580158a076c8","type":"FUNNEL","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"7588adaf-dac6-3725-9db5-72489e42fe1d","name":"","source":{"id":"38fcb0b6-1952-362b-b693-76d17711c825","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"QueryRecord","comments":""},"destination":{"id":"e729373d-8c08-30f9-a805-98ced8836c63","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"PutInfluxDBonAzure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["count"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"4a439adc-f71f-3920-a392-c3f1d013de99","name":"","source":{"id":"e6deb950-30df-367e-9339-daac843665d1","type":"INPUT_PORT","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"GIS-ING-From MIPM ingestion","comments":""},"destination":{"id":"a0e8a1cc-069a-3d7b-847f-02b69c99c556","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"45c82d0f-0d33-3107-82d8-7959cf7b7cc9","name":"","source":{"id":"eb42d458-6bce-38a6-94cd-83557cf86014","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"ReplaceText","comments":""},"destination":{"id":"3026fe36-333a-3694-baf9-ae3c15017478","type":"FUNNEL","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"788cb95b-e8d5-3b5a-b1d6-8ddd44d64e91","name":"","source":{"id":"eb42d458-6bce-38a6-94cd-83557cf86014","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"ReplaceText","comments":""},"destination":{"id":"e729373d-8c08-30f9-a805-98ced8836c63","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"PutInfluxDBonAzure","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":873.8024291992188,"y":444.6166687011719}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"231af798-8c3a-3301-ad5a-ba8d3ee902ea","name":"","source":{"id":"4f378419-0c84-3e6b-9d6f-921077456142","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"EvaluateJsonPath","comments":""},"destination":{"id":"d32ccebd-e43f-3340-ae29-97127e11914d","type":"FUNNEL","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"a98627b4-71bc-321b-9ec3-140ac55f96f5","name":"","source":{"id":"4f378419-0c84-3e6b-9d6f-921077456142","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"EvaluateJsonPath","comments":""},"destination":{"id":"e829e094-dd9a-322c-a8c0-37ab6e9b8a4d","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"b202df22-4d35-37b1-8976-9aa1e703dcac","name":"","source":{"id":"e829e094-dd9a-322c-a8c0-37ab6e9b8a4d","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"RouteOnAttribute","comments":""},"destination":{"id":"eb42d458-6bce-38a6-94cd-83557cf86014","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isFromKafka"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"38e839a3-2b3c-3d4e-808e-a986b2906906","name":"","source":{"id":"a0e8a1cc-069a-3d7b-847f-02b69c99c556","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"JoltTransformJSON","comments":""},"destination":{"id":"4f378419-0c84-3e6b-9d6f-921077456142","type":"PROCESSOR","groupId":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"}],"labels":[],"funnels":[{"identifier":"d32ccebd-e43f-3340-ae29-97127e11914d","position":{"x":1919.9597710973874,"y":-147.59768976667988},"componentType":"FUNNEL","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"3026fe36-333a-3694-baf9-ae3c15017478","position":{"x":1930.8265054858975,"y":419.92593434602287},"componentType":"FUNNEL","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"14e75e15-3e8e-3ec2-bd3b-580158a076c8","position":{"x":1918.810330776311,"y":-368.2086938314476},"componentType":"FUNNEL","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"2e0cbf72-8501-32b0-b4fd-d0bf8e7c989b","position":{"x":1138.9614271167136,"y":262.98967667192017},"componentType":"FUNNEL","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"}],"controllerServices":[{"identifier":"b8e20ea6-cc19-3e91-a7df-c47586451334","name":"FreeFormTextRecordSetWriter","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Text":"data_from_machines,platform=${platform},hostname=${hostname()},de_plant=${de_plant},de_machine=${de_machine:replace(' ', '_')},de_type=${de_type},de_api=${de_api} nb_messages=${numlines} ${now():toNumber()}000000","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"},{"identifier":"5a9eff63-c7dd-39ca-b0ca-84a641d9d098","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"65e57f5a-b0d5-3264-a9bb-fe1dd794d4ce"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}