MIPM_Ingestion.json
{"flowContents":{"identifier":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"MIPM Ingestion","comments":"","position":{"x":-1560.0,"y":-744.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"473a6fa5-fadc-33db-967d-3fe5cb1b41be","name":"EvaluateJsonPath","comments":"","position":{"x":720.0,"y":-656.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","c02_date":"$.DATE","Return Type":"auto-detect","Null Value Representation":"empty string","c01_ticket":"$.TICKET","c03_date_to":"$.DATE_TO","c02_scrap_type_code":"$.SCRAP_TYPE_CODE","Path Not Found Behavior":"ignore","c01_start_date":"$.START_DATE"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"c02_date":{"name":"c02_date","displayName":"c02_date","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"c01_ticket":{"name":"c01_ticket","displayName":"c01_ticket","identifiesControllerService":false,"sensitive":false},"c03_date_to":{"name":"c03_date_to","displayName":"c03_date_to","identifiesControllerService":false,"sensitive":false},"c02_scrap_type_code":{"name":"c02_scrap_type_code","displayName":"c02_scrap_type_code","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"c01_start_date":{"name":"c01_start_date","displayName":"c01_start_date","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"40e1a11d-ddd5-3ba3-a5b1-c4ac149230ff","name":"UpdateAttribute","comments":"","position":{"x":3928.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","nb_retry":"${nb_retry:isNull():ifElse(1, ${nb_retry:plus(1)})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"nb_retry":{"name":"nb_retry","displayName":"nb_retry","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"03ddb0d6-08ad-3cb1-9be5-fea5ef1a0c2b","name":"UpdateAttribute","comments":"","position":{"x":2719.439604827287,"y":466.1134816865831},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","nb_retry":"${nb_retry:isNull():ifElse(1, ${nb_retry:plus(1)})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"nb_retry":{"name":"nb_retry","displayName":"nb_retry","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"735ffb40-d41d-3cdc-a4b4-21c8ca5ddc93","name":"Test_Kafka_send_data_to_Azure_Prod","comments":"","position":{"x":3000.0,"y":-8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"test-caligny-data","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"fd5aac49-f5b9-38dd-9241-1a38e9bc8cf8","name":"EvaluateJsonPath","comments":"","position":{"x":1336.0,"y":-888.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","machine":"$.EQUIPMENT","Return Type":"auto-detect","plant":"$.PLANT","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"machine":{"name":"machine","displayName":"machine","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"54c70068-c050-3e42-a1c2-ec73b9d6fb14","name":"ReplaceText","comments":"","position":{"x":122.78793719831265,"y":3.7813135974004126},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*\"REMARK\" : \".*)\"+(.*\", \"CYCLE\".*)","Replacement Value":"$1$2","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"bea6473a-ef22-364e-939e-2f86874d0dc2","name":"UpdateAttribute","comments":"","position":{"x":1128.0,"y":456.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","bd_timestamp":"${now():toNumber()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"bd_timestamp":{"name":"bd_timestamp","displayName":"bd_timestamp","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"fa6ee0d7-68cf-3d17-8be5-e442580b4772","name":"HandleHttpRequest","comments":"","position":{"x":504.0,"y":480.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","properties":{"multipart-request-max-size":"128 MB","Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Additional HTTP Methods":null,"container-queue-size":"200","HTTP Context Map":"4f5171e3-d921-3446-97c6-c1daae184b31","multipart-read-buffer-size":"16 MB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/","Allow GET":"true","Allow HEAD":"false","Listening Port":"5140","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"223927fc-54ad-3eed-b49f-bb268f4a2fe9","name":"RouteOnAttribute","comments":"","position":{"x":4560.0,"y":616.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","nb_retry_less_3":"${nb_retry:le(3)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nb_retry_less_3":{"name":"nb_retry_less_3","displayName":"nb_retry_less_3","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"8f35cb7e-e807-3b50-9615-8adafde3792b","name":"EvaluateJsonPath","comments":"","position":{"x":728.0,"y":-216.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","data":"$.Row","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"facc467e-078b-3f1f-a252-32eea8aef4cb","name":"HandleHttpResponse","comments":"","position":{"x":1856.0,"y":752.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"4f5171e3-d921-3446-97c6-c1daae184b31","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"47acd8ab-3c96-3247-9970-a917e9945e27","name":"EvaluateJsonPath","comments":"","position":{"x":1344.0,"y":-552.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","machine":"$.PLC_ID","Return Type":"auto-detect","plant":"$.PLANT","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"machine":{"name":"machine","displayName":"machine","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"bdc20419-ca8c-3e59-a46b-16e6c812605c","name":"AzureConsumePlantDirectInput","comments":"","position":{"x":113.30245265291887,"y":-879.5984031700095},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0","properties":{"header-name-regex":null,"sasl.username":null,"max.poll.records":"10000","group.id":"nifi-plant-direct-input","bootstrap.servers":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SSL","kerberos-credentials-service":null,"ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","sasl.kerberos.keytab":null,"honor-transactions":"false","Communications Timeout":"60 secs","topic":"plant-direct-input","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","max.poll.interval.ms":"10000","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"max.poll.interval.ms":{"name":"max.poll.interval.ms","displayName":"max.poll.interval.ms","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"47f83d1e-c903-3943-ab8d-1f7ebd60a11a","name":"Kafka_send_data_to_Azure_Stag","comments":"","position":{"x":4064.0,"y":352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0005.dc.ege.ds:9093,wwvcaapp0006.dc.ege.ds:9093,wwvcaapp0007.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"plant-json-channel-prod","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"930593d1-f00f-3e64-80a3-30de634ddfa3","name":"ReplaceText","comments":"","position":{"x":720.0,"y":-440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(CoInject|Kingpower)","Replacement Value":"${'$1':toUpper()}","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f392abdf-585f-3eb6-9e23-67bb9e166ad0","name":"HandleHttpResponse","comments":"","position":{"x":1376.0,"y":752.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"4f5171e3-d921-3446-97c6-c1daae184b31","HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5d3390aa-4777-375c-b018-e146370927db","name":"EvaluateJsonPath","comments":"","position":{"x":1782.3029732281366,"y":214.71609786740896},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","plant":"$.DE_PLANT","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"plant":{"name":"plant","displayName":"plant","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"0bc7f025-4fa4-31de-9df0-3a31c68b943b","name":"UpdateAttribute","comments":"","position":{"x":1784.0,"y":-712.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"kafka_source":"Azure","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","bd_timestamp":"${now():toNumber()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"kafka_source":{"name":"kafka_source","displayName":"kafka_source","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"bd_timestamp":{"name":"bd_timestamp","displayName":"bd_timestamp","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"553b0f8a-4dde-3102-a0c3-d78ce28f5005","name":"JoltTransformJSON","comments":"","position":{"x":1784.0,"y":-8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": \"&\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n\t\t\"DE_PLANT\": \"${plant}\",\n      \t\"DE_MACHINE\":\"${machine}\",\n      \t\"DE_TYPE\":\"C\",\n\t\t\"DE_STATUS\":\"${RouteOnAttribute.Route}\",\n\t\t\"BD_TIMESTAMP\":\"${bd_timestamp}\",\n\t\t\"DE_SIZE\":${fileSize},\n\t\t\"DE_API\":\"KAFKA\"\t\n\t}\n},{\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"*\": \"=toString\"\n    }\n  }]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"2e71a5a0-f1cc-3b2c-9f63-40e97dee0a38","name":"RouteOnAttribute","comments":"","position":{"x":2376.0,"y":-8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","isCalignyTest":"${plant:equals(1281)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isCalignyTest":{"name":"isCalignyTest","displayName":"isCalignyTest","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"34ec3cc5-8d5b-3467-81f0-d0d843c7b3f3","name":"EvaluateJsonPath","comments":"","position":{"x":119.79670356640361,"y":-441.4645063542321},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","data":"$.Row","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"36932436-2c04-3f2b-9f30-914e16fa44fb","name":"ReplaceText","comments":"","position":{"x":122.64062990181503,"y":-217.89210840855532},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"(.*\"REMARK\" : \".*)\"+(.*\", \"CYCLE\".*)","Replacement Value":"$1$2","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"20a2435a-be98-3281-80e2-20991157e275","name":"RouteOnAttribute","comments":"","position":{"x":720.0,"y":-888.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"01":"${c01_start_date:isEmpty():not():and(${c01_ticket:isEmpty():not()})}","02":"${c02_date:isEmpty():not():and(${c02_scrap_type_code:isEmpty():not()})}","Routing Strategy":"Route to Property name","03":"${c03_date_to:isEmpty():not()}"},"propertyDescriptors":{"01":{"name":"01","displayName":"01","identifiesControllerService":false,"sensitive":false},"02":{"name":"02","displayName":"02","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"03":{"name":"03","displayName":"03","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"262fd154-ea4d-3b0e-a22d-458c3ba00291","name":"Kafka_send_data_to_Azure_Prod","comments":"","position":{"x":3002.110418772376,"y":220.73081713423102},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"plant-json-channel-prod","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f13854be-b548-398a-ae62-3af994918b28","name":"JoltTransformJSON","comments":"","position":{"x":1784.0,"y":472.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","properties":{"jolt-spec":"[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"*\": \"&\"\n\t}\n}, {\n\t\"operation\": \"default\",\n\t\"spec\": {\n\t\t\"DE_PLANT\": \"${http.query.param.DE_PLANT}\",\n      \t\"DE_MACHINE\":\"${http.query.param.DE_MACHINE}\",\n      \t\"DE_TYPE\":\"${http.query.param.DE_TYPE}\",\n        \"BD_TIMESTAMP\":\"${bd_timestamp}\",\n      \t\"DE_API\":\"HTTP\",\n      \t\"DE_STATUS\":\"00\",\n\t\t\"DE_SIZE\":${fileSize}\n\t}\n}]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"4c6d5cc6-fb42-3327-81ae-adcbb8798aff","name":"RouteOnAttribute","comments":"","position":{"x":2376.0,"y":216.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","plant_ID_is_OK":"${plant:isEmpty():not():and(${plant:matches(\"[0-9]{4}\")})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"plant_ID_is_OK":{"name":"plant_ID_is_OK","displayName":"plant_ID_is_OK","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"426604ee-8315-3b3f-b0dc-661f95f37f39","name":"RouteOnContent","comments":"","position":{"x":113.62057425591138,"y":-657.5393002356325},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnContent","properties":{"Content Buffer Size":"1 MB","ISSUE_CHANGETOOL":"CHANGETOOL","Match Requirement":"content must match exactly","Character Set":"UTF-8","ISSUE_SCRAP":"SCRAP","ISSUE_NTRS":"NTRS"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"ISSUE_CHANGETOOL":{"name":"ISSUE_CHANGETOOL","displayName":"ISSUE_CHANGETOOL","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"ISSUE_SCRAP":{"name":"ISSUE_SCRAP","displayName":"ISSUE_SCRAP","identifiesControllerService":false,"sensitive":false},"ISSUE_NTRS":{"name":"ISSUE_NTRS","displayName":"ISSUE_NTRS","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"3654badf-2a70-30c3-943a-99d40a5c5216","name":"RouteOnAttribute","comments":"","position":{"x":3321.2768444060553,"y":463.88995922011236},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","nb_retry_less_3":"${nb_retry:le(3)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nb_retry_less_3":{"name":"nb_retry_less_3","displayName":"nb_retry_less_3","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"130b3903-8b11-3458-b2f0-29ccf52bb171","name":"ReplaceText","comments":"","position":{"x":730.7960396153048,"y":2.770246154804454},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","properties":{"Regular Expression":"\\","Replacement Value":"/","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Literal Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"}],"inputPorts":[],"outputPorts":[{"identifier":"d76349f2-8468-33cb-9cb8-6783ad720bc4","name":"GIS-ING-MIPM Monitoring","comments":"","position":{"x":3658.8504515337468,"y":261.52377346670676},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"}],"connections":[{"identifier":"a41bbb38-c57b-3bd6-b7b2-9ea3a55decf3","name":"","source":{"id":"f13854be-b548-398a-ae62-3af994918b28","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"destination":{"id":"5d3390aa-4777-375c-b018-e146370927db","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"2 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f75fbd9c-7631-3b88-9226-d601dca5610a","name":"","source":{"id":"930593d1-f00f-3e64-80a3-30de634ddfa3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"496ed469-4897-3317-8a79-0181a34fa929","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"110fe93c-82d2-3e96-aea6-a0904de731d5","name":"","source":{"id":"47f83d1e-c903-3943-ab8d-1f7ebd60a11a","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Stag","comments":""},"destination":{"id":"40e1a11d-ddd5-3ba3-a5b1-c4ac149230ff","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"b6ad124f-5424-3601-9ab3-3a70acff9ba8","name":"","source":{"id":"bdc20419-ca8c-3e59-a46b-16e6c812605c","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"AzureConsumePlantDirectInput","comments":""},"destination":{"id":"426604ee-8315-3b3f-b0dc-661f95f37f39","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"fda16a93-bee1-3c85-b27c-690227e68fb7","name":"","source":{"id":"fd5aac49-f5b9-38dd-9241-1a38e9bc8cf8","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"f1204513-471a-384e-af64-c72c66757c23","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"3f70b2f0-efd8-35a9-9c74-4f2c7ebf3253","name":"","source":{"id":"2e71a5a0-f1cc-3b2c-9f63-40e97dee0a38","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"262fd154-ea4d-3b0e-a22d-458c3ba00291","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Prod","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5d4cf72f-8806-3958-95c9-81ee30a58a7f","name":"","source":{"id":"fd5aac49-f5b9-38dd-9241-1a38e9bc8cf8","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"ca020645-548c-3fd7-97e3-cffb4676a17f","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f442536c-3b51-3db0-b0c5-3996ec223589","name":"","source":{"id":"47acd8ab-3c96-3247-9970-a917e9945e27","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"62c02a8a-6413-3edf-9d40-1b4f2a6f60a7","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"6bf0218f-2e0d-3ab5-8200-cbffa556baed","name":"","source":{"id":"553b0f8a-4dde-3102-a0c3-d78ce28f5005","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"destination":{"id":"0392290a-5286-357c-860e-2c83962657f2","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"b7380fd0-6bf1-3987-9541-c7278d0665fb","name":"","source":{"id":"4c6d5cc6-fb42-3327-81ae-adcbb8798aff","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"67967939-9e1f-3484-84ff-046a7db1bb86","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5a7e7e72-0214-3bf1-824f-a47b58e424a4","name":"","source":{"id":"34ec3cc5-8d5b-3467-81f0-d0d843c7b3f3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"36932436-2c04-3f2b-9f30-914e16fa44fb","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"4023d882-89bb-36d4-b04c-2e06022d6fda","name":"","source":{"id":"735ffb40-d41d-3cdc-a4b4-21c8ca5ddc93","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Test_Kafka_send_data_to_Azure_Prod","comments":""},"destination":{"id":"161e5796-13c1-3905-890f-6c14b3e102f0","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"574187d2-634f-35e0-8d32-ed5da059effb","name":"","source":{"id":"3654badf-2a70-30c3-943a-99d40a5c5216","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"262fd154-ea4d-3b0e-a22d-458c3ba00291","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Prod","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nb_retry_less_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"b51e4397-073a-3061-886c-3d6db6f60aaf","name":"","source":{"id":"f13854be-b548-398a-ae62-3af994918b28","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"destination":{"id":"facc467e-078b-3f1f-a252-32eea8aef4cb","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"0d4c1d8f-4979-3b26-9770-03cebaf0eb84","name":"","source":{"id":"20a2435a-be98-3281-80e2-20991157e275","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"47acd8ab-3c96-3247-9970-a917e9945e27","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["02"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1208.0,"y":-736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"91a6be07-4679-3670-8f75-91e6002b16bc","name":"","source":{"id":"426604ee-8315-3b3f-b0dc-661f95f37f39","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnContent","comments":""},"destination":{"id":"4b36df6f-f78b-3153-a415-55de7b2fcc2f","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ISSUE_NTRS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"60 mins","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"92244286-2471-3c1d-8790-771e61bc5ab0","name":"","source":{"id":"0bc7f025-4fa4-31de-9df0-3a31c68b943b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"destination":{"id":"553b0f8a-4dde-3102-a0c3-d78ce28f5005","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"fd7fa9dc-cfab-3c91-9960-af68087eb992","name":"","source":{"id":"bea6473a-ef22-364e-939e-2f86874d0dc2","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"destination":{"id":"f13854be-b548-398a-ae62-3af994918b28","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"65eab71d-3512-3342-84b9-b43caeed03a6","name":"","source":{"id":"36932436-2c04-3f2b-9f30-914e16fa44fb","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"3a00238a-bd8c-3b5b-b0a7-481c8d8f5527","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"e428ae8e-6cea-3900-a46a-f78918b2170c","name":"","source":{"id":"20a2435a-be98-3281-80e2-20991157e275","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"20ef58fe-ec5b-352c-b66c-176d9294f3fd","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"232f3197-9e49-389a-be51-2f92bcae55ce","name":"","source":{"id":"473a6fa5-fadc-33db-967d-3fe5cb1b41be","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"20a2435a-be98-3281-80e2-20991157e275","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"cb832bd7-7125-32f1-a918-1a080ac03baa","name":"","source":{"id":"f13854be-b548-398a-ae62-3af994918b28","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"destination":{"id":"f392abdf-585f-3eb6-9e23-67bb9e166ad0","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f691818b-c034-3049-88ff-654d7c353ef6","name":"","source":{"id":"5d3390aa-4777-375c-b018-e146370927db","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"bf4bc8b6-290a-3ffb-a7d3-d0090332ea45","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"0b1364b9-27ec-37d2-bcca-407ef9e72d22","name":"","source":{"id":"f1204513-471a-384e-af64-c72c66757c23","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"destination":{"id":"0bc7f025-4fa4-31de-9df0-3a31c68b943b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5ef147f9-a3b8-3bf3-b5dc-4444439469b7","name":"","source":{"id":"fa6ee0d7-68cf-3d17-8be5-e442580b4772","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"HandleHttpRequest","comments":""},"destination":{"id":"bea6473a-ef22-364e-939e-2f86874d0dc2","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"c51c2135-afb0-3e7e-9b3d-fdc27d60c8a8","name":"","source":{"id":"54c70068-c050-3e42-a1c2-ec73b9d6fb14","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"5d7870ad-03ec-36d5-93a6-149488b9e914","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"ae929c1c-5b12-3ed7-a479-11a1fd279ba2","name":"","source":{"id":"54c70068-c050-3e42-a1c2-ec73b9d6fb14","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"130b3903-8b11-3458-b2f0-29ccf52bb171","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"c92b3d09-6cdd-351d-b229-1d7128ac711a","name":"","source":{"id":"20a2435a-be98-3281-80e2-20991157e275","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"47acd8ab-3c96-3247-9970-a917e9945e27","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["03"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"b13d334f-1fc2-3ba5-a69f-76dc5bcbfbf4","name":"","source":{"id":"426604ee-8315-3b3f-b0dc-661f95f37f39","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnContent","comments":""},"destination":{"id":"34ec3cc5-8d5b-3467-81f0-d0d843c7b3f3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"c5826451-7b83-354e-982b-5aae8cd16168","name":"","source":{"id":"8f35cb7e-e807-3b50-9615-8adafde3792b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"fe05268f-3e67-3994-a53c-d7dabf4335f1","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"979cf117-112c-319b-aba6-5671bf4ff29b","name":"","source":{"id":"426604ee-8315-3b3f-b0dc-661f95f37f39","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnContent","comments":""},"destination":{"id":"fe91e300-c924-322a-a21f-36aabb14d5a0","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ISSUE_SCRAP"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"60 mins","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"74a70e7b-b339-38aa-b2c0-4161318baff7","name":"","source":{"id":"20a2435a-be98-3281-80e2-20991157e275","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"fd5aac49-f5b9-38dd-9241-1a38e9bc8cf8","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["01"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"a075e734-fe94-3910-866d-3d74351ae50b","name":"","source":{"id":"223927fc-54ad-3eed-b49f-bb268f4a2fe9","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"47f83d1e-c903-3943-ab8d-1f7ebd60a11a","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Stag","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nb_retry_less_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"e6b88d24-5a79-36b1-8018-6cf5a1791fd2","name":"","source":{"id":"40e1a11d-ddd5-3ba3-a5b1-c4ac149230ff","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"destination":{"id":"223927fc-54ad-3eed-b49f-bb268f4a2fe9","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"812afcca-10ff-3431-87bb-863b64e08811","name":"","source":{"id":"130b3903-8b11-3458-b2f0-29ccf52bb171","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"8f35cb7e-e807-3b50-9615-8adafde3792b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"7c84bb0a-1d6a-3a14-92bf-81a410b5fb31","name":"","source":{"id":"2e71a5a0-f1cc-3b2c-9f63-40e97dee0a38","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"735ffb40-d41d-3cdc-a4b4-21c8ca5ddc93","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Test_Kafka_send_data_to_Azure_Prod","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isCalignyTest"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"3 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5cae7436-2777-3ec1-90ac-4637854545f1","name":"","source":{"id":"130b3903-8b11-3458-b2f0-29ccf52bb171","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"6da61cb6-95d8-3e03-a1a5-837caeee47ba","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"25b446dc-236c-3ec2-a30b-e8c19ee97b26","name":"","source":{"id":"34ec3cc5-8d5b-3467-81f0-d0d843c7b3f3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"930593d1-f00f-3e64-80a3-30de634ddfa3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f7557c3a-335d-396c-b730-f23ed6f4a8d3","name":"","source":{"id":"473a6fa5-fadc-33db-967d-3fe5cb1b41be","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"6f4aed31-7e5b-3abd-8fe2-2f86b1f9cffb","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"8a41df6c-b212-3708-8ba3-c17870a1e587","name":"","source":{"id":"426604ee-8315-3b3f-b0dc-661f95f37f39","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnContent","comments":""},"destination":{"id":"6c1f624c-9996-3398-9ee0-a5b9a16d1b35","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ISSUE_CHANGETOOL"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"60 mins","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5206e501-840b-3e50-bf04-1bd07751f547","name":"","source":{"id":"262fd154-ea4d-3b0e-a22d-458c3ba00291","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Prod","comments":""},"destination":{"id":"03ddb0d6-08ad-3cb1-9be5-fea5ef1a0c2b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"afde2da6-5933-37fb-8876-85929d2ab3a6","name":"","source":{"id":"262fd154-ea4d-3b0e-a22d-458c3ba00291","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Prod","comments":""},"destination":{"id":"d76349f2-8468-33cb-9cb8-6783ad720bc4","type":"OUTPUT_PORT","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"GIS-ING-MIPM Monitoring","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"28668411-b31a-37f4-ac8b-13c4f9a014d8","name":"","source":{"id":"553b0f8a-4dde-3102-a0c3-d78ce28f5005","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"destination":{"id":"5d3390aa-4777-375c-b018-e146370927db","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"347c2d1d-9b84-3d26-b259-faee9260487f","name":"","source":{"id":"4c6d5cc6-fb42-3327-81ae-adcbb8798aff","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"2e71a5a0-f1cc-3b2c-9f63-40e97dee0a38","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["plant_ID_is_OK"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"2 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"0f213222-849e-30e0-9c45-1e6b94fdacdb","name":"","source":{"id":"8f35cb7e-e807-3b50-9615-8adafde3792b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"930593d1-f00f-3e64-80a3-30de634ddfa3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"8cd6f386-4bad-3373-9b27-99e9ffb30a4a","name":"","source":{"id":"47acd8ab-3c96-3247-9970-a917e9945e27","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"f1204513-471a-384e-af64-c72c66757c23","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f4cb9517-50ed-3373-b65b-13387c5aae90","name":"","source":{"id":"03ddb0d6-08ad-3cb1-9be5-fea5ef1a0c2b","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"UpdateAttribute","comments":""},"destination":{"id":"3654badf-2a70-30c3-943a-99d40a5c5216","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"47d66572-a8e6-360e-a7d0-8dd655d9edf5","name":"","source":{"id":"735ffb40-d41d-3cdc-a4b4-21c8ca5ddc93","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Test_Kafka_send_data_to_Azure_Prod","comments":""},"destination":{"id":"d76349f2-8468-33cb-9cb8-6783ad720bc4","type":"OUTPUT_PORT","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"GIS-ING-MIPM Monitoring","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"58aec8ac-1137-3ec4-a779-01bc3a0e6d65","name":"","source":{"id":"930593d1-f00f-3e64-80a3-30de634ddfa3","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"473a6fa5-fadc-33db-967d-3fe5cb1b41be","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"a5baad13-d3ce-3259-92ff-7eb581ea409c","name":"","source":{"id":"223927fc-54ad-3eed-b49f-bb268f4a2fe9","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"b957a856-2660-3b25-b5f9-a9aa359e940c","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"71af7799-83df-307c-abb9-95dd0c2d44ed","name":"","source":{"id":"f13854be-b548-398a-ae62-3af994918b28","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"JoltTransformJSON","comments":""},"destination":{"id":"14786fdc-7b31-3636-be44-5beb03beaa92","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"3 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f740410c-d36d-3455-8e7a-32e7f422c463","name":"","source":{"id":"3654badf-2a70-30c3-943a-99d40a5c5216","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"destination":{"id":"d4c90714-7e94-32a9-9d12-16553efa8c5f","type":"FUNNEL","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"57f84ac4-24e3-38ba-8ff9-a5a6318f2a9c","name":"","source":{"id":"36932436-2c04-3f2b-9f30-914e16fa44fb","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"destination":{"id":"54c70068-c050-3e42-a1c2-ec73b9d6fb14","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"ReplaceText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5fcb717f-cf54-3db7-af02-a91b25a4ceae","name":"","source":{"id":"262fd154-ea4d-3b0e-a22d-458c3ba00291","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Prod","comments":""},"destination":{"id":"47f83d1e-c903-3943-ab8d-1f7ebd60a11a","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"Kafka_send_data_to_Azure_Stag","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"46ea94bb-2256-3d68-a82f-f0de2cafd58b","name":"","source":{"id":"5d3390aa-4777-375c-b018-e146370927db","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"EvaluateJsonPath","comments":""},"destination":{"id":"4c6d5cc6-fb42-3327-81ae-adcbb8798aff","type":"PROCESSOR","groupId":"9f03e506-b18c-391d-bf36-ed73bad090c5","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"}],"labels":[{"identifier":"52414b12-6a22-339c-a2bb-769015504bfb","position":{"x":480.0,"y":416.0},"label":"HTTP (Process data)","width":1776.0,"height":488.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"128d4323-fbe9-37d5-850b-de7c71177a58","position":{"x":24.0,"y":-1096.0},"label":"Kafka (Contextual data)","width":2128.0,"height":1464.0,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"}],"funnels":[{"identifier":"62c02a8a-6413-3edf-9d40-1b4f2a6f60a7","position":{"x":1504.0,"y":-344.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"6da61cb6-95d8-3e03-a1a5-837caeee47ba","position":{"x":880.7592672589158,"y":203.72711899758838},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"4b36df6f-f78b-3153-a415-55de7b2fcc2f","position":{"x":624.6257301347432,"y":-730.5799619998911},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"ca020645-548c-3fd7-97e3-cffb4676a17f","position":{"x":1952.0,"y":-840.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"496ed469-4897-3317-8a79-0181a34fa929","position":{"x":1288.0,"y":-296.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"fe91e300-c924-322a-a21f-36aabb14d5a0","position":{"x":627.9510427380376,"y":-508.5441751701618},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"fe05268f-3e67-3994-a53c-d7dabf4335f1","position":{"x":1296.0,"y":-72.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"6f4aed31-7e5b-3abd-8fe2-2f86b1f9cffb","position":{"x":1288.0,"y":-512.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"d4c90714-7e94-32a9-9d12-16553efa8c5f","position":{"x":3938.2914097035055,"y":507.3037359656887},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"0392290a-5286-357c-860e-2c83962657f2","position":{"x":1484.5803717217068,"y":39.47260942279411},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"5d7870ad-03ec-36d5-93a6-149488b9e914","position":{"x":274.34833796818873,"y":204.53867056075035},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"161e5796-13c1-3905-890f-6c14b3e102f0","position":{"x":3648.0,"y":32.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"3a00238a-bd8c-3b5b-b0a7-481c8d8f5527","position":{"x":642.2420285256089,"y":-31.04894699163185},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"b957a856-2660-3b25-b5f9-a9aa359e940c","position":{"x":5272.0,"y":632.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"f1204513-471a-384e-af64-c72c66757c23","position":{"x":1488.0,"y":-680.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"14786fdc-7b31-3636-be44-5beb03beaa92","position":{"x":2352.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"20ef58fe-ec5b-352c-b66c-176d9294f3fd","position":{"x":864.0,"y":-1008.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"bf4bc8b6-290a-3ffb-a7d3-d0090332ea45","position":{"x":2400.0,"y":456.0},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"67967939-9e1f-3484-84ff-046a7db1bb86","position":{"x":2524.1244065273772,"y":441.88276091715215},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"},{"identifier":"6c1f624c-9996-3398-9ee0-a5b9a16d1b35","position":{"x":650.4573447597484,"y":-622.7782432567387},"componentType":"FUNNEL","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"}],"controllerServices":[{"identifier":"4f5171e3-d921-3446-97c6-c1daae184b31","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"10000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"9f03e506-b18c-391d-bf36-ed73bad090c5"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"bed5b379-7176-3e2e-a326-9e571b9c8244":{"identifier":"bed5b379-7176-3e2e-a326-9e571b9c8244","name":"AzureKafkaProductionSSLService"},"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22":{"identifier":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","name":"AzureKafkaStagingSSLService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}