Nifi_-_errorlogs.json
{"flowContents":{"identifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Nifi - errorlogs","comments":"","position":{"x":-1440.0,"y":3320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2fb907d3-a9bf-305a-b6cd-cd16dc5a111e","name":"TailFile","comments":"","position":{"x":1688.0,"y":296.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.TailFile","properties":{"tail-base-directory":null,"tailfile-recursive-lookup":"false","File Location":"Local","tailfile-maximum-age":"24 hours","Rolling Filename Pattern":null,"File to Tail":"/var/log/nifi/nifi-app.log","Initial Start Position":"Current Time","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"ee0cbca7-4249-3e10-9f25-407c1d40f479","name":"RouteText","comments":"","position":{"x":1088.0,"y":1008.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteText","properties":{"minifi":"minifi","Routing Strategy":"Route to 'matched' if lines matches any condition","Ignore Leading/Trailing Whitespace":"true","Matching Strategy":"Contains","Character Set":"UTF-8","Ignore Case":"false","Grouping Regular Expression":null},"propertyDescriptors":{"minifi":{"name":"minifi","displayName":"minifi","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","name":"RouteOnContent","comments":"","position":{"x":1696.0,"y":824.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnContent","properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","ERROR":"ERROR","INFO":"INFO","Character Set":"UTF-8","DEBUG":"DEBUG","WARN":"WARN"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"ERROR":{"name":"ERROR","displayName":"ERROR","identifiesControllerService":false,"sensitive":false},"INFO":{"name":"INFO","displayName":"INFO","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"DEBUG":{"name":"DEBUG","displayName":"DEBUG","identifiesControllerService":false,"sensitive":false},"WARN":{"name":"WARN","displayName":"WARN","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","name":"RouteOnContent","comments":"","position":{"x":1064.0,"y":856.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnContent","properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","gtco_error":"gtco","minifi_error":"minifi-status.log","Character Set":"UTF-8","lockbolt_error":"lockbolt"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"gtco_error":{"name":"gtco_error","displayName":"gtco_error","identifiesControllerService":false,"sensitive":false},"minifi_error":{"name":"minifi_error","displayName":"minifi_error","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"lockbolt_error":{"name":"lockbolt_error","displayName":"lockbolt_error","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"7a67cf76-05b7-324f-bb2c-a2527de21e52","name":"PutEmail","comments":"","position":{"x":2344.0,"y":1360.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutEmail","properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":null,"Attach File":"false","attribute-name-regex":null,"SMTP Port":"25","SMTP Auth":"true","From":null,"Include All Attributes In Message":"false","SMTP Hostname":null,"Subject":"Message from NiFi - Error","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"nifi@forvia.com","To":"irving.diaz@forvia.com","email-ff-content-as-message":"false","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP TLS","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"401913bf-1075-3cda-a945-7ab15371f247","name":"ExtractGrok","comments":"","position":{"x":1704.0,"y":1368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ExtractGrok","properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} \\[%{DATA:thread}\\] %{DATA:class} %{GREEDYDATA:message}","Destination":"flowfile-attribute","Keep Empty Captures":"true","Grok Pattern file":null,"Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Named captures only":"false"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Keep Empty Captures":{"name":"Keep Empty Captures","displayName":"Keep Empty Captures","identifiesControllerService":false,"sensitive":false},"Grok Pattern file":{"name":"Grok Pattern file","displayName":"Grok Pattern file","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Named captures only":{"name":"Named captures only","displayName":"Named captures only","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"9512fabc-16df-3177-b22f-9cb1fc91fe49","name":"SplitText","comments":"","position":{"x":1688.0,"y":512.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitText","properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"f85b72af-6cdb-32a5-9f82-c3c34573fadc","name":"UpdateAttribute","comments":"","position":{"x":2504.0,"y":848.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"f3ebe6b7-b9fc-3c42-bb4d-52c52d0091c3","name":"PutFile","comments":"","position":{"x":312.0,"y":704.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/var/log/nifi_gtco_error.log","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"12e908b2-9406-3399-9182-551eb47f61f1","name":"PutFile","comments":"","position":{"x":360.0,"y":960.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":"777","Maximum File Count":null,"Last Modified Time":null,"Directory":"/var/log/nifi/nifi_minifi_error.log","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"798b7287-15fd-35d5-b6a9-6ddbdc4955fb","name":"PutAzureTeams","comments":"","position":{"x":1696.0,"y":1576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.slack.PutSlack","properties":{"icon-emoji":null,"webhook-text":"Hi, \n An Error occoured at ${grok.timestamp} with Service ${grok.thread}. Error msg ${grok.message}","channel":"#demo-logging","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"561b622b-1310-30a2-a112-6577547b79a1","name":"","source":{"id":"ee0cbca7-4249-3e10-9f25-407c1d40f479","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteText","comments":""},"destination":{"id":"f520d370-2f6a-3e4d-84f6-2ff114a91179","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"4da8cc54-da18-3785-8151-caf845cd7e35","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"f85b72af-6cdb-32a5-9f82-c3c34573fadc","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"UpdateAttribute","comments":""},"labelIndex":2,"zIndex":0,"selectedRelationships":["WARN"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2128.0,"y":912.0},{"x":2176.0,"y":912.0},{"x":2272.0,"y":792.0},{"x":2424.0,"y":824.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"0a270adc-26bf-37a5-bc5a-4447ea824d36","name":"","source":{"id":"2fb907d3-a9bf-305a-b6cd-cd16dc5a111e","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"TailFile","comments":""},"destination":{"id":"9512fabc-16df-3177-b22f-9cb1fc91fe49","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"SplitText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"4058d036-659f-30bf-87bd-5c8dcae7727e","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"f85b72af-6cdb-32a5-9f82-c3c34573fadc","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"UpdateAttribute","comments":""},"labelIndex":4,"zIndex":0,"selectedRelationships":["INFO"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2120.0,"y":888.0},{"x":2113.574951171875,"y":719.7117919921875},{"x":2120.0,"y":728.0},{"x":2272.0,"y":704.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"33902b26-e167-3b12-8a31-93dc2ec6b3bb","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"994b1411-01a7-3d36-ab18-9fc2ed0a29d9","name":"","source":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"180b99da-29fd-3e26-b3e9-8eff0bca1394","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["gtco_error"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"1fb7d072-250f-325c-a87a-04acb93a2370","name":"","source":{"id":"9512fabc-16df-3177-b22f-9cb1fc91fe49","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"SplitText","comments":""},"destination":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"2 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"b85518a1-c2a4-34dd-b6ab-33c93ecd0f3e","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"ee0cbca7-4249-3e10-9f25-407c1d40f479","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"64eb03b8-f4dd-3899-8e39-fed8763f9f35","name":"","source":{"id":"12e908b2-9406-3399-9182-551eb47f61f1","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"PutFile","comments":""},"destination":{"id":"8e7a8944-48e6-3b12-8ded-f38cf7138be2","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"b027997f-af1b-3227-8888-3efd12b259fc","name":"","source":{"id":"12e908b2-9406-3399-9182-551eb47f61f1","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"PutFile","comments":""},"destination":{"id":"883421ec-bc0e-34f8-bb38-b3b170d0d857","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"56ca9950-56cc-32f7-a899-e5f08ccaccf2","name":"","source":{"id":"401913bf-1075-3cda-a945-7ab15371f247","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"ExtractGrok","comments":""},"destination":{"id":"798b7287-15fd-35d5-b6a9-6ddbdc4955fb","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"PutAzureTeams","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"2f9c73e1-c1f2-3c21-a621-f8b8dc077435","name":"","source":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"28444455-ef37-354d-8088-641a251d5c07","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["lockbolt_error"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"055f2e50-830f-32ee-a1e5-a3ecc52b06f8","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"401913bf-1075-3cda-a945-7ab15371f247","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"ExtractGrok","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"df3722a8-244c-3bb9-81de-95800ca9d862","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"f85b72af-6cdb-32a5-9f82-c3c34573fadc","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"6a80d2d8-6e64-3b22-a4a4-6382dae12d31","name":"","source":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"f3ebe6b7-b9fc-3c42-bb4d-52c52d0091c3","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["gtco_error"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"bea92f4b-59ad-3b50-bd51-60ebbceb83b4","name":"","source":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"88494774-fe08-367e-a486-e2a95f56968b","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"4eff3507-81af-3ee1-9da1-4771a90c7d35","name":"","source":{"id":"401913bf-1075-3cda-a945-7ab15371f247","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"ExtractGrok","comments":""},"destination":{"id":"7a67cf76-05b7-324f-bb2c-a2527de21e52","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"PutEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"7affea95-7088-3ed4-9b02-103f1f8ffeeb","name":"","source":{"id":"d8f9e174-e434-3c8a-a9e4-0bf95b5d28a2","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"f85b72af-6cdb-32a5-9f82-c3c34573fadc","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["DEBUG"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2123.337158203125,"y":1004.1978149414062},{"x":2272.0,"y":1008.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"d5964580-039e-316d-8232-5694c435c0e2","name":"","source":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"8f3a0ee1-de7a-3fba-9ee7-4fb5aea0edd8","type":"FUNNEL","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["minifi_error"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"6d3714b9-5592-365f-887a-595a7c21ff94","name":"","source":{"id":"e8ba01e8-4a04-35ab-b567-b0aa475bf2da","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"RouteOnContent","comments":""},"destination":{"id":"12e908b2-9406-3399-9182-551eb47f61f1","type":"PROCESSOR","groupId":"4f894f37-cdd4-3cf6-b3c1-46982053a810","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["minifi_error"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"}],"labels":[{"identifier":"54ef5b48-1a71-3643-9deb-eecc2dca230a","position":{"x":1560.0,"y":1344.0},"label":"Send notification to Microsoft Teams\n","width":664.0,"height":416.0,"style":{"background-color":"#37a1ed","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"}],"funnels":[{"identifier":"883421ec-bc0e-34f8-bb38-b3b170d0d857","position":{"x":196.5186262625389,"y":975.0197244207026},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"8f3a0ee1-de7a-3fba-9ee7-4fb5aea0edd8","position":{"x":736.0,"y":888.0},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"180b99da-29fd-3e26-b3e9-8eff0bca1394","position":{"x":1182.034400137967,"y":633.414436685086},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"8e7a8944-48e6-3b12-8ded-f38cf7138be2","position":{"x":134.54600858018833,"y":1092.9188507432232},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"88494774-fe08-367e-a486-e2a95f56968b","position":{"x":852.8709286524879,"y":694.3509333756983},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"f520d370-2f6a-3e4d-84f6-2ff114a91179","position":{"x":792.0,"y":1032.0},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"},{"identifier":"28444455-ef37-354d-8088-641a251d5c07","position":{"x":1385.9306255706754,"y":705.3088765044565},"componentType":"FUNNEL","groupIdentifier":"4f894f37-cdd4-3cf6-b3c1-46982053a810"}],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}