Nifi_Metrics_Monitoring.json
{"flowContents":{"identifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"Nifi Metrics Monitoring","comments":"","position":{"x":-968.0,"y":-288.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"40a5f6f3-b826-3eee-8777-e07a631f7149","name":"FetchDistributedMapCache","comments":"","position":{"x":556.8916958053971,"y":1198.0206040202288},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","properties":{"Cache Entry Identifier":"${parentId}","Put Cache Value In Attribute":"parentName","Distributed Cache Service":"870a9cc5-888a-3ba3-960c-1a6fc6eb74b1","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"330b4054-b34f-3d2b-8320-f8438e355ce6","name":"EvaluateJsonPath","comments":"","position":{"x":570.7149187223715,"y":993.2619367240886},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","componentType":"$.componentType","Return Type":"auto-detect","Null Value Representation":"empty string","parentId":"$.parentId","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"componentType":{"name":"componentType","displayName":"componentType","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"parentId":{"name":"parentId","displayName":"parentId","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"80024744-de5c-3803-9e23-012b50274598","name":"EvaluateJsonPath","comments":"","position":{"x":149.96319216188897,"y":1194.841474290207},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","componentName":"$.componentName","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"componentName":{"name":"componentName","displayName":"componentName","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"0397c73f-b5cd-3249-a245-ba89b11354a6","name":"SplitJson","comments":"","position":{"x":569.7250520713797,"y":791.819222070522},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"2668b72d-ad7c-3e37-9066-b2fe4ef3c46f","name":"ConvertRecord","comments":"","position":{"x":1152.5897552929841,"y":1210.417610603164},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"ab2fa9b0-ce6c-3fb5-afae-e4a994cba811","record-reader":"4b759c5d-1a6f-3581-b104-ed93bc055489","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"ac2fa29f-fd11-378e-ba9d-5f61f472390c","name":"PutInfluxDBinAzureProduction","comments":"","position":{"x":1869.9638760195403,"y":1305.2618498573129},"bundle":{"group":"org.apache.nifi","artifact":"nifi-influxdb-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.influxdb.PutInfluxDB","properties":{"influxdb-charset":"UTF-8","influxdb-consistency-level":"ONE","influxdb-dbname":"nifi_monitoring","influxdb-username":"9lsbigdatarun","influxdb-url":"http://wwvcaapp0025.dc.ege.ds:8086","InfluxDB Max Connection Time Out (seconds)":"0 seconds","influxdb-retention-policy":"3 months","influxdb-max-records-size":"5 MB"},"propertyDescriptors":{"influxdb-charset":{"name":"influxdb-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"influxdb-consistency-level":{"name":"influxdb-consistency-level","displayName":"Consistency Level","identifiesControllerService":false,"sensitive":false},"influxdb-dbname":{"name":"influxdb-dbname","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"influxdb-username":{"name":"influxdb-username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"influxdb-url":{"name":"influxdb-url","displayName":"InfluxDB connection URL","identifiesControllerService":false,"sensitive":false},"InfluxDB Max Connection Time Out (seconds)":{"name":"InfluxDB Max Connection Time Out (seconds)","displayName":"InfluxDB Max Connection Time Out (seconds)","identifiesControllerService":false,"sensitive":false},"influxdb-retention-policy":{"name":"influxdb-retention-policy","displayName":"Retention Policy","identifiesControllerService":false,"sensitive":false},"influxdb-password":{"name":"influxdb-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"influxdb-max-records-size":{"name":"influxdb-max-records-size","displayName":"Max size of records","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"2f498ed5-00c1-38bf-8ece-7133ff22db52","name":"LookupRecord","comments":"","position":{"x":568.0,"y":1472.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.LookupRecord","properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","result-record-path":"/application","record-writer":"c6d2da8a-26ed-38be-a562-49f0ffa30a6c","record-reader":"4b759c5d-1a6f-3581-b104-ed93bc055489","lookup-service":"73294576-a5bc-3065-b339-5984ccd3a706","record-update-strategy":"use-property","key":"/parentId"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"a2034938-9dcd-3afd-af46-d243f947a878","name":"RouteOnAttribute","comments":"","position":{"x":559.0580269447723,"y":1682.142776752235},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","InputPort":"${componentType:equals(\"InputPort\")}","ProcessGroup":"${componentType:equals(\"ProcessGroup\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"InputPort":{"name":"InputPort","displayName":"InputPort","identifiesControllerService":false,"sensitive":false},"ProcessGroup":{"name":"ProcessGroup","displayName":"ProcessGroup","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"f4169d82-f496-3394-b325-e1fd3f9d1aeb","name":"PutDistributedMapCache","comments":"","position":{"x":151.0228545654511,"y":1408.9027678313817},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","properties":{"Cache Entry Identifier":"${componentId}","Cache update strategy":"replace","Distributed Cache Service":"870a9cc5-888a-3ba3-960c-1a6fc6eb74b1","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"0db07966-ce28-3651-8bc2-e9bb20a797bb","name":"EvaluateJsonPath","comments":"","position":{"x":157.38123290423277,"y":994.556522512125},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","componentId":"$.componentId","Return Type":"auto-detect","Null Value Representation":"empty string","componentName":"$.componentName","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"componentId":{"name":"componentId","displayName":"componentId","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"componentName":{"name":"componentName","displayName":"componentName","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"4ad22041-fbe3-382c-88a7-1741c5eb26b0","name":"ConvertRecord","comments":"","position":{"x":1360.0,"y":1760.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.ConvertRecord","properties":{"record-writer":"0726ff70-5891-347a-b764-f70bbaf1621a","record-reader":"4b759c5d-1a6f-3581-b104-ed93bc055489","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"}],"inputPorts":[{"identifier":"ec7b21f4-cc15-3044-8fa1-35f6f2b20a17","name":"GIS-S2SMTR-s2smetrics","comments":"","position":{"x":627.3330586039397,"y":663.4596911829061},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"}],"outputPorts":[],"connections":[{"identifier":"c7d393b7-e93a-3ca2-8685-41aa3df1398c","name":"","source":{"id":"0397c73f-b5cd-3249-a245-ba89b11354a6","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"SplitJson","comments":""},"destination":{"id":"330b4054-b34f-3d2b-8320-f8438e355ce6","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"d7bbfeb1-4d97-39b2-b14c-9d18adda2667","name":"","source":{"id":"0397c73f-b5cd-3249-a245-ba89b11354a6","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"SplitJson","comments":""},"destination":{"id":"0db07966-ce28-3651-8bc2-e9bb20a797bb","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"3dc4f0e4-5764-38d4-94c2-434be7e1adfb","name":"","source":{"id":"a2034938-9dcd-3afd-af46-d243f947a878","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"RouteOnAttribute","comments":""},"destination":{"id":"4ad22041-fbe3-382c-88a7-1741c5eb26b0","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["InputPort"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"976b727c-6019-3061-a0f4-467b15f9cb1e","name":"","source":{"id":"ac2fa29f-fd11-378e-ba9d-5f61f472390c","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"PutInfluxDBinAzureProduction","comments":""},"destination":{"id":"175ad401-3fbb-3193-83f3-344078a42020","type":"FUNNEL","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"Funnel","comments":""},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","failure-max-size","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2044.6497802734375,"y":1459.5576171875},{"x":2045.7777099609375,"y":1519.3360595703125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"5ab27e2d-0a19-3e9b-847f-4793a4d00182","name":"","source":{"id":"ec7b21f4-cc15-3044-8fa1-35f6f2b20a17","type":"INPUT_PORT","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"GIS-S2SMTR-s2smetrics","comments":""},"destination":{"id":"0397c73f-b5cd-3249-a245-ba89b11354a6","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"91eb5254-92e2-3d4f-bcc6-df77b2cb28c7","name":"","source":{"id":"40a5f6f3-b826-3eee-8777-e07a631f7149","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"FetchDistributedMapCache","comments":""},"destination":{"id":"2f498ed5-00c1-38bf-8ece-7133ff22db52","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"LookupRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["not-found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":606.6978149414062,"y":1384.529541015625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"e81c469b-8473-3178-9c57-e61e8dac857b","name":"","source":{"id":"4ad22041-fbe3-382c-88a7-1741c5eb26b0","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"ConvertRecord","comments":""},"destination":{"id":"ac2fa29f-fd11-378e-ba9d-5f61f472390c","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"PutInfluxDBinAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"3 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"8244b16a-f451-3e9f-bb40-27123cb59e3c","name":"","source":{"id":"0db07966-ce28-3651-8bc2-e9bb20a797bb","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"EvaluateJsonPath","comments":""},"destination":{"id":"80024744-de5c-3803-9e23-012b50274598","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"60753076-6c77-3720-89f0-0d56752d3c84","name":"","source":{"id":"2668b72d-ad7c-3e37-9066-b2fe4ef3c46f","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"ConvertRecord","comments":""},"destination":{"id":"fff475b1-88bb-300e-9a40-4d0eca8ec40e","type":"FUNNEL","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"1 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"cd497262-d62a-314b-8934-bafd542f6a9e","name":"","source":{"id":"2f498ed5-00c1-38bf-8ece-7133ff22db52","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"LookupRecord","comments":""},"destination":{"id":"a2034938-9dcd-3afd-af46-d243f947a878","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"726302c1-01cf-3cd2-a630-625be5cf8024","name":"","source":{"id":"2668b72d-ad7c-3e37-9066-b2fe4ef3c46f","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"ConvertRecord","comments":""},"destination":{"id":"ac2fa29f-fd11-378e-ba9d-5f61f472390c","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"PutInfluxDBinAzureProduction","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"3 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"9608206d-3515-3b26-baf3-23581fca9e10","name":"","source":{"id":"40a5f6f3-b826-3eee-8777-e07a631f7149","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"FetchDistributedMapCache","comments":""},"destination":{"id":"2f498ed5-00c1-38bf-8ece-7133ff22db52","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"LookupRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":838.7741088867188,"y":1387.70849609375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"4704c50a-a02e-3573-9d74-5f8f00c73c62","name":"","source":{"id":"a2034938-9dcd-3afd-af46-d243f947a878","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"RouteOnAttribute","comments":""},"destination":{"id":"2668b72d-ad7c-3e37-9066-b2fe4ef3c46f","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"ConvertRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["ProcessGroup"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"b1f1de73-f020-3fbd-b5a3-b5be8e7165d1","name":"","source":{"id":"4ad22041-fbe3-382c-88a7-1741c5eb26b0","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"ConvertRecord","comments":""},"destination":{"id":"a9cc62f1-276b-3581-b32a-f9d5ce5e6731","type":"FUNNEL","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"2ad82af8-e726-3a14-a736-f50dd10b4285","name":"","source":{"id":"330b4054-b34f-3d2b-8320-f8438e355ce6","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"EvaluateJsonPath","comments":""},"destination":{"id":"40a5f6f3-b826-3eee-8777-e07a631f7149","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"FetchDistributedMapCache","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"f6b0efb3-565c-34c2-8d40-dc1efe126a25","name":"","source":{"id":"80024744-de5c-3803-9e23-012b50274598","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"EvaluateJsonPath","comments":""},"destination":{"id":"f4169d82-f496-3394-b325-e1fd3f9d1aeb","type":"PROCESSOR","groupId":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9","name":"PutDistributedMapCache","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"}],"labels":[],"funnels":[{"identifier":"175ad401-3fbb-3193-83f3-344078a42020","position":{"x":2021.8010064893197,"y":1533.7590118241774},"componentType":"FUNNEL","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"a9cc62f1-276b-3581-b32a-f9d5ce5e6731","position":{"x":1908.2272134428733,"y":1931.4899338348819},"componentType":"FUNNEL","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"fff475b1-88bb-300e-9a40-4d0eca8ec40e","position":{"x":1808.0,"y":1176.0},"componentType":"FUNNEL","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"}],"controllerServices":[{"identifier":"ab2fa9b0-ce6c-3fb5-afae-e4a994cba811","name":"GIS-S2SMTR-ProcessGroup text writer","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Text":"process_groups,platform=${platform:replace(' ', '_')},component_name=${componentName:replace(' ', '_')},component_type=${componentType:replace(' ', '_')},hostname=${actorHostname:replace(' ', '_')} bytes_read=${bytesRead},bytes_received=${bytesReceived},bytes_send=${bytesSent},bytes_transferred=${bytesTransferred},active_thread_count=${activeThreadCount},queued_count=${queuedCount},queued_content_size=${queuedContentSize},flowfiles_received=${flowFilesReceived},flowfile_sent=${flowFilesSent},flowFiles_transferred=${flowFilesTransferred},input_content_size=${inputContentSize},input_count=${inputCount},output_content_size=${outputContentSize},output_count=${outputCount} ${timestampMillis:toDate(\"yyyy-MM-dd HH:mm:ss\",\"GMT\"):toNumber()}000000\n","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"0726ff70-5891-347a-b764-f70bbaf1621a","name":"GIS-S2SMTR-InputPort text writer","comments":"","type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Text":"input_port,application=${application:replace(' ', '_')},platform=${platform:replace(' ', '_')},component_name=${componentName:replace(' ', '_')},component_type=${componentType:replace(' ', '_')},hostname=${actorHostname:replace(' ', '_')} bytes_received=${bytesReceived},bytes_send=${bytesSent},active_thread_count=${activeThreadCount},flowfiles_received=${flowFilesReceived},flowfile_sent=${flowFilesSent},input_bytes=${inputBytes},input_count=${inputCount},output_bytes=${outputBytes},output_count=${outputCount} ${timestampMillis:toDate(\"yyyy-MM-dd HH:mm:ss\",\"GMT\"):toNumber()}000000","Character Set":"UTF-8"},"propertyDescriptors":{"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"1382e191-f6bb-3e0f-8237-5c84f09f105b","name":"DistributedMapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[],"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"870a9cc5-888a-3ba3-960c-1a6fc6eb74b1","name":"Component Names Distributed Cache","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"4b759c5d-1a6f-3581-b104-ed93bc055489","name":"GIS-S2SMTR-Status JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\" : \"record\",\n  \"name\" : \"status\",\n  \"namespace\" : \"status\",\n  \"fields\" : [\n    // common fields for all components\n\t{ \"name\" : \"statusId\", \"type\" : \"string\"},\n\t{ \"name\" : \"timestampMillis\", \"type\": { \"type\": \"long\", \"logicalType\": \"timestamp-millis\" } },\n\t{ \"name\" : \"timestamp\", \"type\" : \"string\"},\n\t{ \"name\" : \"actorHostname\", \"type\" : \"string\"},\n\t{ \"name\" : \"componentType\", \"type\" : \"string\"},\n\t{ \"name\" : \"componentName\", \"type\" : \"string\"},\n\t{ \"name\" : \"parentId\", \"type\" : [\"string\", \"null\"]},\n\t{ \"name\" : \"platform\", \"type\" : \"string\"},\n\t{ \"name\" : \"application\", \"type\" : \"string\"},\n\t{ \"name\" : \"componentId\", \"type\" : \"string\"},\n\t\n\t// PG + RPG + Ports + Processors\n\t{ \"name\" : \"activeThreadCount\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// PG + Ports + Processors\n\t{ \"name\" : \"flowFilesReceived\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"flowFilesSent\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// PG + Ports + Processors\n\t{ \"name\" : \"bytesReceived\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"bytesSent\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// PG + Connections\n\t{ \"name\" : \"queuedCount\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// PG + Processors\n\t{ \"name\" : \"bytesRead\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"bytesWritten\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// fields for process group status\n\t{ \"name\" : \"bytesTransferred\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"flowFilesTransferred\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"inputContentSize\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"outputContentSize\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"queuedContentSize\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// fields for remote process groups\n\t{ \"name\" : \"activeRemotePortCount\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"inactiveRemotePortCount\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"receivedContentSize\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"receivedCount\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"sentContentSize\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"sentCount\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"averageLineageDuration\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// fields for input/output ports + connections + PG\n\t{ \"name\" : \"inputBytes\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"inputCount\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"outputBytes\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"outputCount\", \"type\" : [\"long\", \"null\"]},\n\t\n\t// fields for connections\n\t{ \"name\" : \"sourceId\", \"type\" : [\"string\", \"null\"]},\n\t{ \"name\" : \"sourceName\", \"type\" : [\"string\", \"null\"]},\n\t{ \"name\" : \"destinationId\", \"type\" : [\"string\", \"null\"]},\n\t{ \"name\" : \"destinationName\", \"type\" : [\"string\", \"null\"]},\n\t{ \"name\" : \"maxQueuedBytes\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"maxQueuedCount\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"queuedBytes\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"backPressureBytesThreshold\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"backPressureObjectThreshold\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"isBackPressureEnabled\", \"type\" : [\"string\", \"null\"]},\n\t\n    // fields for processors\n\t{ \"name\" : \"processorType\", \"type\" : [\"string\", \"null\"]},\n\t{ \"name\" : \"averageLineageDurationMS\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"flowFilesRemoved\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"invocations\", \"type\" : [\"long\", \"null\"]},\n\t{ \"name\" : \"processingNanos\", \"type\" : [\"long\", \"null\"]}\n  ]\n}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"73294576-a5bc-3065-b339-5984ccd3a706","name":"DistributedMapCacheLookupService","comments":"","type":"org.apache.nifi.lookup.DistributedMapCacheLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"character-encoding":"UTF-8","distributed-map-cache-service":"870a9cc5-888a-3ba3-960c-1a6fc6eb74b1"},"propertyDescriptors":{"character-encoding":{"name":"character-encoding","displayName":"Character Encoding","identifiesControllerService":false,"sensitive":false},"distributed-map-cache-service":{"name":"distributed-map-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"},{"identifier":"c6d2da8a-26ed-38be-a562-49f0ffa30a6c","name":"GIS-S2SMTR-Status Json Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"c2cd706c-4cbd-38da-9d1c-94d2f6ac5da9"}],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}