TNR_AZURE.json
{"flowContents":{"identifier":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"TNR AZURE","comments":"","position":{"x":174.96081700500088,"y":-284.6539281650953},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"54a2c1ab-2d77-3b59-8af1-6844e994884c","name":"GetHDFS","comments":"","position":{"x":557.0000152587891,"y":716.0000152587891},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.hadoop.GetHDFS","properties":{"Keep Source File":"false","Hadoop Configuration Resources":"${hdfs_staging_conf}","File Filter Regex":null,"Minimum File Age":"0 sec","Filter Match Name Only":"true","Polling Interval":"0 sec","Ignore Dotted Files":"true","Maximum File Age":"60 sec","Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Recurse Subdirectories":"true","kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","Kerberos Keytab":null,"Batch Size":"100","Kerberos Principal":null,"Kerberos Relogin Period":"4 hours","Directory":"/tmp/tnr"},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Filter Match Name Only":{"name":"Filter Match Name Only","displayName":"Filter Match Name Only","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"3c5ac922-e478-3097-8fcc-c301bd32e729","name":"PutSolrRecord","comments":"","position":{"x":1230.1589793762803,"y":1074.5658674024826},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.solr.PutSolrRecord","properties":{"Solr Update Path":"/update","Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","Fields To Index":null,"kerberos-credentials-service":null,"SSL Context Service":"c0741bb8-ea0b-39e2-9291-986954415119","Solr Maximum Connections Per Host":"5","Username":"9lsbigdatarun","Batch Size":"500","Solr Connection Timeout":"10 seconds","Collection":"${solr_production_collection}","Solr Location":"${solr_production_zk}","Solr Type":"Cloud","put-solr-record-record-reader":"1faefc34-4f4b-3b08-b0dd-8d235b207849","Commit Within":"5000"},"propertyDescriptors":{"Solr Update Path":{"name":"Solr Update Path","displayName":"Solr Update Path","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"Fields To Index":{"name":"Fields To Index","displayName":"Fields To Index","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"put-solr-record-record-reader":{"name":"put-solr-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"ff333b97-aab2-3c0a-8e18-9dfde0577de2","name":"GenerateTestFlowfile","comments":"","position":{"x":556.0000152587891,"y":273.9865531921387},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","generate-ff-custom-text":"{ \"message\": \"This is a test.\", \"date\": \"${now():format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}\" }","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"844ee927-ee4b-3c2f-81c9-0234c3bffd11","name":"PutHDFS","comments":"","position":{"x":1231.2433223200128,"y":1221.1402331195231},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"${hdfs_production_conf}","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"Kerberos Relogin Period":"4 hours","Directory":"/tmp/tnr","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"bfa647bf-3cf6-35a4-b618-b2442e6b2c42","name":"PutFile","comments":"","position":{"x":1232.5180528102424,"y":1368.989385143321},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/tnr","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"ba68dc72-29d5-36eb-b60e-c84449eb83ce","name":"PutSolrRecord","comments":"","position":{"x":1234.3513946533203,"y":425.40164150616084},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.solr.PutSolrRecord","properties":{"Solr Update Path":"/update","Solr Socket Timeout":"10 seconds","ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","Fields To Index":null,"kerberos-credentials-service":null,"SSL Context Service":"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3","Solr Maximum Connections Per Host":"5","Username":"9LSBigDatarun","Batch Size":"500","Solr Connection Timeout":"10 seconds","Collection":"${solr_staging_collection}","Solr Location":"${solr_staging_zk}","Solr Type":"Cloud","put-solr-record-record-reader":"1faefc34-4f4b-3b08-b0dd-8d235b207849","Commit Within":"5000"},"propertyDescriptors":{"Solr Update Path":{"name":"Solr Update Path","displayName":"Solr Update Path","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"Fields To Index":{"name":"Fields To Index","displayName":"Fields To Index","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"put-solr-record-record-reader":{"name":"put-solr-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Commit Within":{"name":"Commit Within","displayName":"Commit Within","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"cf3d5ea1-bcda-3a20-8eeb-2f889bcf30bd","name":"PublishKafkaPlainText","comments":"","position":{"x":1234.3515167236328,"y":267.0881462097168},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-1-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0","properties":{"compression.type":"none","ack.wait.time":"5 secs","use-transactions":"false","attribute-name-regex":null,"acks":"0","bootstrap.servers":"${kafka_staging_url}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SSL","kerberos-credentials-service":null,"ssl.context.service":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","max.request.size":"1 MB","kafka-key":null,"partition":null,"max.block.ms":"5 sec","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${kafka_staging_topic}","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","transactional-id-prefix":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"8a8b8bea-b8e4-39a6-a863-a983ac5caa33","name":"GetHDFS","comments":"","position":{"x":560.8244529248575,"y":1367.7149177083663},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.hadoop.GetHDFS","properties":{"Keep Source File":"false","Hadoop Configuration Resources":"${hdfs_production_conf}","File Filter Regex":null,"Minimum File Age":"0 sec","Filter Match Name Only":"true","Polling Interval":"0 sec","Ignore Dotted Files":"true","Maximum File Age":"60 sec","Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Recurse Subdirectories":"true","kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","Kerberos Keytab":null,"Batch Size":"100","Kerberos Principal":null,"Kerberos Relogin Period":"4 hours","Directory":"/tmp/tnr"},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Filter Match Name Only":{"name":"Filter Match Name Only","displayName":"Filter Match Name Only","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"2985456e-393e-3d68-9c39-64c55f2c3fcf","name":"ConsumeKafkaPlainText","comments":"","position":{"x":562.0990316111427,"y":1075.840357764052},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-1-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0","properties":{"header-name-regex":null,"max.poll.records":"10000","group.id":"tnr","bootstrap.servers":"${kafka_production_url}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SSL","kerberos-credentials-service":null,"ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max-uncommit-offset-wait":"1 secs","sasl.kerberos.keytab":null,"honor-transactions":"true","topic":"${kafka_production_topic}","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"f8b105b6-ba06-3e90-90ad-d9144dd2f41b","name":"QuerySolr","comments":"","position":{"x":560.0,"y":568.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.solr.QuerySolr","properties":{"return_type":"XML","Solr Socket Timeout":"10 seconds","solr_param_start":null,"ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","solr_param_request_handler":"/select","kerberos-credentials-service":null,"SSL Context Service":"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3","solr_param_field_list":null,"solr_param_sort":"date desc","Solr Maximum Connections Per Host":"5","Username":"9LSBigDatarun","solr_param_rows":"1","Solr Connection Timeout":"10 seconds","Collection":"${solr_staging_collection}","Record Writer":null,"solr_param_query":"*:*","Solr Location":"${solr_staging_zk}","Solr Type":"Cloud","amount_documents_to_return":"return_only_top_results"},"propertyDescriptors":{"return_type":{"name":"return_type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"solr_param_start":{"name":"solr_param_start","displayName":"Start of results","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"solr_param_request_handler":{"name":"solr_param_request_handler","displayName":"Request Handler","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"solr_param_field_list":{"name":"solr_param_field_list","displayName":"Field List","identifiesControllerService":false,"sensitive":false},"solr_param_sort":{"name":"solr_param_sort","displayName":"Sorting of result list","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"solr_param_rows":{"name":"solr_param_rows","displayName":"Rows","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"solr_param_query":{"name":"solr_param_query","displayName":"Solr Query","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"amount_documents_to_return":{"name":"amount_documents_to_return","displayName":"Total amount of returned results","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","stats","failure","facets"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"1b6abbcc-da54-38d6-8b28-de7000877c0a","name":"ConsumeKafkaPlainText","comments":"","position":{"x":558.0000152587891,"y":422.40164150616084},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-1-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0","properties":{"header-name-regex":null,"max.poll.records":"10000","group.id":"tnr","bootstrap.servers":"${kafka_staging_url}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SSL","kerberos-credentials-service":null,"ssl.context.service":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","max-uncommit-offset-wait":"1 secs","sasl.kerberos.keytab":null,"honor-transactions":"true","topic":"${kafka_staging_topic}","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"82e08eb2-45a2-36f8-886b-8c3e4f24b9e1","name":"GenerateTestFlowfile","comments":"","position":{"x":559.5499344282929,"y":926.7168234122446},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","generate-ff-custom-text":"{ \"message\": \"This is a test.\", \"date\": \"${now():format(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")}\" }","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"4375493f-a052-322a-8e0b-4dd47fc8117a","name":"PutFile","comments":"","position":{"x":1232.3513946533203,"y":721.3243637084961},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/tnr","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"a7302622-dfce-3ec4-900d-3d83f25d14f6","name":"SendFailureEmail","comments":"","position":{"x":1854.5275945770936,"y":496.3553255201657},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutEmail","properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"An error just happened in the Staging TNR Process in NiFi Marcoussis","Attach File":"false","attribute-name-regex":null,"SMTP Port":"25","SMTP Auth":"false","From":"DL-BIG-DATA-TEAM@faurecia.com","Include All Attributes In Message":"false","SMTP Hostname":"10.20.114.55","Subject":"[Nifi] Error in the Staging TNR Process","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":null,"To":"DL-BIG-DATA-TEAM@faurecia.com","email-ff-content-as-message":"false","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP TLS","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"6001073e-9b4e-31ec-968c-e8b1b6b42465","name":"QuerySolr","comments":"","position":{"x":560.8244577310168,"y":1222.41503869191},"bundle":{"group":"org.apache.nifi","artifact":"nifi-solr-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.solr.QuerySolr","properties":{"return_type":"XML","Solr Socket Timeout":"10 seconds","solr_param_start":null,"ZooKeeper Connection Timeout":"10 seconds","kerberos-principal":null,"Solr Maximum Connections":"10","ZooKeeper Client Timeout":"10 seconds","solr_param_request_handler":"/select","kerberos-credentials-service":null,"SSL Context Service":"c0741bb8-ea0b-39e2-9291-986954415119","solr_param_field_list":null,"solr_param_sort":"date desc","Solr Maximum Connections Per Host":"5","Username":"9lsbigdatarun","solr_param_rows":"1","Solr Connection Timeout":"10 seconds","Collection":"${solr_production_collection}","Record Writer":null,"solr_param_query":"*:*","Solr Location":"${solr_production_zk}","Solr Type":"Cloud","amount_documents_to_return":"return_only_top_results"},"propertyDescriptors":{"return_type":{"name":"return_type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Solr Socket Timeout":{"name":"Solr Socket Timeout","displayName":"Solr Socket Timeout","identifiesControllerService":false,"sensitive":false},"solr_param_start":{"name":"solr_param_start","displayName":"Start of results","identifiesControllerService":false,"sensitive":false},"ZooKeeper Connection Timeout":{"name":"ZooKeeper Connection Timeout","displayName":"ZooKeeper Connection Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections":{"name":"Solr Maximum Connections","displayName":"Solr Maximum Connections","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Timeout":{"name":"ZooKeeper Client Timeout","displayName":"ZooKeeper Client Timeout","identifiesControllerService":false,"sensitive":false},"solr_param_request_handler":{"name":"solr_param_request_handler","displayName":"Request Handler","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"solr_param_field_list":{"name":"solr_param_field_list","displayName":"Field List","identifiesControllerService":false,"sensitive":false},"solr_param_sort":{"name":"solr_param_sort","displayName":"Sorting of result list","identifiesControllerService":false,"sensitive":false},"Solr Maximum Connections Per Host":{"name":"Solr Maximum Connections Per Host","displayName":"Solr Maximum Connections Per Host","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Basic Auth Username","identifiesControllerService":false,"sensitive":false},"solr_param_rows":{"name":"solr_param_rows","displayName":"Rows","identifiesControllerService":false,"sensitive":false},"Solr Connection Timeout":{"name":"Solr Connection Timeout","displayName":"Solr Connection Timeout","identifiesControllerService":false,"sensitive":false},"Collection":{"name":"Collection","displayName":"Collection","identifiesControllerService":false,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"solr_param_query":{"name":"solr_param_query","displayName":"Solr Query","identifiesControllerService":false,"sensitive":false},"Solr Location":{"name":"Solr Location","displayName":"Solr Location","identifiesControllerService":false,"sensitive":false},"Solr Type":{"name":"Solr Type","displayName":"Solr Type","identifiesControllerService":false,"sensitive":false},"amount_documents_to_return":{"name":"amount_documents_to_return","displayName":"Total amount of returned results","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Basic Auth Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","stats","failure","facets"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"ed5f5dc6-7f6b-329a-a75d-8c264ae92b13","name":"PutHDFS","comments":"","position":{"x":1234.3513946533203,"y":571.6621894836426},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"${hdfs_staging_conf}","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":"a230db91-a977-343d-b94a-123e9c098fbb","Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"Kerberos Relogin Period":"4 hours","Directory":"/tmp/tnr","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"6a21119d-b221-309d-b467-3d4400996216","name":"SendFailureEmail","comments":"","position":{"x":1858.3272491030907,"y":1149.7649359676714},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.PutEmail","properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"An error just happened in the Production TNR Process in NiFi Marcoussis","Attach File":"false","attribute-name-regex":null,"SMTP Port":"25","SMTP Auth":"false","From":"DL-BIG-DATA-TEAM@faurecia.com","Include All Attributes In Message":"false","SMTP Hostname":"10.20.114.55","Subject":"[Nifi] Error in the Production TNR Process","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":null,"To":"DL-BIG-DATA-TEAM@faurecia.com","email-ff-content-as-message":"false","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP TLS","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"814dabcb-9c6e-33fe-9be8-74c1848640bd","name":"PublishKafkaPlainText","comments":"","position":{"x":1232.517942373603,"y":926.7167760321163},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-1-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0","properties":{"compression.type":"none","ack.wait.time":"5 secs","use-transactions":"false","attribute-name-regex":null,"acks":"0","bootstrap.servers":"${kafka_production_url}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SSL","kerberos-credentials-service":null,"ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max.request.size":"1 MB","kafka-key":null,"partition":null,"max.block.ms":"5 sec","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${kafka_production_topic}","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","transactional-id-prefix":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3a01f4aa-8b47-3d7d-bb30-68e5c01f06a1","name":"","source":{"id":"ff333b97-aab2-3c0a-8e18-9dfde0577de2","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"GenerateTestFlowfile","comments":""},"destination":{"id":"cf3d5ea1-bcda-3a20-8eeb-2f889bcf30bd","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PublishKafkaPlainText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"fa96083f-be8f-336c-a05d-26d2bbcfe5d7","name":"","source":{"id":"ed5f5dc6-7f6b-329a-a75d-8c264ae92b13","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutHDFS","comments":""},"destination":{"id":"a7302622-dfce-3ec4-900d-3d83f25d14f6","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"5cd18ba6-30ad-362b-8a28-45f691b75e2f","name":"","source":{"id":"814dabcb-9c6e-33fe-9be8-74c1848640bd","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PublishKafkaPlainText","comments":""},"destination":{"id":"6a21119d-b221-309d-b467-3d4400996216","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"9bb52631-fefd-386a-b3bb-b25a1a92a546","name":"","source":{"id":"2985456e-393e-3d68-9c39-64c55f2c3fcf","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"ConsumeKafkaPlainText","comments":""},"destination":{"id":"3c5ac922-e478-3097-8fcc-c301bd32e729","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutSolrRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"82a3a464-f6ac-3b83-9a72-3dc595d8a70b","name":"","source":{"id":"1b6abbcc-da54-38d6-8b28-de7000877c0a","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"ConsumeKafkaPlainText","comments":""},"destination":{"id":"ba68dc72-29d5-36eb-b60e-c84449eb83ce","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutSolrRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"ef2eb631-e27a-3639-a64c-f246e8ca411a","name":"","source":{"id":"82e08eb2-45a2-36f8-886b-8c3e4f24b9e1","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"GenerateTestFlowfile","comments":""},"destination":{"id":"814dabcb-9c6e-33fe-9be8-74c1848640bd","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PublishKafkaPlainText","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"9cf7abd5-baf6-3613-8b71-8fb5286c1277","name":"","source":{"id":"54a2c1ab-2d77-3b59-8af1-6844e994884c","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"GetHDFS","comments":""},"destination":{"id":"4375493f-a052-322a-8e0b-4dd47fc8117a","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"b971ba43-9ff1-3bcd-8b75-7af58069f51c","name":"","source":{"id":"ba68dc72-29d5-36eb-b60e-c84449eb83ce","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutSolrRecord","comments":""},"destination":{"id":"a7302622-dfce-3ec4-900d-3d83f25d14f6","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["connection_failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"df37b423-98bf-3e0b-baaa-291e96ae98b0","name":"","source":{"id":"f8b105b6-ba06-3e90-90ad-d9144dd2f41b","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"QuerySolr","comments":""},"destination":{"id":"ed5f5dc6-7f6b-329a-a75d-8c264ae92b13","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["results"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"1c62b9e9-e843-38f8-a4d5-f7cdced30f49","name":"","source":{"id":"6001073e-9b4e-31ec-968c-e8b1b6b42465","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"QuerySolr","comments":""},"destination":{"id":"844ee927-ee4b-3c2f-81c9-0234c3bffd11","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutHDFS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["results"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"9432b23b-c7e6-3a47-a672-58e442a45f87","name":"","source":{"id":"cf3d5ea1-bcda-3a20-8eeb-2f889bcf30bd","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PublishKafkaPlainText","comments":""},"destination":{"id":"a7302622-dfce-3ec4-900d-3d83f25d14f6","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"95b4e74c-dbe7-3162-98b6-e016430edaf5","name":"","source":{"id":"3c5ac922-e478-3097-8fcc-c301bd32e729","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutSolrRecord","comments":""},"destination":{"id":"6a21119d-b221-309d-b467-3d4400996216","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["connection_failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"9be77d56-7473-3b85-97aa-5721d6d66f47","name":"","source":{"id":"bfa647bf-3cf6-35a4-b618-b2442e6b2c42","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutFile","comments":""},"destination":{"id":"6a21119d-b221-309d-b467-3d4400996216","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"3ccc47ea-406a-3c63-9bee-379f27428b7d","name":"","source":{"id":"844ee927-ee4b-3c2f-81c9-0234c3bffd11","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutHDFS","comments":""},"destination":{"id":"6a21119d-b221-309d-b467-3d4400996216","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"3b908440-fc73-3abf-a064-a33623f83d52","name":"","source":{"id":"8a8b8bea-b8e4-39a6-a863-a983ac5caa33","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"GetHDFS","comments":""},"destination":{"id":"bfa647bf-3cf6-35a4-b618-b2442e6b2c42","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"ad876d12-e73f-3c2c-89b6-a7cce485b6c3","name":"","source":{"id":"4375493f-a052-322a-8e0b-4dd47fc8117a","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"PutFile","comments":""},"destination":{"id":"a7302622-dfce-3ec4-900d-3d83f25d14f6","type":"PROCESSOR","groupId":"1821612b-4943-3e79-98aa-9a426c53e9d7","name":"SendFailureEmail","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"}],"labels":[{"identifier":"d5805487-c314-32d8-87b1-dac16d88436a","position":{"x":552.0,"y":880.0},"label":"PRODUCTION TNR","width":1663.8604278564453,"height":623.3043518066406,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"},{"identifier":"89f5ab2b-f339-3871-8bea-10e26f1e3cd6","position":{"x":552.0,"y":240.0},"label":"STAGING TNR","width":1663.8604278564453,"height":623.3043518066406,"style":{"font-size":"24px"},"componentType":"LABEL","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"}],"funnels":[],"controllerServices":[{"identifier":"1faefc34-4f4b-3b08-b0dd-8d235b207849","name":"SolrJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.1.1.0.14-1"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.1.1.0.14-1"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"1821612b-4943-3e79-98aa-9a426c53e9d7"}],"variables":{"hdfs_production_conf":"/etc/hadoop-azure-prd/conf/core-site.xml,/etc/hadoop-azure-prd/conf/hdfs-site.xml","hdfs_staging_conf":"/etc/hadoop-azure-stg/conf/core-site.xml,/etc/hadoop-azure-stg/conf/hdfs-site.xml","solr_production_collection":"tnr_solr_prd","solr_production_zk":"wwvcaapp0023.dc.ege.ds:2181,wwvcaapp0024.dc.ege.ds:2181,wwvcaapp0025.dc.ege.ds:2181/solr","kafka_production_url":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","solr_staging_collection":"tnr_solr_stg","solr_staging_zk":"wwvcaapp0002.dc.ege.ds:2181,wwvcaapp0003.dc.ege.ds:2181,wwvcaapp0004.dc.ege.ds:2181/solr","kafka_staging_topic":"tnr_nifi_stg","kafka_production_topic":"tnr_nifi_prd","kafka_staging_url":"wwvcaapp0005.dc.ege.ds:9093,wwvcaapp0006.dc.ege.ds:9093,wwvcaapp0007.dc.ege.ds:9093"},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3":{"identifier":"57cfafe8-80ac-3e9a-9b5b-d81c6ca49ac3","name":"AzureHadoopStagingSSLService"},"c0741bb8-ea0b-39e2-9291-986954415119":{"identifier":"c0741bb8-ea0b-39e2-9291-986954415119","name":"AzureHadoopProductionSSLService"},"a230db91-a977-343d-b94a-123e9c098fbb":{"identifier":"a230db91-a977-343d-b94a-123e9c098fbb","name":"AzureDatalakeKeytabService"},"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22":{"identifier":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","name":"AzureKafkaStagingSSLService"},"bed5b379-7176-3e2e-a326-9e571b9c8244":{"identifier":"bed5b379-7176-3e2e-a326-9e571b9c8244","name":"AzureKafkaProductionSSLService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}