Weld_Warrior.json
{"flowContents":{"identifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Weld Warrior","comments":"","position":{"x":-400.0,"y":1224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"7d6228c9-772a-3ba1-9a0c-f55a62e9e160","name":"SplitAvro","comments":"","position":{"x":960.0,"y":1024.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-avro-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.avro.SplitAvro","properties":{"Split Strategy":"Record","Output Strategy":"Datafile","Transfer Metadata":"true","Output Size":"1"},"propertyDescriptors":{"Split Strategy":{"name":"Split Strategy","displayName":"Split Strategy","identifiesControllerService":false,"sensitive":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false},"Transfer Metadata":{"name":"Transfer Metadata","displayName":"Transfer Metadata","identifiesControllerService":false,"sensitive":false},"Output Size":{"name":"Output Size","displayName":"Output Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"dcad32ac-181f-35a8-98f2-b5af16bb4b65","name":"RouteOnAttribute","comments":"","position":{"x":1992.193601396396,"y":793.8631633480354},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","nb_retry_less_3":"${nb_retry:le(3)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nb_retry_less_3":{"name":"nb_retry_less_3","displayName":"nb_retry_less_3","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"e3fa72f5-48c8-3ece-9812-9077058eac28","name":"UpdateAttribute","comments":"","position":{"x":2307.4414066784675,"y":1018.9939734121624},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","nb_retry":"${nb_retry:isNull():ifElse(1, ${nb_retry:plus(1)})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"nb_retry":{"name":"nb_retry","displayName":"nb_retry","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"983c3367-ac0a-39a4-9cb8-fd5d23441431","name":"Kafka_send_data_to_Azure_Prod","comments":"","position":{"x":1662.9933500662655,"y":1194.890118279685},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0026.dc.ege.ds:9093,wwvcaapp0027.dc.ege.ds:9093,wwvcaapp0028.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"bed5b379-7176-3e2e-a326-9e571b9c8244","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"FAS-WW","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"5e617cf6-6516-382b-9890-d8026f16bba5","name":"UpdateAttribute","comments":"","position":{"x":2314.5638763914817,"y":1192.7994034931014},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","nb_retry":"${nb_retry:isNull():ifElse(1, ${nb_retry:plus(1)})}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"nb_retry":{"name":"nb_retry","displayName":"nb_retry","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"9f859845-b7c9-3182-b462-c3ef5da2ed01","name":"RouteOnAttribute","comments":"","position":{"x":2009.2884832187851,"y":1417.853285811787},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","nb_retry_less_3":"${nb_retry:le(3)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"nb_retry_less_3":{"name":"nb_retry_less_3","displayName":"nb_retry_less_3","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"aa04722f-2e82-37a5-8770-70ffdaf4b4a0","name":"Kafka_send_data_to_Azure_Stag","comments":"","position":{"x":1660.4098539725155,"y":1020.1780821468726},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.1.1.0.14-1"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"wwvcaapp0005.dc.ege.ds:9093,wwvcaapp0006.dc.ege.ds:9093,wwvcaapp0007.dc.ege.ds:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","security.protocol":"SSL","ssl.context.service":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"FAS-WW","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"}],"inputPorts":[{"identifier":"83406ecf-6145-3fa5-91b3-4a906d2720a5","name":"MINIFI WW SUCCESS","comments":"","position":{"x":437.0603638356571,"y":1060.189987232924},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"78f38bdd-0912-30b1-bf61-b11e22344e76","name":"MINIFI WW ERROR","comments":"","position":{"x":436.49182135518834,"y":909.4875336196428},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"cd9e6f36-f8fa-3aa9-a93f-d839b3b0e146","name":"MINIFI WW STATUS","comments":"","position":{"x":438.2695413125575,"y":755.67022187363},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"}],"outputPorts":[{"identifier":"b05b8cb6-3793-37b5-a874-33de3c68fcb8","name":"Minifi instance status","comments":"","position":{"x":960.0,"y":760.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"}],"connections":[{"identifier":"016c48a3-3211-38ed-98c3-4b7869fcf20f","name":"","source":{"id":"5e617cf6-6516-382b-9890-d8026f16bba5","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"UpdateAttribute","comments":""},"destination":{"id":"9f859845-b7c9-3182-b462-c3ef5da2ed01","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"79de5b83-7764-38a7-9e0f-f4613b636c7b","name":"","source":{"id":"9f859845-b7c9-3182-b462-c3ef5da2ed01","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"RouteOnAttribute","comments":""},"destination":{"id":"983c3367-ac0a-39a4-9cb8-fd5d23441431","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Kafka_send_data_to_Azure_Prod","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nb_retry_less_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"986e08d9-55b7-3c41-8bb9-12e0ec388bcd","name":"","source":{"id":"7d6228c9-772a-3ba1-9a0c-f55a62e9e160","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"SplitAvro","comments":""},"destination":{"id":"a0ea52e2-2b1f-3e1f-bfbd-3781927c6712","type":"FUNNEL","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"1f2a39a2-c332-30aa-8382-6701c7ba7cd1","name":"","source":{"id":"7d6228c9-772a-3ba1-9a0c-f55a62e9e160","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"SplitAvro","comments":""},"destination":{"id":"983c3367-ac0a-39a4-9cb8-fd5d23441431","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Kafka_send_data_to_Azure_Prod","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"abd666b7-ff4d-3d95-99e4-dc306df1c5fd","name":"","source":{"id":"e3fa72f5-48c8-3ece-9812-9077058eac28","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"UpdateAttribute","comments":""},"destination":{"id":"dcad32ac-181f-35a8-98f2-b5af16bb4b65","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"4c631419-3118-32ae-be80-7daec0499576","name":"","source":{"id":"983c3367-ac0a-39a4-9cb8-fd5d23441431","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Kafka_send_data_to_Azure_Prod","comments":""},"destination":{"id":"5e617cf6-6516-382b-9890-d8026f16bba5","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"25642a9f-6e0d-3dd0-9796-21ecbdd898ba","name":"","source":{"id":"aa04722f-2e82-37a5-8770-70ffdaf4b4a0","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Kafka_send_data_to_Azure_Stag","comments":""},"destination":{"id":"e3fa72f5-48c8-3ece-9812-9077058eac28","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"ffd6ecf4-2e37-3549-b174-a09a37484761","name":"","source":{"id":"7d6228c9-772a-3ba1-9a0c-f55a62e9e160","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"SplitAvro","comments":""},"destination":{"id":"aa04722f-2e82-37a5-8770-70ffdaf4b4a0","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Kafka_send_data_to_Azure_Stag","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"bea85888-02a9-3443-9964-4f417bb6bd3a","name":"","source":{"id":"dcad32ac-181f-35a8-98f2-b5af16bb4b65","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"RouteOnAttribute","comments":""},"destination":{"id":"aa04722f-2e82-37a5-8770-70ffdaf4b4a0","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Kafka_send_data_to_Azure_Stag","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["nb_retry_less_3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"7da535f9-4114-3c5e-a69e-5c0f28420031","name":"","source":{"id":"7d6228c9-772a-3ba1-9a0c-f55a62e9e160","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"SplitAvro","comments":""},"destination":{"id":"9410bcea-b1b7-364c-b2f4-ca968e6866a0","type":"FUNNEL","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":100000000,"backPressureDataSizeThreshold":"30 GB","flowFileExpiration":"5 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"3b562793-7c51-3f39-9ff3-58008dc66b59","name":"","source":{"id":"9f859845-b7c9-3182-b462-c3ef5da2ed01","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"RouteOnAttribute","comments":""},"destination":{"id":"131528d6-f9cb-3665-b77c-42e48c242f02","type":"FUNNEL","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"214a0064-f27b-3adc-8948-430fb4648305","name":"status","source":{"id":"cd9e6f36-f8fa-3aa9-a93f-d839b3b0e146","type":"INPUT_PORT","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"MINIFI WW STATUS","comments":""},"destination":{"id":"b05b8cb6-3793-37b5-a874-33de3c68fcb8","type":"OUTPUT_PORT","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Minifi instance status","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"1c7cda7b-859f-397a-9d00-3ecaffbb09f3","name":"table_not_exist","source":{"id":"78f38bdd-0912-30b1-bf61-b11e22344e76","type":"INPUT_PORT","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"MINIFI WW ERROR","comments":""},"destination":{"id":"6912f737-33b2-3ed5-93b1-714778dd176b","type":"FUNNEL","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"30 mins","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"587c3953-c11c-304a-af3c-3fd7563783e1","name":"","source":{"id":"83406ecf-6145-3fa5-91b3-4a906d2720a5","type":"INPUT_PORT","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"MINIFI WW SUCCESS","comments":""},"destination":{"id":"7d6228c9-772a-3ba1-9a0c-f55a62e9e160","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"SplitAvro","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"b2886e90-d541-3606-a704-373cfda1c99a","name":"","source":{"id":"dcad32ac-181f-35a8-98f2-b5af16bb4b65","type":"PROCESSOR","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"RouteOnAttribute","comments":""},"destination":{"id":"5219364b-fd99-3510-a4c7-20b4b0e2e779","type":"FUNNEL","groupId":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"}],"labels":[],"funnels":[{"identifier":"6912f737-33b2-3ed5-93b1-714778dd176b","position":{"x":960.675424227181,"y":908.9510237938505},"componentType":"FUNNEL","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"9410bcea-b1b7-364c-b2f4-ca968e6866a0","position":{"x":1472.0,"y":856.0},"componentType":"FUNNEL","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"131528d6-f9cb-3665-b77c-42e48c242f02","position":{"x":2626.301385663393,"y":1453.335991138324},"componentType":"FUNNEL","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"a0ea52e2-2b1f-3e1f-bfbd-3781927c6712","position":{"x":1113.6360915716593,"y":1299.248440953544},"componentType":"FUNNEL","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"},{"identifier":"5219364b-fd99-3510-a4c7-20b4b0e2e779","position":{"x":2622.0280370441287,"y":827.9211860573851},"componentType":"FUNNEL","groupIdentifier":"4ab75c7b-ea21-36fc-98a1-bd5313c296ae"}],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"bed5b379-7176-3e2e-a326-9e571b9c8244":{"identifier":"bed5b379-7176-3e2e-a326-9e571b9c8244","name":"AzureKafkaProductionSSLService"},"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22":{"identifier":"1e46ffa7-92f7-34a4-b3ad-0ddfcd7d6c22","name":"AzureKafkaStagingSSLService"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}